{{# hero-banner }}
<section class="hero-banner {{ styleModifier }}">
  <div class="hero-banner__media">
    {{# video-src }}
      <div class="hero-banner__video-placeholder" data-hero-banner-video="{{ video-src }}"></div>
    {{/ video-src }}

    {{^ video-src }}
      {{# show-image }}
        <div class="hero-banner__image">
          {{> atoms-hero }}
        </div>
      {{/ show-image }}
    {{/ video-src }}
  </div>

  <div class="hero-banner__body">
    <div class="hero-banner__title">
      <span class="hero-banner__title--top">{{ top-text }}</span>
      <span class="hero-banner__title--bottom">{{ bottom-text }}</span>
    </div>
    <div class ="hero-banner__horizontal-line"></div>
    <div class="hero-banner__buttons">
      {{# btn-video }}
      <a href="#" class="btn--invert">Play Video</a>
      {{/ btn-video }}
      <a href="#" class="btn--invert">Apply Now</a>
    </div>
  </div>
</section>
{{/ hero-banner }}
