&lt;!-- Use molecules-simple-list-article for lists --&gt;
&lt;section class=&quot;pane-title--weighted-underline&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;Top&lt;/span&gt; Stories&lt;/h2&gt;
  {{# stories-top }}
    {{&gt; molecules-simple-list-article }}
  {{/ stories-top }}
&lt;/section&gt;