<button type="button" class="tiny button" href="#">Tiny Button</button>
<button type="button" class="small button" href="#">Small Button</button>
<button type="button" class="button" href="#">Basic Button<img class="right-pointer" src="../../images/right-pointer-knockout.svg"/></button>
<button type="button" class="secondary button" href="#">Next Label<img class="right-pointer" src="../../images/right-pointer-red.svg"/></button>
<button type="button" class="large button" href="#"><img class="left-pointer" src="../../images/left-pointer-knockout.svg"/>Large Button<img class="right-pointer" src="../../images/right-pointer-knockout.svg"/></button>

<button type="button" class="expanded button" href="#">Such Expand</button>
<button type="button" class="small expanded button" href="#">Wow, Small Expand</button>
<button type="button" class="disabled button" href="#">Disabled Button</button>
<button type="button" class="secondary button" href="#">Secondary Button</button>
<button type="button" class="success button">Save</button>
<button type="button" class="alert button">Delete</button>
<a class="warning button" href="#">Warning Button</a>
<div class="stacked button-group">
  <a class="button">Mark as image</a>
  <a class="button">Mark as text</a>
</div>
<div class="callout">
  <button class="close-button" aria-label="Close alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>close button —></p>
</div>
