<a class="tiny button" href="#">Tiny Button</a>
<a class="small button" href="#">Small Button</a>
<a class="button" href="#">Basic Button</a>
<a class="large button" href="#">Large Button</a>
<a class="expanded button" href="#">Such Expand</a>
<a class="small expanded button" href="#">Wow, Small Expand</a>
<a class="disabled button" href="#">Disabled Button</a>
<a class="secondary button" href="#">Secondary Button</a>
<button type="button" class="success button">Save</button>
<button type="button" class="alert button">Delete</button>
<a class="warning button" href="#">Warning Button</a>
<div class="stacked button-group">
  <a class="button">Stacked Button</a>
  <a class="button">Stacked Button</a>
</div>
<div class="callout">
  <button class="close-button" aria-label="Close alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>close button —></p>
</div>
