<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn--primary">Primary Button</a></p>
<p><a href="#" class="btn--alt">Alternate Button</a></p>
<p><a href="#" class="btn--invert">Invert Button</a></p>
<p><a href="#" class="btn btn--disabled">Disabled Button</a></p>
<p><a href="#" class="btn btn--lg">Large Button</a></p>
<p><a href="#" class="btn btn--sm">Small Button</a></p>
<p><a href="#" class="btn btn--block">Block Button</a></p>