<p><a href="#" class="btn">Main Button</a></p>
<p><a href="#" class="btn--secondary">Secondary Button</a></p>
<div class="btn-paddles">
  <p><a href="#" class="btn--paddle-upper">Upper Button</a></p>
  <p><a href="#" class="btn--paddle-lower">Lower Button</a></p>
</div>
<p><a href="#" class="btn btn--disabled">Disabled Button</a></p>
<p><a href="#" class="btn btn--lg">Large Button</a></p>
<p><a href="#" class="btn btn--sm">Small Button</a></p>
<p><a href="#" class="btn btn--block">Block Button</a></p>
<p><a href="#" class="btn-plus">+</a></p>
<p><a href="#" class="btn-minus">-</a></p>
<p><a href="#" class="btn btn-search">Search</a></p>
<p><a href="#" class="btn btn-transcribe">Transcribe this mark</a></p>
