{{&gt; molecules-primary-nav }}
{{&gt; molecules-browse-toolbar }}
&lt;section class=&quot;medium-10 medium-offset-1 large-8 large-offset-2 columns browse&quot;&gt;
	&lt;h1&gt;Browse labels randomly&lt;/h1&gt;
	{{&gt; molecules-pagination }}
	{{&gt; organisms-gallery }}
	{{&gt; molecules-pagination }}
&lt;/section&gt;
{{&gt; organisms-footer }}
