{{&gt; molecules-primary-nav }}
&lt;section class=&quot;medium-10 medium-offset-1 large-8 large-offset-2 row align-middle&quot;&gt;
	&lt;div class=&quot;column&quot;&gt;
		&lt;h3&gt;Help us uncork a piece of history&lt;/h3&gt;
		&lt;p&gt;Before we can create a searchable database, we need to transcribe the labels. That&rsquo;s where you come in!&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;shrink&quot;&gt;
		&lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;Get started&lt;/a&gt;
	&lt;/div&gt;
&lt;/section&gt;
&lt;section class=&quot;medium-10 medium-offset-1 large-8 large-offset-2 columns &quot;&gt;
	&lt;h1&gt;Browse labels randomly&lt;/h1&gt;
	{{&gt; molecules-pagination }}
	&lt;div class=&quot;medium-unstack row&quot;&gt;
		{{# browsegallery }}
			{{&gt; molecules-gallery-thumbnail }}
		{{/ browsegallery }}
	&lt;/div&gt;
	{{&gt; molecules-pagination }}
&lt;/section&gt;
{{&gt; organisms-footer }}
