&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;labels-browse&quot;&gt;
	&lt;fieldset&gt;
		&lt;p&gt;Refine your selection&lt;/p&gt;
		&lt;select name=&quot;varietal&quot;&gt;
			&lt;option value=&quot;all&quot;&gt;All Varietals&lt;/option&gt;
			&lt;option value=&quot;cabernet-sauvignon&quot;&gt;Cabernet Sauvignon&lt;/option&gt;
			&lt;option value=&quot;chardonnay&quot;&gt;Chardonnay&lt;/option&gt;
			&lt;option value=&quot;merlot&quot;&gt;Merlot&lt;/option&gt;
			&lt;option value=&quot;pinot-noir&quot;&gt;Pinot Noir&lt;/option&gt;
			&lt;option value=&quot;sauvignon-blanc&quot;&gt;Sauvignon Blanc&lt;/option&gt;
			&lt;option value=&quot;syrah&quot;&gt;Syrah&lt;/option&gt;
			&lt;option value=&quot;zinfandel&quot;&gt;Zinfandel&lt;/option&gt;
		&lt;/select&gt;
		&lt;select name=&quot;vintage&quot;&gt;
			&lt;option value=&quot;all&quot;&gt;All Vintages&lt;/option&gt;
			&lt;option value=&quot;2007&quot;&gt;2007&lt;/option&gt;
			&lt;option value=&quot;2006&quot;&gt;2006&lt;/option&gt;
			&lt;option value=&quot;2005&quot;&gt;2005&lt;/option&gt;
			&lt;option value=&quot;2004&quot;&gt;2004&lt;/option&gt;
			&lt;option value=&quot;2003&quot;&gt;2003&lt;/option&gt;
			&lt;option value=&quot;2002&quot;&gt;2002&lt;/option&gt;
			&lt;option value=&quot;2001&quot;&gt;2001&lt;/option&gt;
			&lt;option value=&quot;2000&quot;&gt;2000&lt;/option&gt;
			&lt;option value=&quot;1999&quot;&gt;1999&lt;/option&gt;
			&lt;option value=&quot;1998&quot;&gt;1998&lt;/option&gt;
			&lt;option value=&quot;1997&quot;&gt;1997&lt;/option&gt;
			&lt;option value=&quot;1996&quot;&gt;1996&lt;/option&gt;
			&lt;option value=&quot;1995&quot;&gt;1995&lt;/option&gt;
			&lt;option value=&quot;1994&quot;&gt;1994&lt;/option&gt;
			&lt;option value=&quot;1993&quot;&gt;1993&lt;/option&gt;
			&lt;option value=&quot;1992&quot;&gt;1992&lt;/option&gt;
			&lt;option value=&quot;1991&quot;&gt;1991&lt;/option&gt;
			&lt;option value=&quot;1990&quot;&gt;1990&lt;/option&gt;
			&lt;option value=&quot;1989&quot;&gt;1989&lt;/option&gt;
			&lt;option value=&quot;1988&quot;&gt;1988&lt;/option&gt;
			&lt;option value=&quot;1987&quot;&gt;1987&lt;/option&gt;
			&lt;option value=&quot;1986&quot;&gt;1986&lt;/option&gt;
			&lt;option value=&quot;1985&quot;&gt;1985&lt;/option&gt;
			&lt;option value=&quot;1984&quot;&gt;1984&lt;/option&gt;
			&lt;option value=&quot;1983&quot;&gt;1983&lt;/option&gt;
			&lt;option value=&quot;1982&quot;&gt;1982&lt;/option&gt;
			&lt;option value=&quot;1981&quot;&gt;1981&lt;/option&gt;
			&lt;option value=&quot;1980&quot;&gt;1980&lt;/option&gt;
			&lt;option value=&quot;1979&quot;&gt;1979&lt;/option&gt;
			&lt;option value=&quot;1978&quot;&gt;1978&lt;/option&gt;
			&lt;option value=&quot;1977&quot;&gt;1977&lt;/option&gt;
			&lt;option value=&quot;1976&quot;&gt;1976&lt;/option&gt;
			&lt;option value=&quot;1975&quot;&gt;1975&lt;/option&gt;
			&lt;option value=&quot;1974&quot;&gt;1974&lt;/option&gt;
			&lt;option value=&quot;1973&quot;&gt;1973&lt;/option&gt;
			&lt;option value=&quot;1972&quot;&gt;1972&lt;/option&gt;
			&lt;option value=&quot;1971&quot;&gt;1971&lt;/option&gt;
			&lt;option value=&quot;1970&quot;&gt;1970&lt;/option&gt;
			&lt;option value=&quot;1969&quot;&gt;1969&lt;/option&gt;
			&lt;option value=&quot;1968&quot;&gt;1968&lt;/option&gt;
			&lt;option value=&quot;1967&quot;&gt;1967&lt;/option&gt;
			&lt;option value=&quot;1966&quot;&gt;1966&lt;/option&gt;
			&lt;option value=&quot;1965&quot;&gt;1965&lt;/option&gt;
			&lt;option value=&quot;1964&quot;&gt;1964&lt;/option&gt;
			&lt;option value=&quot;1963&quot;&gt;1963&lt;/option&gt;
			&lt;option value=&quot;1962&quot;&gt;1962&lt;/option&gt;
			&lt;option value=&quot;1961&quot;&gt;1961&lt;/option&gt;
			&lt;option value=&quot;1960&quot;&gt;1960&lt;/option&gt;
			&lt;option value=&quot;1959&quot;&gt;1959&lt;/option&gt;
			&lt;option value=&quot;1958&quot;&gt;1958&lt;/option&gt;
			&lt;option value=&quot;1957&quot;&gt;1957&lt;/option&gt;
			&lt;option value=&quot;1956&quot;&gt;1956&lt;/option&gt;
			&lt;option value=&quot;1955&quot;&gt;1955&lt;/option&gt;
			&lt;option value=&quot;1954&quot;&gt;1954&lt;/option&gt;
			&lt;option value=&quot;1953&quot;&gt;1953&lt;/option&gt;
			&lt;option value=&quot;1952&quot;&gt;1952&lt;/option&gt;
			&lt;option value=&quot;1951&quot;&gt;1951&lt;/option&gt;
			&lt;option value=&quot;1950&quot;&gt;1950&lt;/option&gt;
			&lt;option value=&quot;1949&quot;&gt;1949&lt;/option&gt;
			&lt;option value=&quot;1948&quot;&gt;1948&lt;/option&gt;
			&lt;option value=&quot;1947&quot;&gt;1947&lt;/option&gt;
			&lt;option value=&quot;1946&quot;&gt;1946&lt;/option&gt;
			&lt;option value=&quot;1945&quot;&gt;1945&lt;/option&gt;
			&lt;option value=&quot;1944&quot;&gt;1944&lt;/option&gt;
			&lt;option value=&quot;1943&quot;&gt;1943&lt;/option&gt;
			&lt;option value=&quot;1942&quot;&gt;1942&lt;/option&gt;
			&lt;option value=&quot;1941&quot;&gt;1941&lt;/option&gt;
			&lt;option value=&quot;1940&quot;&gt;1940&lt;/option&gt;
			&lt;option value=&quot;1939&quot;&gt;1939&lt;/option&gt;
			&lt;option value=&quot;1938&quot;&gt;1938&lt;/option&gt;
			&lt;option value=&quot;1937&quot;&gt;1937&lt;/option&gt;
			&lt;option value=&quot;1936&quot;&gt;1936&lt;/option&gt;
			&lt;option value=&quot;1935&quot;&gt;1935&lt;/option&gt;
			&lt;option value=&quot;1934&quot;&gt;1934&lt;/option&gt;
			&lt;option value=&quot;1933&quot;&gt;1933&lt;/option&gt;
			&lt;option value=&quot;1932&quot;&gt;1932&lt;/option&gt;
			&lt;option value=&quot;1931&quot;&gt;1931&lt;/option&gt;
			&lt;option value=&quot;1930&quot;&gt;1930&lt;/option&gt;
			&lt;option value=&quot;1929&quot;&gt;1929&lt;/option&gt;
			&lt;option value=&quot;1928&quot;&gt;1928&lt;/option&gt;
			&lt;option value=&quot;1927&quot;&gt;1927&lt;/option&gt;
			&lt;option value=&quot;1926&quot;&gt;1926&lt;/option&gt;
			&lt;option value=&quot;1925&quot;&gt;1925&lt;/option&gt;
			&lt;option value=&quot;1924&quot;&gt;1924&lt;/option&gt;
			&lt;option value=&quot;1923&quot;&gt;1923&lt;/option&gt;
			&lt;option value=&quot;1922&quot;&gt;1922&lt;/option&gt;
			&lt;option value=&quot;1921&quot;&gt;1921&lt;/option&gt;
			&lt;option value=&quot;1920&quot;&gt;1920&lt;/option&gt;
			&lt;option value=&quot;1919&quot;&gt;1919&lt;/option&gt;
			&lt;option value=&quot;1918&quot;&gt;1918&lt;/option&gt;
			&lt;option value=&quot;1917&quot;&gt;1917&lt;/option&gt;
			&lt;option value=&quot;1916&quot;&gt;1916&lt;/option&gt;
			&lt;option value=&quot;1915&quot;&gt;1915&lt;/option&gt;
			&lt;option value=&quot;1914&quot;&gt;1914&lt;/option&gt;
			&lt;option value=&quot;1913&quot;&gt;1913&lt;/option&gt;
			&lt;option value=&quot;1912&quot;&gt;1912&lt;/option&gt;
			&lt;option value=&quot;1911&quot;&gt;1911&lt;/option&gt;
			&lt;option value=&quot;1910&quot;&gt;1910&lt;/option&gt;
			&lt;option value=&quot;1909&quot;&gt;1909&lt;/option&gt;
			&lt;option value=&quot;1908&quot;&gt;1908&lt;/option&gt;
			&lt;option value=&quot;1907&quot;&gt;1907&lt;/option&gt;
			&lt;option value=&quot;1906&quot;&gt;1906&lt;/option&gt;
			&lt;option value=&quot;1905&quot;&gt;1905&lt;/option&gt;
			&lt;option value=&quot;1904&quot;&gt;1904&lt;/option&gt;
			&lt;option value=&quot;1903&quot;&gt;1903&lt;/option&gt;
			&lt;option value=&quot;1902&quot;&gt;1902&lt;/option&gt;
			&lt;option value=&quot;1901&quot;&gt;1901&lt;/option&gt;
			&lt;option value=&quot;1900&quot;&gt;1900&lt;/option&gt;
		&lt;/select&gt;
		&lt;select name=&quot;regions&quot;&gt;
			&lt;option value=&quot;all&quot;&gt;All Regions&lt;/option&gt;
			&lt;option value=&quot;north-coast&quot;&gt;North Coast&lt;/option&gt;
			&lt;option value=&quot;central-coast&quot;&gt;Central Coast&lt;/option&gt;
			&lt;option value=&quot;south-coast&quot;&gt;South Coast&lt;/option&gt;
			&lt;option value=&quot;central-valley&quot;&gt;Central Valley&lt;/option&gt;
		&lt;/select&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;
