<form action="{{ url }}" method="post" class="inline-form search-form">
    <label for="search-field" class="is-hidden--visually">Search</label>
    <input type="input" placeholder="{{ placeholder }}..." id="search-field" class="search-form__input {{ styleModifier }}" name="searchterm">
    <input type="image" class="search-form__submit" name="search" src="../../images/icon-search.svg" alt="Search">
</form>