<div class="draggable-modal transcribe-tool draggable" unselectable="on">
	<label>
		<h2>Transcribe this Text</h2>
		<p>Please tell us what the highlighted text says.</p>
		<textarea value="" data-task_key="text" placeholder="Enter text here"></textarea>
	</label>
	<div class="button-group align-right">
		<!-- button class="button ghost toggle-button  minor-button">Bad mark</button>	If the 'Illegible' button moves the user directly onto the next task, the 'Illegible' button should also automatically mark the area as a 'Bad Mark'-->
		<button class="secondary button">This text is illegible</button> <!-- used to have these classes:  ghost toggle-button undefined minor-button. FIXME find out if they're necessary for React -->
		<button class="button">Next Label</button>
	</div>
</div>
