<form action="{{ url }}" method="post" class="inline-form sign-up-form--short">
  <legend>{{ headline.medium }}</legend>
  <label for="sign-up-form--short">{{ excerpt.short }}</label>
  <div class="inline-container">
    <input type="sign-up-form--short" placeholder="E-mail address" id="sign-up-form--short-field" class="sign-up-form--short-field" />
    <button class="btn--primary">{{ headline.short }}</button>
  </div>
</form>