<form method="post" action="{{ url }}" class="comment-form wine-transcription-form">
	<h2>Describe this Label</h2>
	<p>Please tell us what this image is depicting, using one or two words.</p>
	<fieldset>
		<div class="field-container">
			<input id="comment-name" type="text" placeholder="Enter text here (autocomplete TK)" />
		</div>
		<p><a href="#" class="btn--secondary">I don't know</a></p>
		<p><a href="#" class="btn">Next</a></p>
	</fieldset>
</form>
