<div class="draggable-modal draggable fieldset" unselectable="on">
		<h2>How to Transcribe this label</h2>
		<p>Please tell us what the highlighted text says. Try to include any diacritics, like accents ( ` ) or umlauts ( ¨ ), as well as upper and lower case letters.</p>
		<p>If something is illegible, that is important information for us to know as well, so please mark it as illegible.</p>
		<p>If the area highlighted is an image, please use on or two words to describe the image.</p>
		<figure>
			<img src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" />
		</figure>
		<div class="button-group align-right">
			<button class="button">OK, got it!</button>
		</div>
</div>
