<form method="post" action="{{ url }}" class="comment-form wine-transcription-form">
	<h2>Transcribe this Label</h2>
	<p>Please tell us what the highlighted text says.</p>
	<fieldset>
		<div class="field-container">
			<input id="comment-name" type="text" placeholder="Enter text here" />
		</div>
		<p><a href="#" class="btn--secondary">This text is illegible</a></p>
		<p><a href="#" class="btn">Next</a></p>
	</fieldset>
</form>
