<!DOCTYPE html>
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8 {{ htmlClass }}"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9 {{ htmlClass }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="{{ htmlClass }}"> <!--<![endif]-->
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <!-- proxima nova -->
  <script src="//use.typekit.net/bkh4ofy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- end proxima nova -->


  <!-- bower:css -->
  <link rel="stylesheet" href="../../../bower_components/normalize.css/normalize.css" />
  <link rel="stylesheet" href="../../../bower_components/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="../../../bower_components/slick-carousel/slick/slick-theme.css" />
  <link rel="stylesheet" href="../../../bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
  <link rel="stylesheet" href="../../../bower_components/photoswipe/dist/photoswipe.css" />
  <link rel="stylesheet" href="../../../bower_components/photoswipe/dist/default-skin/default-skin.css" />
  <!-- endbower -->

  <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="../../css/no-query.css?{{ cacheBuster }}" media="all" />
  <![endif]-->

  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {% pattern-lab-head %}
  <!-- End Pattern Lab -->

  <!-- bower:js -->
  <script src="../../../bower_components/jquery/jquery.js"></script>
  <script src="../../../bower_components/modernizr/modernizr.js"></script>
  <script src="../../../bower_components/jquery-migrate/jquery-migrate.js"></script>
  <script src="../../../bower_components/drupal/index.js"></script>
  <script src="../../../bower_components/jquery-hoverintent/jquery.hoverIntent.js"></script>
  <script src="../../../bower_components/slick-carousel/slick/slick.min.js"></script>
  <script src="../../../bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script src="../../../bower_components/photoswipe/dist/photoswipe.js"></script>
  <script src="../../../bower_components/photoswipe/dist/photoswipe-ui-default.js"></script>
  <!-- endbower -->

  <!--masory-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>

  <script src="../../js/scripts.js"></script>

</head>
<body class="{{ bodyClass }}">
