&lt;div class=&quot;page l-header--fixed&quot;&gt;
  {{&gt; organisms-header }}
    &lt;div class=&quot;l-main&quot; role=&quot;main&quot;&gt;

      &lt;div class=&quot;page-title&quot;&gt;
        &lt;h1 class=&quot;page-title__title category-brand__text--knock-out&quot;&gt;News &amp; Information&lt;/h1&gt;
      &lt;/div&gt;

      &lt;div class=&quot;l-container brenham-flipped&quot;&gt;
        {{&gt; molecules-breadcrumbs }}

        {{# emergency }}
          {{&gt; molecules-alert-error }}
        {{/ emergency }}

        &lt;div class=&quot;box-wrapper&quot;&gt;
          &lt;div class=&quot;l-content&quot;&gt;
            {{&gt; molecules-featured-headline }}
          &lt;/div&gt;
          &lt;div class=&quot;l-sidebar-second&quot;&gt;
            {{&gt; molecules-headline-stack }}
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;box-wrapper&quot;&gt;

          &lt;div class=&quot;l-content&quot;&gt;

            &lt;div class=&quot;panel-pane&quot;&gt;
              {{&gt; organisms-latest-news }}
            &lt;/div&gt;

          &lt;/div&gt;

          &lt;div class=&quot;l-sidebar-second&quot;&gt;

            &lt;div class=&quot;panel-pane pane-title--weighted-underline&quot;&gt;
              &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;News&lt;/span&gt; Categories&lt;/h2&gt;
            &lt;/div&gt;

            &lt;div class=&quot;panel-pane&quot;&gt;
              {{&gt; molecules-category-filter }}
            &lt;/div&gt;

            &lt;div class=&quot;panel-pane&quot;&gt;
              {{&gt; molecules-search-form:search-form--border }}
            &lt;/div&gt;

            &lt;div class=&quot;panel-pane&quot;&gt;
              {{&gt; organisms-initiatives-news }}
            &lt;/div&gt;

            &lt;div class=&quot;panel-pane&quot;&gt;
              {{&gt; organisms-davis-in-news }}
            &lt;/div&gt;

            &lt;div class=&quot;panel-pane&quot;&gt;
              {{&gt; organisms-campus-events }}
            &lt;/div&gt;

            &lt;hr/&gt;
            &lt;a href=&quot;&quot;&gt;See All &amp;raquo;&lt;/a&gt;
            &lt;div class=&quot;panel-pane&quot;&gt;
              {{&gt; organisms-campus-blogs }}
            &lt;/div&gt;

            {{# sign-up-form }}
              {{&gt; molecules-sign-up-form--short }}
            {{/ sign-up-form }}

          &lt;/div&gt;

        &lt;/div&gt;

      &lt;/div&gt;

    &lt;/div&gt;&lt;!--End role=main--&gt;
  {{&gt; organisms-footer }}
&lt;/div&gt;