&lt;div class=&quot;draggable-modal transcribe-tool draggable&quot; style=&quot;-webkit-user-select: none; left: 229.18171214625536px; top: 341.10824256868824px;&quot; data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0&quot; unselectable=&quot;on&quot;&gt;&lt;div class=&quot;modal-body&quot; data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0.2&quot;&gt;&lt;div class=&quot;input-field active&quot; data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0.2.0&quot;&gt;&lt;label data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0.2.0.0&quot;&gt;&lt;p&gt;Transcribe the highlighted text.&lt;/p&gt;
&lt;/label&gt;&lt;input type=&quot;text&quot; value=&quot;&quot; data-task_key=&quot;text&quot; data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0.2.0.$text=1text=156f2d86239f8ed4f08000002&quot;&gt;&lt;/div&gt;&lt;/div&gt;&lt;div class=&quot;modal-buttons&quot; data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0.4&quot;&gt;&lt;button class=&quot;small-button ghost toggle-button  minor-button&quot; data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0.4.$bad-subject-button&quot;&gt;Bad mark&lt;/button&gt;&lt;button class=&quot;small-button ghost toggle-button undefined minor-button&quot; data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0.4.$illegal-subject-button&quot;&gt;Illegible?&lt;/button&gt;&lt;button class=&quot;small-button minor-button&quot; data-reactid=&quot;.0.0.1.1.0.1.0.0.$text.0.4.$done-button&quot;&gt;Continue&lt;/button&gt;&lt;/div&gt;&lt;/div&gt;
&lt;form method=&quot;post&quot; action=&quot;{{ url }}&quot; class=&quot;comment-form wine-transcription-form&quot;&gt;
	&lt;h2&gt;Transcribe this Label&lt;/h2&gt;
	&lt;p&gt;Please tell us what the highlighted text says.&lt;/p&gt;
	&lt;fieldset&gt;
		&lt;div class=&quot;field-container&quot;&gt;
			&lt;input id=&quot;comment-name&quot; type=&quot;text&quot; placeholder=&quot;Enter text here&quot; /&gt;
		&lt;/div&gt;
		&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn--secondary&quot;&gt;This text is illegible&lt;/a&gt;&lt;/p&gt;
		&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Next&lt;/a&gt;&lt;/p&gt;
	&lt;/fieldset&gt;
&lt;/form&gt;
