&lt;div class=&quot;row tools&quot;&gt;
	&lt;img class=&quot;zoom-button&quot; src=&quot;../../images/zoom-button.svg&quot;&gt;
	&lt;div class=&quot;switch&quot;&gt;
		{{&gt; atoms-toggle }}
	&lt;/div&gt;
&lt;/div&gt;
