&lt;div class=&quot;row tools&quot;&gt;
	&lt;img class=&quot;zoom-button&quot; src=&quot;../../images/zoom-button.svg&quot;&gt;
	&lt;div class=&quot;pan-zoom-area pan-zoom pane active&quot;&gt;
		&lt;div class=&quot;subject-zoom-pan&quot;&gt;
			&lt;button class=&quot;zoom out disabled&quot; title=&quot;zoom out&quot;&gt;&lt;/button&gt;
			&lt;button class=&quot;zoom in undefined&quot; title=&quot;zoom in&quot;&gt;&lt;/button&gt;
			&lt;button class=&quot;pan up disabled&quot; title=&quot;pan up&quot;&gt;&lt;/button&gt;
			&lt;button class=&quot;pan right undefined&quot; title=&quot;pan right&quot;&gt;&lt;/button&gt;
			&lt;button class=&quot;pan left disabled&quot; title=&quot;pan left&quot;&gt;&lt;/button&gt;
			&lt;button class=&quot;pan down undefined&quot; title=&quot;pan down&quot;&gt;&lt;/button&gt;
			&lt;button class=&quot;reset&quot;&gt;Reset&lt;/button&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;switch&quot;&gt;
		{{&gt; atoms-toggle }}
	&lt;/div&gt;
&lt;/div&gt;
