&lt;section class=&quot;list--bordered pane-title--icon pane-title--initiatives&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;Campus Initiatives&lt;/span&gt;&lt;/h2&gt;
  {{# listItems-initiatives }}
    {{&gt; molecules-simple-list-event }}
  {{/ listItems-initiatives }}
&lt;/section&gt;
