<fieldset class="fieldset">
  <form>
    <div>
        <label>Input Label<abbr title="Required">*</abbr>
          <input type="text" placeholder="Text Input">
        </label>
    </div>
    <div>
        <label>Password
          <input type="password" placeholder="Type your Password">
        </label>
        <p class="help-text" id="passwordHelpText">Your password must have at least 10 characters, a number, and an Emoji.</p>
    </div>
    <div>
        <label>Email
          <input type="email" placeholder="name@email.com">
        </label>
    </div>
    <div>
        <label>Search
          <input type="search" placeholder="Enter Search Term">
        </label>
    </div>
    <div>
        <label>Numbers
          <input type="number" placeholder="0">
        </label>
    </div>
    <div>
      <label>Textarea
        <textarea placeholder="Enter your message here"></textarea>
      </label>
    </div>
    <div class="button-group align-right">
			<input type="submit" class="button" value="Submit">
		</div>
  </form>
</fieldset>
