<form action="#">
    <fieldset class="options">
        <ul>
            <li><label for="mark-toggle"><input id="mark-toggle" name="radio" type="radio" class="radio" checked="checked"> Show Other Users' Marks</label></li>
        </ul>
    </fieldset>
</form>
