&lt;div class=&quot;vm-featured-video {{ brand-class }}&quot;&gt;
	{{&gt; molecules-video-youtube(video-id: &quot;Xkd6WBMqf5M&quot;, video-width: &quot;853&quot;, video-height: &quot;480&quot;) }}
  &lt;a href=&quot;{{ url }}&quot; class=&quot;vm-featured-video__body category-brand__background&quot;&gt;
    &lt;h3 class=&quot;vm-featured-video__title&quot;&gt;{{ headline.medium }}&lt;/h3&gt;
    &lt;div class=&quot;vm-featured-video__meta&quot;&gt;
      &lt;span&gt;{{&gt; molecules-byline }}&lt;/span&gt;
      &lt;span&gt;{{ month.long }} {{ day.long }}, {{ year.long }}&lt;/span&gt;
    &lt;/div&gt;
  &lt;/a&gt;
&lt;/div&gt;