&lt;div class=&quot;page l-header--fixed&quot;&gt;
  {{&gt; organisms-header }}
  &lt;div class=&quot;l-main&quot; role=&quot;main&quot;&gt;

    &lt;div class=&quot;page-title&quot;&gt;
      &lt;h1 class=&quot;page-title__title category-brand__text--knock-out&quot;&gt;{{ title }}&lt;/h1&gt;
    &lt;/div&gt;

    &lt;div class=&quot;l-container brenham-flipped&quot;&gt;
      {{&gt; molecules-breadcrumbs }}

      {{# emergency }}
        {{&gt; molecules-alert-error }}
      {{/ emergency }}

      &lt;div class=&quot;l-content&quot;&gt;
        &lt;div class=&quot;box-wrapper&quot;&gt;
          &lt;div class=&quot;panel-pane body-text&quot;&gt;
            &lt;h2 class=&quot;uc-underline&quot;&gt;{{ headline.short }}&lt;/h2&gt;
            &lt;div class=&quot;width-half align-right&quot;&gt;{{&gt; molecules-image-gallery:gallery--poster }}&lt;/div&gt;
            {{{ excerpt.long }}}
            &lt;h3&gt;{{ page-copy.first-year.heading }}&lt;/h3&gt;
            {{{ page-copy.first-year.body }}}
            {{&gt; molecules-slideshow }}
            &lt;h4&gt;{{ page-copy.video-tour.heading }}&lt;/h4&gt;
            {{&gt; molecules-video-youtube:responsive-iframe--16x9(video-id: &quot;NZPaHOy2J0c&quot;, video-width: &quot;853&quot;, video-height: &quot;480&quot;) }}
            &lt;h3&gt;{{ page-copy.not-freshman.heading }}&lt;/h3&gt;
            {{{ page-copy.not-freshman.body }}}
            &lt;h3&gt;{{ page-copy.car.heading }}&lt;/h3&gt;
            {{&gt; molecules-feature-block:align-right width-half }}
            {{{ page-copy.car.body }}}
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;box-wrapper body-text&quot;&gt;
          &lt;div class=&quot;panel-pane&quot;&gt;
            &lt;h2 class=&quot;uc-underline&quot;&gt;{{ page-copy.food.heading }}&lt;/h2&gt;
            {{{ page-copy.food.body }}}
            {{&gt; molecules-video-youtube:responsive-iframe--16x9(video-id: &quot;fXJ2rU8zPN8&quot;, video-width: &quot;853&quot;, video-height: &quot;480&quot;) }}
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel-pane&quot;&gt;
          {{&gt; molecules-spotlight-article: category-brand--sunny-grass }}
        &lt;/div&gt;
      &lt;/div&gt;&lt;!--end .l-content--&gt;

      &lt;div class=&quot;l-sidebar-second&quot;&gt;
        &lt;div class=&quot;panel-pane&quot;&gt;
          &lt;div class=&quot;sub-nav&quot;&gt;
            {{# tertiary-page }}
                &lt;h2 class=&quot;sub-nav__title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ parent-page-title }}&lt;/a&gt;&lt;/h2&gt;
            {{/ tertiary-page }}
              &lt;ul class=&quot;menu sub-nav__body&quot;&gt;
                  &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Campus Features&lt;/a&gt;&lt;/li&gt;
                  &lt;li class=&quot;sub-nav__body--active&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Housing &amp; Dining&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Clubs &amp; Organizations&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Athletics&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Cultural Life&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        {{# focal-links }}
          &lt;div class=&quot;panel-pane&quot;&gt;
            {{&gt; molecules-focal-link }}
          &lt;/div&gt;
        {{/ focal-links }}
        &lt;div class=&quot;panel-pane bg-transparent&quot;&gt;
          {{&gt; molecules-social-follow-small }}
        &lt;/div&gt;
      &lt;/div&gt;&lt;!--end .l-sidebar-second--&gt;

    &lt;/div&gt;
  &lt;/div&gt;&lt;!--End role=main--&gt;
  {{&gt; organisms-footer }}
&lt;/div&gt;