&lt;div class=&quot;minicard column row&quot;&gt;
	&lt;div class=&quot;column small-4&quot;&gt;
		&lt;a href=&quot;{{ link.templates-verify-label }}&quot;&gt;
			{{&gt; atoms-square }}
		&lt;/a&gt;
		&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Download Image&lt;/a&gt;&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;column&quot;&gt;
		&lt;h1&gt;&lt;a href=&quot;#&quot;&gt;Label #1234&lt;/a&gt;&lt;/h1&gt;
		&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Direct Link to Mark&lt;/a&gt;&lt;/p&gt;
		&lt;h3&gt;Category&lt;/h3&gt;
		&lt;p&gt;North Africa Folder&lt;/p&gt;
		&lt;h3&gt;Last modified:&lt;/h3&gt;
		&lt;p&gt;Sept. 12, 2016, 8:39 a.m.&lt;/p&gt;
		&lt;p&gt;Marks: 6&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
