&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form sign-up-form--short&quot;&gt;
  &lt;legend&gt;{{ headline.medium }}&lt;/legend&gt;
  &lt;label for=&quot;sign-up-form--short&quot;&gt;{{ excerpt.short }}&lt;/label&gt;
  &lt;div class=&quot;inline-container&quot;&gt;
    &lt;input type=&quot;sign-up-form--short&quot; placeholder=&quot;E-mail address&quot; id=&quot;sign-up-form--short-field&quot; class=&quot;sign-up-form--short-field&quot; /&gt;
    &lt;button class=&quot;btn--primary&quot;&gt;{{ headline.short }}&lt;/button&gt;
  &lt;/div&gt;
&lt;/form&gt;