&lt;!-- Use molecules-media-list-article for lists --&gt;
&lt;section class=&quot;pane-title--weighted-underline&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;Related&lt;/span&gt; Stories&lt;/h2&gt;
  {{# stories-related }}
    {{&gt; molecules-media-list-article }}
  {{/ stories-related }}
&lt;/section&gt;