&lt;div class=&quot;page f wine-page&quot; id=&quot;page&quot;&gt;
  {{&gt; organisms-wine-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;section class=&quot;f-one-col&quot;&gt;
			{{&gt; molecules-wine-labels-intro-text }}
			&lt;h2 class=&quot;section-title&quot;&gt;Browse the Labels&lt;/h2&gt;
			{{&gt; molecules-wine-filters-form }}
			&lt;h3&gt;Results:&lt;/h3&gt;
			{{# wine-gallery }}
				{{&gt; organisms-image-gallery }}
			{{/ wine-gallery }}
			{{&gt; molecules-pagination }}
		&lt;/section&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-wine-footer }}
&lt;/div&gt;&lt;!--End id=&quot;page&quot;--&gt;