{{> molecules-primary-nav }}
<div class="row homepage">
		<section class="small-12 medium-12 large-10 large-offset-1 columns title">
			<img class="large-title" src="../../images/label-this-title-image.svg" alt="Label This Project title image">
			<img class="small-title" src="../../images/label-this-title-image-sm.svg" alt="">
		</section>
		<section class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
			<p class="lead">Maynard Amerine, a professor of viticulture and enology at UC Davis for nearly four decades, is widely considered to be the driving force behind the post-Prohibition wine industry in California. The over 5,000 labels he collected tell a story of the global wine industry from the 1800s through the 1950s.</p>
			<p class="lead">The Amerine wine label collection provides a meaningful window into the history of both winemaking and winemakers during a pivotal time in the industry. Our goal is to make these labels, and this history, searchable and accessible to wine lovers everywhere.</p>
			<p class="lead">To accomplish this, we need help marking, transcribing and describing the labels to create a searchable database. That’s where you come in! Help us uncork a piece of history.</p>
		</section>
		<section class="small-12 medium-12 large-10 large-offset-1 columns">
			<h1>Here's how you can help:</h1>
			{{> organisms-step-by-step-instructions }}
		</section>
		<section class="small-12 medium-10 medium-offset-1 columns">
			<div class="row align-center">
				<button type="button" class="large button" href="{{ link.templates-mark-flow-start }}"><img class="left-pointer" src="../../images/left-pointer-knockout.svg"/>Get Started<img class="right-pointer" src="../../images/right-pointer-knockout.svg"/></button>
			</div>
		</section>
		<section class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
			<h2>Just want to explore?</h2>
			<p>Until the labels are transcribed and a searchable database created, they’re just ordered randomly. That’s why we need your help. As more labels are transcribed, we’ll be able to gather more information about them. That will help us organize how we present them to you.</p>
			<p>In the meantime, you can browse through the labels at random below. <a href="FIXME add link to Mailchimp">Sign up for our newsletter</a> to be notified when stories about the labels and the ability to search the database become available.</p>
			{{> molecules-pagination }}
			{{> organisms-gallery }}
			{{> molecules-pagination }}
		</section>
		<section class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
			<h2>Do you know one of these wines?</h2>
			<p>If you know the story behind one of these wines — the winemaker, the winery, the art on the label — please <a href="mailto:labelthis@ucdavis.edu">contact us</a> so we can share your story on the site.</p>
		</section>
</div>
{{> organisms-footer }}
