{{> molecules-primary-nav }}
<div class="row align-center">
	<div class="login">
		<h2>Admin Login</h2>
		<p>In order to verify labels, you need to log in to the admin dashboard.</p>
		<label>Email
			<input type="email" placeholder="name@email.com">
		</label>
		<label>Password
			<input type="password" placeholder="Type your Password">
		</label>
		<div class="row align-center">
			<a class="large button" href="{{ link.templates-admin-homepage }}"><img class="left-pointer" src="../../images/left-pointer-knockout.svg"/>Log In<img class="right-pointer" src="../../images/right-pointer-knockout.svg"/></a>
		</div>
	</div>
</div>
{{> organisms-footer }}
