{{> molecules-primary-nav }}
<section class="medium-10 medium-offset-1 large-8 large-offset-2 row align-middle">
	<div class="column">
		<h3>Help us uncork a piece of history</h3>
		<p>Before we can create a searchable database, we need to transcribe the labels. That’s where you come in!</p>
	</div>
	<div class="shrink">
		<a class="button" href="#">Get started</a>
	</div>
</section>
<section class="medium-10 medium-offset-1 large-8 large-offset-2 columns ">
	<h1>Browse labels randomly</h1>
	{{> molecules-pagination }}
	<div class="medium-unstack row">
		{{# browsegallery }}
			{{> molecules-gallery-thumbnail }}
		{{/ browsegallery }}
	</div>
	{{> molecules-pagination }}
</section>
{{> organisms-footer }}
