{{> molecules-primary-nav }}
{{> molecules-browse-toolbar }}
<section class="medium-10 medium-offset-1 large-8 large-offset-2 columns browse">
	<h1>Browse labels randomly</h1>
	{{> molecules-pagination }}
	{{> organisms-gallery }}
	{{> molecules-pagination }}
</section>
{{> organisms-footer }}
