<div class="page l-header--fixed">
  {{> organisms-header }}
    <div class="l-main" role="main">

      <div class="l-container brenham-flipped">

        {{> molecules-breadcrumbs:breadcrumbs--space-above }}

        {{# emergency }}
          {{> molecules-alert-error }}
        {{/ emergency }}

          <div class="l-content">
            <div class="box-wrapper">
              <div class="panel-pane panel-pane--flush">
                  <div class="page-title page-title--plain">
                      <h1 class="page-title__title">{{ title }}</h1>
                      <h2 class="page-title__sub-title">{{ title }}</h2>
                  </div>
              </div>
              <div class="panel-pane panel-pane--flush">
                  <div class="meta-info meta-info--pipe-seperated category-brand--california-poppy">
                      <span class="meta-info__data wine-grape">February 3, 2015</span>
                      <span class="meta-info__data"><a class="category-brand__text" href="{{ url }}">UC Davis News</a></span>
                      <span class="meta-info__data"><a class="sky-blue" href="{{ url }}">Science</a></span>
                  </div>
              </div>
              <div class="panel-pane">
                  <div class="byline">
                      <span class="attribution">Story {{> molecules-byline }}, video and photos {{> molecules-byline }}</span>
                  </div>
              </div>
              <div class="panel-pane">
                {{> organisms-article-body }}
              </div>
            </div>
          </div><!--end .l-content-->

          <div class="l-sidebar-second">
              <div class="panel-pane">
                {{> molecules-search-form }}
              </div>
              <div class="panel-pane box">
                {{> organisms-related-stories }}
              </div>
              <div class="panel-pane box">
                {{> organisms-top-stories }}
              </div>
              <div class="panel-pane">
                {{> organisms-facebook-activity }}
              </div>
          </div><!--end .l-sidebar-second-->

      </div><!--End .l-container-->

    </div><!--End role=main-->
  {{> organisms-footer }}
</div>
