	{{> molecules-primary-nav }}
	{{> molecules-mark-toolbar }}
	{{# vignette }}
		<div class="vignette-overlay"></div>
	{{/ vignette }}
	<section>
		{{> atoms-hero-image }}
	</section>
	{{> organisms-label-info-card }}
	{{> organisms-footer }}
