<div class="page l-header--fixed">
  {{> organisms-header }}
  <div class="l-main" role="main">

    <div class="page-title">
      <h1 class="page-title__title category-brand__text--knock-out">{{ author.first-name }} {{ author.last-name }}</h1>
    </div>

    <div class="l-container brenham">
      {{> molecules-breadcrumbs }}

      {{# emergency }}
        {{> molecules-alert-error }}
      {{/ emergency }}

      <div class="l-content">
        <div class="box-wrapper">
          <div class="panel-pane">
            <h2>Articles Related to {{ author.first-name }} {{ author.last-name }}</h2>
            {{# latest-news }}
              <div class="panel-pane">
                {{> molecules-teaser-article }}
              </div>
            {{/ latest-news }}
          </div>
        </div>
      </div><!--end .l-content-->

      <div class="l-sidebar-first">
        <div class="panel-pane">
          {{> atoms-landscape-4x3}}
          <div class="box-wrapper">
            <p>{{{ excerpt.long }}}</p>
            <h3>Contact {{ author.first-name }}</h3>
            <ul class="list--comment">
              <li><a href="{{ url }}">{{ author.twitter }}</a></li>
              <li><a href="{{ url }}">{{ author.email }}</a></li>
              <li><a href="{{ url }}">{{ author.phone }}</a></li>
            </ul>
          </div>
        </div>
      </div><!--end .l-sidebar-second-->

    </div>
  </div><!--End role=main-->
  {{> organisms-footer }}
</div>