{{> molecules-primary-nav }}
{{> molecules-transcribe-instructions }}
<section>
	{{> atoms-hero-image }}
</section>
<section class="row">
	<div class="column">
		<h1>Label #32435</h1>
		{{> atoms-definition }}
	</div>
	{{> organisms-label-info-sidebar }}
</section>
{{> organisms-footer }}
</div>
