{{> molecules-primary-nav }}
<section>
	{{> atoms-hero-image }}
</section>
<section class="medium-medium-10 medium-offset-1">
	<section class="medium-unstack row">
	<div class="column">
		<h1>Label #32435</h1>
		{{> atoms-definition }}
	</div>
	{{> organisms-label-info-sidebar }}
</section>
{{> organisms-footer }}
