{{> molecules-primary-nav }}
{{> molecules-label-toolbar }}
<section>
	{{> atoms-hero-image }}
</section>
<section class="label-card medium-10 medium-offset-1 medium-unstack">
	<h5>About this label</h5>
	<section class="row">
		<div>
			 Category: Spain
		</div>
		<div>
			This label still needs your help. Mark the elements on this label for transcription.
			<button type="button" class="small button" href="#">Mark This Label</button>
		</div>
	</section>
	<section>
		<h6>THE STORY BEHIND THIS LABEL</h6>
		<p><a href="">Amerine and the Bohemian Club</a></p>
	</section>
	<section class="row">
		<div>
			<h6>THE STORY BEHIND THIS LABEL</h6>
			<p><a href="">Amerine and the Bohemian Club</a></p>
		</div>
		<div>
			{{> molecules-social-share }}
		</div>
	</section>
</section>
{{> organisms-footer }}
