{{> molecules-primary-nav }}
		<section>
				<h1>About the ‘Label This’ Project</h1>
				<p class="intro">The labels in the Maynard Amerine Collection should be searchable and accessible. But before we can create a searchable database, we need to transcribe the labels. That’s where you come in!</p>
				<h2>Our Goal</h2>
				<p>To extract structured data from the Maynard Amerine collection of more than 5,000 wine labels. This will enable researchers, sommeliers, and general wine enthusiasts to search and sort the labels by date, image on the label, location and much more. This will allow us to expand the ways that the collection can be accessed and used. But it’s a big job. We need your help identifying what’s on the label.</p>
				<h2>The Collection</h2>
				<p>Maynard Amerine is generally considered to be the driving force behind the post-Prohibition wine industry in California.  ''If you did what he told you,'' said Robert Mondavi, founder of the Robert Mondavi Winery in Oakville, Calif., said of Maynard to The New York Times in 1998, ''You couldn't help but make outstanding wine. He was my mentor, and I wouldn't be where I am today if it weren't for him.'</p>
				<p>In 1935, Amerine was hired by the fledgling University of California Davis’ newly formed Department of Viticulture and Enology to help establish a solid technical foundation for the California wine industry. Amerine wasn’t just interested in training students, he was driven to rectify the damage wrought by Prohibition to the wine industry in California, and as he traveled around the State, educating and counseling on improving wine quality, he collected wine labels. He collected wine labels from his travels in Europe and from bottle that were given as gifts. His collection includes more than 5,000 wine labels.</p>
				<p>These labels tell the story of the growing wine industry in California. Ranging from the late 1800s to the 1950s, the bulk of the labels are from the 1930s and ‘40s; most of them were simply pasted into black spiral- bound notebooks. Some were annotated, with Amerine often giving the wine a letter grade, or specifying when and where the bottle might have been drunk.  The labels were organized by region (usually country), divided into red or white, and in some cases further divided into sub-regions (such as appellations). Many of the labels in Amerine’s collection are from bottles he enjoyed at San Francisco’s Bohemian Club, and others were individual gifts, sometimes from private cellars. The collection is representative of the wines he preferred and had access to, and thus is heavy in California wines as well as French wines. In order for us to be able to create a searchable database of these labels, we need some help with the transcription. Get started here.</p>
				<h2>The Stories Behind the Labels</h2>
				<p>Amerine’s notes on the labels closely match the trajectory of his life. We’ve started tying those threads and telling those stories on our blog, which features contributions from the Wine Librarians at the Peter J. Shields Library, as well as members of Devo, the student enophile organization at UC Davis.</p>
				<h2>Get In Touch</h2>
				<p>Do you have questions about the project? Suggestions for making it better? Or perhaps you have a story to tell that relates to some f the labels in the Amerine collection. Drop us an email at <a href="FIXME">labelthis@ucdavis.edu</a> — we’d love to hear from you!</p>
		</section>
	{{> organisms-footer }}
