{{> molecules-primary-nav }}
	<section class="medium-10 medium-offset-1 large-8 large-offset-2 columns">
		{{# latest-posts}}
		{{> molecules-post-river-item }}
		{{/ latest-posts}}
	</section>
{{> molecules-pagination }}
{{> organisms-footer }}
