{{> molecules-primary-nav }}
	<section class="row align-center">
		{{# latest-posts}}
		{{> molecules-post-river-item }}
		{{/ latest-posts}}
	</section>
	{{> molecules-pagination }}
{{> organisms-footer }}
