<div class="page l-header--fixed">
  {{> organisms-header }}
    <div class="l-main" role="main">

        <div class="page-title">
            <h1 class="page-title__title category-brand__text--knock-out">{{ title }}</h1>
        </div>

        <div class="l-container brenham-flipped">
          {{> molecules-breadcrumbs }}

          {{# emergency }}
            {{> molecules-alert-error }}
          {{/ emergency }}

            <div class="l-content">
                <div class="box-wrapper">
                    <div class="panel-pane body-text">
                        <div class="space-below">
                          {{> atoms-landscape-16x9 }}
                        </div>
                        <span class="ucd-major-minor">(Major &amp; Minor)</span><span class="gray-italic space-below"> Also available as a minor</span>
                        {{>  atoms-paragraph }}
                        <h3>Real World</h3>
                        {{>  atoms-paragraph }}
                        <h3>Major Requirements</h3>
                        {{>  atoms-paragraph }}
                        <ul>
                            <li><a href="{{ url }}">Department Website</a></li>
                            <li><a href="{{ url }}">Detailed Major Requirements</a></li>
                            <li><a href="{{ url }}">Course Descriptions for this Major</a></li>
                            <li><a href="{{ url }}">Study this Major Abroad</a></li>
                            <li><a href="{{ url }}">General Catalog Supplement</a></li>
                        </ul>
                        <h3 class="space-below">Major Adviser</h3>
                        <ul>
                            <li><b>Name:</b> {{ adviser-name }}</li>
                            <li><b>Email:</b> {{ adviser-email }}</li>
                            <li><b>Phone:</b> {{ adviser-phone }}</li>
                        </ul>
                        <h3 class="space-below">Search for Additional Majors</h3>
                        {{> molecules-search-form:search-form__input--border}}
                    </div>
                </div>
            </div><!--end .l-content-->

            <div class="l-sidebar-second">
                <div class="panel-pane">
                  {{> molecules-sub-nav }}
                </div>
              {{# focal-links }}
                  <div class="panel-pane">
                    {{> molecules-focal-link }}
                  </div>
              {{/ focal-links }}
                <div class="panel-pane bg-transparent">
                  {{> molecules-social-follow-small }}
                </div>
            </div><!--end .l-sidebar-second-->

        </div>
    </div><!--End role=main-->
  {{> organisms-footer }}
</div>