{{> molecules-primary-nav }}
<div class="admin small-12 medium-10 medium-offset-1">
	<section class="row align-spaced medium-unstack">
		<div class="small-12 medium-8 columns">
			<h1>Admin Dashboard</h1>
			<p>As an admin, you can help us make sure that the transcription work of the crowds is up to snuff.</p>
			<h3>You can do one of two things:</h3>
			<p>Verify that the transcription is correct.</p>
			<p>Approve a label once you deem that it has been fully and accurately transcribed.</p>
		</div>
		<div class="columns project-progress">
			<h3>Project Progress</h3>
			<img src="../../images/pie-chart-placeholder.svg">
			<dl>
				<dt>3 Verified labels</dt>
				<dt>68 Marked labels</dt>
				<dt>21 Transcribed labels</dt>
			</dl>
		</div>
	</section>
	<section>
		<h2>Verify</h2>
		<p>Please verify the transcriptions or descriptions on each of the following labels.</p>
		{{> organisms-verify-gallery }}
		<h2>Approve</h2>
		<p>Please approve the transcriptions and descriptions that have already been verified for each of the following labels.</p>
		{{> organisms-verify-gallery }}
	</section>
</div>
{{> organisms-admin-footer }}
