{{> molecules-primary-nav }}
<div class="admin small-12 medium-10 medium-offset-1">
	<section class="row align-spaced medium-unstack">
		<div class="small-12 medium-8 columns">
			<h1>Admin Dashboard</h1>
			<p>As an admin, you can help us make sure that the transcription work of the crowds is up to snuff.</p>
			<h2>You can do one of two things:</h2>
			<p>Verify that the transcription is correct.</p>
			<p>Approve a label once you deem that it has been fully and accurately transcribed.</p>
		</div>
		<div class="small-12 medium-5 columns project-progress step-by-step">
			<h1>Project Progress</h1>
			<img src="../../images/pie-chart-placeholder.svg">
			<ul>
				<li><span style="background-color:#039317">3</span> Verified labels</li>
				<li><span style="background-color:#921377">68</span> Marked labels</li>
				<li><span style="background-color:#214BB5">8888</span> Transcribed labels</li>
			</ul>
		</div>
	</section>
	<section>
		<h2>Verify</h2>
		<p>Please verify the transcriptions or descriptions on each of the following labels.</p>
		{{> organisms-verify-gallery }}
		<h2>Approve</h2>
		<p>Please approve the transcriptions and descriptions that have already been verified for each of the following labels.</p>
		{{> organisms-verify-gallery }}
	</section>
</div>
{{> organisms-admin-footer }}
