<div class="page l-header--fixed">
  {{> organisms-header }}
    <div class="l-main" role="main">

        <div class="page-title">
            <h1 class="page-title__title category-brand__text--knock-out">{{ title }}</h1>
        </div>

        <div class="l-container brenham-flipped">
          {{> molecules-breadcrumbs }}

          {{# emergency }}
            {{> molecules-alert-error }}
          {{/ emergency }}

            <div class="l-content">
                <div class="box-wrapper">
                    <div class="panel-pane">
                        <h2 class="space-below">UC Davis Majors by College and Division</h2>
                        {{> molecules-search-form:search-form__input--border}}
                        <p></p>
                        <div class="view-content clear">

                            <div class="item-list hdepth">
                                <h4>College of Engineering</h4>
                                <ul>
                                    <li class="hdepth-0">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">Aerospace Science and Engineering</a><span class="field-content ucd-major-minor">(Major &amp; Minor)</span></span>
                                        </div>
                                    </li>

                                    <li class="hdepth-0">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">Biochemical Engineering</a><span class="field-content ucd-major">(Major)</span></span>
                                        </div>
                                    </li>

                                    <li class="hdepth-0">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">Biological Systems Engineering</a><span class="field-content ucd-major-minor">(Major &amp; Minor)</span></span>
                                        </div>
                                    </li>

                                    <li class="hdepth-0">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">Biological Systems Engineering</a><span class="field-content ucd-major">(Major)</span></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="item-list hdepth">
                                <h4>College of Letters and Science</h4>

                                <ul>
                                    <li class="hdepth-0">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">Marine and Coastal Science - Oceans and the Earth System</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="item-list hdepth">
                                <h6 class="california-poppy">Division of Humanities, Arts and Cultural Studies</h6>

                                <ul>
                                    <li class="hdepth-1">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">African American and African Studies</a></span>
                                        </div>
                                    </li>

                                    <li class="hdepth-1">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">American Studies</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="item-list hdepth">
                                <h6 class="california-poppy">Division of Math and Physical Sciences</h6>

                                <ul>
                                    <li class="hdepth-1">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">Applied Mathematics</a></span>
                                        </div>
                                    </li>

                                    <li class="hdepth-1">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">Applied Physics</a></span>
                                        </div>
                                    </li>

                                    <li class="hdepth-1">
                                        <div class="views-field views-field-title">
                                            <span class="field-content"><a href="{{ url }}">Chemical Physics</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="major-note"><span class="field-content ucd-major-minor">(Major &amp; Minor)</span><span class="gray-italic"> = This major is also available as a minor.</p>
                    </div>
                </div><!--end .l-content-->
            </div><!--end .l-content-->

            <div class="l-sidebar-second">
                <div class="panel-pane">
                  {{> molecules-sub-nav }}
                </div>
              {{# focal-links }}
                  <div class="panel-pane">
                    {{> molecules-focal-link }}
                  </div>
              {{/ focal-links }}
                <div class="panel-pane bg-transparent">
                  {{> molecules-social-follow-small }}
                </div>
            </div><!--end .l-sidebar-second-->

        </div>
    </div><!--End role=main-->
  {{> organisms-footer }}
</div>