<div class="page">
  {{> organisms-header }}
    <div class="l-main" role="main">

        <div class="page-title">
            <h1 class="page-title__title category-brand__text--knock-out">{{ title }}</h1>
        </div>

        <div class="l-container full-width">
          {{> molecules-breadcrumbs }}

            <div class="l-content">
                <div class="box-wrapper">
                    <div class="panel-pane">
                        <ul class="list--bordered list--flush">
                          {{# listItems.ten }}
                            <li>
                              <h4><a href="#">{{ name.first }} {{ name.last }}</a></h4>
                              <p>{{ description }}</p>
                            </li>
                          {{/ listItems.ten }}
                        </ul>
                        {{> molecules-pagination }}
                    </div>
                </div><!--end .l-content-->
            </div><!--end .l-content-->

        </div>
    </div><!--End role=main-->
  {{> organisms-footer }}
</div>