{{> molecules-manage-this-nav }}
<div class="admin-body">
	{{> molecules-label-herocard }}
	<div>
		<h2>Marks & Transcriptions</h2>
		<p>These are ready to be approved/verified. Placeholders for now.</p>
		{{> molecules-pagination }}
		<div class="row small-up-1 medium-up-2 large-up-3">
			{{# browsegallery }}
			{{> molecules-fragment-card }}
			{{/ browsegallery }}
		</div>
		{{> molecules-pagination }}
	</div>
</div>
{{> organisms-admin-footer }}
