<div class="page l-header--fixed">
  {{> organisms-header }}
    <div class="l-main" role="main">

        <div class="page-title category-brand--western-redbud">
          <h1 class="page-title__title category-brand__text--knock-out">{{ title }}</h1>
        </div>

        <div class="l-container full-width">
          {{> molecules-breadcrumbs }}

          {{# emergency }}
            {{> molecules-alert-error }}
          {{/ emergency }}

            <div class="l-content">
              <div class="mason-grid">
                <div class="mason-grid__sizer"></div>
                <div class="mason-grid__gutter"></div>
                {{# brand-textbox }}
                  <div class="panel-pane mason-grid__item {{ brand-class }}">
                    {{> molecules-brand-textbox:brand-textbox--large-text }}
                  </div>
                {{/ brand-textbox }}
                <div class="panel-pane mason-grid__item mason-grid__item--width2">
                    {{> molecules-video-youtube(video-id: "PAwB_t_iM7U", video-width: "853", video-height: "480") }}
                </div>
                {{# profile-highlight }}
                    <div class="panel-pane mason-grid__item">
                      {{> molecules-profile-highlight }}
                    </div>
                {{/ profile-highlight }}
              </div>
            </div><!--end .l-content-->

        </div>
    </div><!--End role=main-->
  {{> organisms-footer }}
</div>