&lt;!-- Use molecules-simple-list-article for lists --&gt;
&lt;section class=&quot;pane-title--weighted-underline&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;UC Davis&lt;/span&gt; In the News&lt;/h2&gt;
  {{# in-the-news }}
    {{&gt; molecules-simple-list-article }}
  {{/ in-the-news }}
&lt;/section&gt;
