&lt;p&gt;&lt;a href=&quot;{{ link.templates-single-wine-label &quot; class=&quot;btn&quot;&gt;Next label&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;{{ link.templates-single-wine-label &quot; class=&quot;btn&quot;&gt;Previous label&lt;/a&gt;&lt;/p&gt;
