&lt;div class=&quot;node vm-media-list node--article media {{ styleModifier }}&quot;&gt;
  &lt;div class=&quot;media__figure&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;category-brand__thumbnail&quot;&gt;{{&gt; atoms-square }}&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;media__body&quot;&gt;
    &lt;h3 class=&quot;node__title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/h3&gt;
    &lt;div class=&quot;node__submitted&quot;&gt;{{ month.long }} {{ day.short }},  {{ year.long }}&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
