//Mixins
@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

//Styles

body {
  @include linearGradient($labels-red, $black);
  background-attachment: fixed;
}

.main-wine-label {
  margin: 0 0 1rem 0;
}

.callout {
  min-width: 100%;
}

.button {
  text-transform: uppercase;
	border: 1px solid #CBBAA5;
  //box-shadow: 0 0 0 3px #455B00;
  margin: 5px;
}

.right-pointer {
  padding: 0 0 .2em .5em;
}
.left-pointer {
  padding: 0 .5em .2em 0;
}

.large.button {
  text-transform: uppercase;
	border: 1px solid #CBBAA5;
  box-shadow: 0 0 0 5px #455B00, 0 0 0 10px #CBBAA5;
  margin: 10px;
}

.secondary.button, .tiny.button {
  border: 1px solid $labels-red;
  box-shadow: 0 0 0 0;
  border-radius: $global-radius;
}

.secondary.button {
  background-color: #F1E3D1;
  color: $labels-red;
  &:hover {
    color: $labels-red;
    background-color: #CBBAA5;
  }
}

.stacked  {
  .button {
    box-shadow: 0 0 0 0;
    background-color: $labels-red;
    border-radius: 0 0 10px 10px;
    border-color: $labels-red;
    &:first-of-type {
      background-color: $labels-focal;
      border-radius: 10px 10px 0 0;
    }
  }
}

.homepage {
  h1 {
    text-align: center;
  }
  .title img {
    width: 100%;
    margin: 2em auto 1.5em;
  }
  .button {
    margin: 1.5em auto 2.5em;
  }
}

.large-title {
  display: none;
  @media only screen and (min-width: 33em) {
    display: block;
  }
}
.small-title {
  display: none;
  @media only screen and (max-width: 33em) {
    display: block;
  }
}

.modal-position {  //faking the positioning of the modal
  position: fixed;
  top: 250px;
  left: 25%;
}

.draggable-modal, .transcribe-tool, .help-dialogue, .step-by-step {
  background: $label-background;
  padding: $global-padding;
  border-radius: 0;
  margin: 40px 25px;
	outline: 3px solid $label-background;
	border: 3px solid $labels-background-dark;
	box-shadow: 0 0 0 15px $labels-background-dark;
  label {
    color: $labels-red;
  }
}

.draggable-modal, .transcribe-tool, .help-dialogue {
  min-width: 30rem;
  max-width: 35rem;
}

.step-by-step {
  padding: .2rem .5rem .5rem;
  color: $labels-red;
  h6 {
    margin: 0 0 -17px 27px;
  }
}

.vignette-overlay {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 100%;
}

.pagination li a {
  border: 1px solid rgba(0,0,0,0);
  &:hover {
    border: 1px solid $labels-background;
  }
}

// FIXME these are temporary until I can figure out wtf is wrong with the _webicons.scss file
.webicon.facebook {
  background: url("../images/webicons/webicon-facebook.svg");
}
.webicon.pinterest {
  background: url("../images/webicons/webicon-pinterest.svg");
}
.webicon.twitter {
  background: url("../images/webicons/webicon-twitter.svg");
}
