//Mixins
@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

// Overrides
// Above and beyond the stock Foundation styles

//-----------------------------------------------------
// General Styles

body {
  @include linearGradient($labels-red, $black);
  background-attachment: fixed;
}

.main-wine-label {
  margin: 0 0 1rem 0;
}

.callout {
  min-width: 100%;
}

//-----------------------------------------------------
//Button style overrides

.button {
  text-transform: uppercase;
	border: 1px solid #CBBAA5;
  margin: 5px;
}

.right-pointer {
  padding: 0 0 .2em .5em;
}
.left-pointer {
  padding: 0 .5em .2em 0;
}

.large.button {
  text-transform: uppercase;
	border: 1px solid #CBBAA5;
  box-shadow: 0 0 0 5px #455B00, 0 0 0 10px #CBBAA5;
  margin: 10px;
}

.secondary.button, .tiny.button {
  border: 1px solid $labels-red;
  box-shadow: 0 0 0 0;
  border-radius: $global-radius;
}

.secondary.button {
  background-color: #F1E3D1;
  color: $labels-red;
  &:hover {
    color: $labels-red;
    background-color: #CBBAA5;
  }
}

.stacked  {
  .button {
    box-shadow: 0 0 0 0;
    background-color: $labels-red;
    border-radius: 0 0 10px 10px;
    border-color: $labels-red;
    &:first-of-type {
      background-color: $labels-focal;
      border-radius: 10px 10px 0 0;
    }
  }
}

//-----------------------------------------------------
//Homepage overrides

.homepage {
  h1 {
    text-align: center;
  }
  .title img {
    width: 100%;
    margin: 2em auto 1.5em;
  }
  .button {
    margin: 1.5em auto 2.5em;
  }
}

// Making the title image responsive
.large-title {
  display: none;
  @media only screen and (min-width: 33em) {
    display: block;
  }
}
.small-title {
  display: none;
  @media only screen and (max-width: 33em) {
    display: block;
  }
}

// Step-by-step instructions on the homepage
.step-by-step {
  padding: .2rem .5rem .5rem;
  color: $labels-red;
  h6 {
    margin: 0 0 -17px 30px;
  }
  p {
    line-height: 1em;
  }
  img {
    width: 100%;
  }
}

//-----------------------------------------------------
//Prototype Fakery
//These styles fake things on the prototype site that React does on prod

//this is for faking the positioning of the modals
.modal-position {
  position: fixed;
  top: 250px;
  left: 25%;
  z-index: 99999;
}
//this is for faking the vignette over the label image in the trascribe UI
.vignette-overlay {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
}

//-----------------------------------------------------
// Modal/dialogue box overrides

.draggable-modal, .transcribe-tool, .help-dialogue, .step-by-step, .login {
  background: $label-background;
  padding: $global-padding;
  border-radius: 0;
  margin: 40px 25px;
	outline: 3px solid $label-background;
	border: 3px solid $labels-background-dark;
	box-shadow: 0 0 0 15px $labels-background-dark;
  label {
    color: $labels-red;
  }
}

.draggable-modal, .transcribe-tool, .help-dialogue {
  min-width: 30rem;
  max-width: 35rem;
}

.login {
  color: $labels-red;
}

//-----------------------------------------------------
// Pagination styles

.pagination li a {
  border: 1px solid rgba(0,0,0,0);
  &:hover {
    border: 1px solid $labels-background;
  }
}

//-----------------------------------------------------
// Toolbar/Instructions bar styles for Mark/Transcribe/Browse Screens

.top-bar {
  border-bottom: .2em solid $labels-background-dark;
}

.toolbar {
  min-width: 100%;
  background: $labels-background-dark;
  padding-bottom: .2em;
}

.row.tools {
  padding-left: 3em;
  background: $labels-background;
  margin-top: .35em;
  margin-right:.4em;
}

.label-title {
  background-color: $labels-background;
  color: $labels-red;
  text-align: center;
  padding: 0;
  margin-top: .4em;
  max-height: 2.8em;
  overflow: visible;
  z-index: 9000;
}

.single.label-title {
  margin-top: 0;
  padding: .5em;
  min-height: 2.8em;
}

.previous-label {
  margin-left: -4px;
}
.next-label {
  margin-right: -4px;
}

.mark-instructions, .transcribe-instructions, .browse-instructions {
  background-color: $labels-background;
  border: 1px solid $labels-red;
  border-radius: 1px;
  box-shadow: 0 0 0 5px $labels-background-dark, 0 2px 15px #000;
  margin: -1em 1em 0 0;
  padding: .5em 1em 0 1em;
  h1 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  p {
    line-height: 1em;
  }
  a {
    color: $labels-red;
    text-decoration: underline;
  }
}

.transcribe-instructions, .browse-instructions {
  margin-left: 10em;
}

.browse {
  h1 {
    margin-top: 30px;
  }
}

//-----------------------------------------------------
// Verify Modal Styles

.choice {
  list-style: none;
  margin: 0;
  li {
    padding: 1em;
    margin: 0 0 1em 0;
    border: 1px solid $labels-background-dark;
    border-radius: 3px;
    &:hover {
      background-color: $labels-background-dark;
      cursor: pointer;
    }
    img {
      float: right;
    }
  }
}

//-----------------------------------------------------
// Toggle switch styles

.switch {
  padding-top: .3em;
  margin: 0 1em .4em 2em;
}

.toggle {
  border: 2px solid $labels-red;
  border-radius: 30em;
  height: 36px;
}

//-----------------------------------------------------
// Zoom UI styles, based on the ones on the ScribeAPI repo

.zoom-button {
  z-index: 100;
}
.pan-zoom-area {
  background-color: $labels-background-dark;
  width: 140px;
  height: 135px;
  left: 15px;
  top: 110px;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  &:before {
    content: ' ';
    border-radius: 4px;
    width: 60px;
    height: 70px;
    position: absolute;
    top: -7px;
    left: 36px;
    margin-top: -36px;
    margin-left: -36px;
    background-color: $labels-background-dark;
  }
}

.subject-zoom-pan {
  width: 130px;
  height: 130px;
  border-radius: 4px;
  left: 5px;
  &:before {
    content: ' ';
    display: block;
    border: 1px solid $labels-background-dark;
    border-radius: 4px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    background-color: $labels-background;
  }
  &:after {
    content: ' ';
    display: block;
    width: 70px;
    height: 0px;
    border-top: 1px solid $labels-background-dark;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
  }
}

.pan, .zoom, .reset {
  position:absolute;
  background: transparent;
  color: $labels-red;
  border: none;
  cursor: pointer;
  &.disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.zoom {
  width:35px;
  height:35px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  &.in,
  &.out {
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35px;
      height: 35px;
      margin-left: -18px;
      margin-top: -18px;
    }
  }
  &.out {
    margin-left: -35px;
    &:before {
      content: '-';
      margin-top: -20px;
    }
  }
  &.in {
    margin-left: 0;
    border-left: 1px solid $labels-background-dark;
    border-radius: 0;
    &:before {
      content: '+';
    }
  }
}

.pan {
  &:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $labels-red;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -6px;
  }
  &.up, &.down {
    width: 50px;
    height: 20px;
    left: 50%;
    margin-left:-25px;
  }
  &.up {
    top: 5px;
  }
  &.down {
    bottom: 5px;
    &:before {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }
  &.left, &.right {
    width: 20px;
    height: 50px;
    top: 50%;
    margin-top:-25px;
  }
  &.left {
    left: 5px;
    &:before {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }
  &.right {
    right: 5px;
    &:before {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }
  }
  &:hover {
    &:before {
      border-bottom: 12px solid $labels-focal;
    }
  }
}

.reset {
  width: 64px;
  height: 20px;
  top:50%;
  margin-top: 5px;
  left:50%;
  margin-left:-32px;
  font-size:14px;
}

//-----------------------------------------------------
// Footer Styles

footer {
  margin-top: 3em;
  padding-top: 2em;
  border-top: .2em solid $labels-background-dark;
  a {
    text-decoration: underline;
  }
  img {
    max-width: 100px;
    opacity: .7;
    &:hover {
      opacity: .9;
    }
  }
}

//-----------------------------------------------------
// Admin UI Styles
.admin {
  margin-bottom: 1em;
  .secondary {
    background-color: $labels-focal;
    color: $labels-background;
    &:hover {
      background-color: $labels-focal;
      color: $labels-background;
      opacity: .7;
    }
  }
}

.pie-chart {
  margin-bottom: 2em;
  img {
    max-width: 90%;
  }
}

.status-list {
  dd {
    font-size: 2em;
  }
}

// FIXME these are temporary until I can figure out wtf is wrong with the _webicons.scss file
.webicon.facebook {
  background: url("../images/webicons/webicon-facebook.svg");
}
.webicon.pinterest {
  background: url("../images/webicons/webicon-pinterest.svg");
}
.webicon.twitter {
  background: url("../images/webicons/webicon-twitter.svg");
}
