<div class="column mark-detail">
	<div>
		<h1>Label Fragment</h1>
		<img src="{{ imgsrc }}" class="mark">
		<h3>Created on:</h3> <p>{{ timestamp }}</p>
		<h2>{{ type }}</h2>
		<div class="transcription">
			<p class="trans">“{{ transc.1 }}”</p>
			<h6>Status: {{ status }} <a class="secondary button">Accept</a></h6>
		</div>
		<div class="transcription">
			<p class="trans">“{{ transc.2 }}”</p>
			<h6>Status: {{ status }} <a class="secondary button">Accept</a></h6>
		</div>
		<div class="transcription">
			<p class="trans">“{{ transc.3 }}”</p>
			<h6>Status: {{ status }} <a class="secondary button">Accept</a></h6>
		</div>
	</div>
</div>
