&lt;div class=&quot;column minicard mark-detail&quot;&gt;
	&lt;div class=&quot;small-12&quot;&gt;
		&lt;h3&gt;Type: Image Description&lt;/h3&gt;
		&lt;img src=&quot;http://managethis.library.ucdavis.edu/media/2387-image-577c001dfb38413cef000004.jpg&quot; class=&quot;mark&quot;&gt;
		&lt;h3&gt;Created on:&lt;/h3&gt; &lt;p&gt;Aug. 22, 2016, 6:42 p.m.&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;column row align-middle&quot;&gt;
		&lt;div class=&quot;field-container small-8&quot;&gt;
				&lt;label class=&quot;trans-type&quot; for=&quot;textarea&quot;&gt;Human Description 1:&lt;/label&gt;
				&lt;textarea id=&quot;textarea&quot; rows=&quot;1&quot; cols=&quot;48&quot; placeholder=&quot;Chateau and vineyard&quot;&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;button type=&quot;button&quot; class=&quot;button small-3&quot; href=&quot;FIXME&quot;&gt;Accept&lt;/button&gt;
		&lt;div class=&quot;field-container small-8&quot;&gt;
				&lt;label class=&quot;trans-type&quot; for=&quot;textarea&quot;&gt;Human Description 2:&lt;/label&gt;
				&lt;textarea id=&quot;textarea&quot; rows=&quot;1&quot; cols=&quot;48&quot; placeholder=&quot;WINE VINE&quot;&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;button type=&quot;button&quot; class=&quot;button small-3&quot; href=&quot;FIXME&quot;&gt;Accept&lt;/button&gt;
		&lt;div class=&quot;field-container small-8&quot;&gt;
				&lt;label class=&quot;trans-type&quot; for=&quot;textarea&quot;&gt;Human Description 3:&lt;/label&gt;
				&lt;textarea id=&quot;textarea&quot; rows=&quot;1&quot; cols=&quot;48&quot; placeholder=&quot;Vineyard Landscape&quot;&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;button type=&quot;button&quot; class=&quot;button small-3&quot; href=&quot;FIXME&quot;&gt;Accept&lt;/button&gt;
		&lt;div class=&quot;field-container small-8&quot;&gt;
				&lt;label class=&quot;trans-type&quot; for=&quot;textarea&quot;&gt;Human Description 4:&lt;/label&gt;
				&lt;textarea id=&quot;textarea&quot; rows=&quot;1&quot; cols=&quot;48&quot; placeholder=&quot;vineyard with two buildings&quot;&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;button type=&quot;button&quot; class=&quot;button small-3&quot; href=&quot;FIXME&quot;&gt;Accept&lt;/button&gt;
		&lt;div class=&quot;field-container small-8&quot;&gt;
				&lt;label class=&quot;trans-type&quot; for=&quot;textarea&quot;&gt;Human Description 5:&lt;/label&gt;
				&lt;textarea id=&quot;textarea&quot; rows=&quot;1&quot; cols=&quot;48&quot; placeholder=&quot;crop field&quot;&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;button type=&quot;button&quot; class=&quot;button small-3&quot; href=&quot;FIXME&quot;&gt;Accept&lt;/button&gt;
		&lt;div class=&quot;field-container small-8&quot;&gt;
				&lt;label class=&quot;trans-type&quot; for=&quot;textarea&quot;&gt;Human Description 6:&lt;/label&gt;
				&lt;textarea id=&quot;textarea&quot; rows=&quot;2&quot; cols=&quot;48&quot; placeholder=&quot;black and white drawing of the chateau&quot;&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;button type=&quot;button&quot; class=&quot;button small-3&quot; href=&quot;FIXME&quot;&gt;Accept&lt;/button&gt;
		&lt;div class=&quot;field-container small-8&quot;&gt;
				&lt;label class=&quot;trans-type&quot; for=&quot;textarea&quot;&gt;Human Description 7:&lt;/label&gt;
				&lt;textarea id=&quot;textarea&quot; rows=&quot;1&quot; cols=&quot;48&quot; placeholder=&quot;House with vineyard&quot;&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;button type=&quot;button&quot; class=&quot;button small-3&quot; href=&quot;FIXME&quot;&gt;Accept&lt;/button&gt;
		&lt;div class=&quot;field-container small-8&quot;&gt;
				&lt;label class=&quot;trans-type&quot; for=&quot;textarea&quot;&gt;Human Description 8:&lt;/label&gt;
				&lt;textarea id=&quot;textarea&quot; rows=&quot;1&quot; cols=&quot;48&quot; placeholder=&quot;Villa and vineyard engraving&quot;&gt;&lt;/textarea&gt;
		&lt;/div&gt;
		&lt;button type=&quot;button&quot; class=&quot;button small-3&quot; href=&quot;FIXME&quot;&gt;Accept&lt;/button&gt;
	&lt;/div&gt;
	&lt;button type=&quot;button&quot; class=&quot;button secondary small-12&quot; href=&quot;FIXME&quot;&gt;None of these are good&lt;/button&gt;
&lt;/div&gt;
