&lt;div class=&quot;quick-summary {{ styleModifier }}&quot;&gt;
  &lt;h2 class=&quot;quick-summary__title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
  &lt;ul class=&quot;quick-summary__list&quot;&gt;
    {{# quick-summary }}
      &lt;li&gt;{{ excerpt.short }}&lt;/li&gt;
    {{/ quick-summary }}
  &lt;/ul&gt;
&lt;/div&gt;