/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol,
form ul {
  @include reset-list;
}

fieldset {
  border: 1px solid $brand--gray;
  border-top: 3px solid $ucd-blue;
  margin: $spacing-unit 0;
  padding: $spacing-unit;

  > legend {
    @include font-size(18px);
    padding: $spacing-unit--tiny;
  }
}

label {
  display: block;
  padding-bottom: $spacing-unit--tiny;
  font-weight: bold;
}

input,
select,
textarea,
%form-input {
  border: 1px solid $input-border-color;
  border-radius: 0;
  padding: $spacing-unit--tiny ($spacing-unit--small + $spacing-unit--tiny);
  background-color: $input-bg;
  background-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: $input-color;
  font-family: inherit;
  font-size: $font-size--small;
  margin: 0;
  outline: 0;

  &:focus {
    @include set-focus("form");
  }

  &:active {
    transform: scale(1);
  }
}

input,
select {
  height: $space-triple;
}

select {
	width: 100%;
}

input,
textarea {
  width: 100%;
}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;

  &:focus {
    @include set-focus("default");
  }
}

input[type="checkbox"],
input[type="radio"] {
  height: auto;
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}
	
	input[type=submit], button, .btn {
		font-size: $font-size-small-2;
		padding: 0.65rem 1.3rem;
		background: $color__gray-dark;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;

		&:hover, &:focus {
			background: $color__gray;
			color: $color__white;
		}
	}
}

/* Validation */
.has-error {
	border-color: $color__error;
}
.is-valid {
	border-color: $color__valid;
}




/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

// Form Field Container
.field-container {
  margin-bottom: $spacing-unit;
}

.form-submit {
  margin-right: $spacing-unit--small;
  width: auto;

  @media all and ($bp-small--down) {
    margin-right: 0;
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.comment-form {

  input,
  textarea {
    border: 1px solid $ucd-blue-20;
  }

  label {
    color: $ucd-blue-80;
    font-style: italic;
  }
}


/* Search Form */
.search-field {
	padding-right: 3em;
}
.inline-form .search-submit {
	background: none;
	padding: 0.78em 1em;
	border: 0;
	border-left: 1px solid $color__gray;
	color: $color__gray;
}

.wine-transcription-form {
	padding: 1em;
	background: rgba(255,255,255,0.6);
	@media all and (min-width: $bp-large) {
		position: absolute;
		top: 56px;
	}
}
