// Definition Lists
dl {
  overflow: hidden;
  margin: 0 0 $spacing-unit;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

dd + dt  {
  margin-top: $spacing-unit--small;
}

ul li {
  padding-left: $spacing-unit;
  //background: url("../images/chevron.svg") no-repeat 0 .4em;
  list-style: none;
  // Fix bullets hanging over the top of elements that have been floated to the
  // left of a list. This might need to be changed to "hidden" if scroll bars
  // start showing up in places.
  overflow-x: auto;

  a {
    font-weight: $font-weight--bold;
  }
}

ol li {
  list-style-position: inside;
}