&lt;fieldset class=&quot;fieldset&quot;&gt;
  &lt;form&gt;
    &lt;div&gt;
        &lt;label&gt;Input Label&lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;
          &lt;input type=&quot;text&quot; placeholder=&quot;Text Input&quot;&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;label&gt;Password
          &lt;input type=&quot;password&quot; placeholder=&quot;Type your Password&quot;&gt;
        &lt;/label&gt;
        &lt;p class=&quot;help-text&quot; id=&quot;passwordHelpText&quot;&gt;Your password must have at least 10 characters, a number, and an Emoji.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;label&gt;Email
          &lt;input type=&quot;email&quot; placeholder=&quot;name@email.com&quot;&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;label&gt;Search
          &lt;input type=&quot;search&quot; placeholder=&quot;Enter Search Term&quot;&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;label&gt;Numbers
          &lt;input type=&quot;number&quot; placeholder=&quot;0&quot;&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;label&gt;Textarea
        &lt;textarea placeholder=&quot;Enter your message here&quot;&gt;&lt;/textarea&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;button-group align-right&quot;&gt;
			&lt;input type=&quot;submit&quot; class=&quot;button&quot; value=&quot;Submit&quot;&gt;
		&lt;/div&gt;
  &lt;/form&gt;
&lt;/fieldset&gt;
