&lt;div class=&quot;footer-nav&quot;&gt;
  &lt;div class=&quot;footer-nav__logo&quot;&gt;
    &lt;a href=&quot;https://ucdavis.edu/&quot;&gt;{{&gt; atoms-logo-gold }}&lt;/a&gt;
  &lt;/div&gt;
  &lt;ul class=&quot;menu&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;http://ucdmc.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-UCDHS&quot;&gt;Health System&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;http://www.vetmed.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-VetMed&quot;&gt;Veterinary Medicine&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;https://extension.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Extension&quot;&gt;Extension&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;http://ucdavisstores.com/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Stores&quot;&gt;UC Davis Stores&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;http://mondavicenter.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Mondavi&quot;&gt;Mondavi Center&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;https://ucdavis.edu/museums-collections/&quot;&gt;Museums&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;http://mobile.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-MobileApp&quot;&gt;UC Davis Mobile Apps&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;