<ul class="list--link" style="background-color: white;">
  <li><a href="{{url}}">First Item</a></li>
  <li><a href="{{url}}">Second Item</a></li>
  <li><a href="{{url}}">This is the last list item</a></li>
</ul>
