&lt;a href=&quot;{{ url }}&quot; class=&quot;media vm-teaser {{ brand-class }}&quot;&gt;
  &lt;div class=&quot;media__figure vm-teaser__figure category category-brand__thumbnail&quot;&gt;
    {{&gt; atoms-thumbnail }}
  &lt;/div&gt;
  &lt;div class=&quot;media__body&quot;&gt;
    &lt;h3 class=&quot;vm-teaser__title&quot;&gt;{{ headline.medium }}&lt;/h3&gt;
    &lt;div class=&quot;vm-teaser__byline&quot;&gt;
      &lt;span&gt;{{&gt; molecules-byline }}&lt;/span&gt;
      &lt;span&gt;{{ month.long }} {{ day.long }}, {{ year.long }}&lt;/span&gt;
    &lt;/div&gt;
    &lt;ul class=&quot;vm-teaser__categories&quot;&gt;
      &lt;li class=&quot;category-brand__label&quot;&gt;{{ category.primary }}&lt;/li&gt;
      {{# category.cat-list }}
          &lt;li class=&quot;{{ brand-color }}&quot;&gt;{{ category-value }}&lt;/li&gt;
      {{/ category.cat-list }}
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/a&gt;