// Header
$header-transition-time: .2s;

.l-header {
  // Add padding the height of the menu due to it being absolutely positioned.
  @include breakpoint($bp-medium--up, true) {
    padding-bottom: $menu-height;
  }

  // Add this .l-header--fixed class to the body or top level dom element
  &--fixed {

    // The .l-main will need to be pushed down to allow for the fixed header
    .l-main {
      padding-top: $header-height--sm;
      transition: padding $header-transition-time ease-in-out;

      @include breakpoint($bp-small--up) {
        padding-top: $header-height--md;
      }

      @include breakpoint($bp-medium--up, true) {
        padding-top: $header-height + $menu-height;
      }
    }

    &.is-scrolling .l-main {
      @include breakpoint($bp-medium--up, true) {
        padding-top: $header-height--scrolling + $menu-height;
      }
    }

  }

  &--fixed & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-navbar-fixed;
    width: 100%;
  }
}

// Navigation
.l-navbar {
  position: absolute;
  height: 100%;
  z-index: $zindex-navbar;

  @include breakpoint($bp-medium--down) {
    left: 0;
  }

  @include breakpoint($bp-medium--up, true) {
    height: auto;
    width: 100%;
  }
}

// Search popup in the nav bar
.l-search-popup {
  @include breakpoint($bp-medium--up, true) {
    float: right;
  }
}

.l-quick-links {
  transition: all $header-transition-time ease-in-out;

  @include breakpoint($bp-medium--up, true) {
    position: absolute;
    right: $container-space--md;
    top: -76px;

    .l-header--fixed.is-scrolling & {
      top: -50px;
    }
  }
  @include breakpoint($bp-wide--up) {
    right: $container-space--lg;
  }
  @include breakpoint($bp-huge) {
    right: $container-space--xlg;
  }
}
