/*                                                                                                                                         
                                                ,,            ,,                          ,,                                             
 .M"""bgd mm                                    db          `7MM        mm         mm   `7MM                                    OO OO OO 
,MI    "Y MM                                                  MM        MM         MM     MM                                    88 88 88 
`MMb.   mmMMmm ,pW"Wq.`7MMpdMAo.     `7Mb,od8 `7MM  .P"Ybmmm  MMpMMMb.mmMMmm     mmMMmm   MMpMMMb.  .gP"Ya `7Mb,od8 .gP"Ya      || || || 
  `YMMNq. MM  6W'   `Wb MM   `Wb       MM' "'   MM :MI  I8    MM    MM  MM         MM     MM    MM ,M'   Yb  MM' "',M'   Yb     || || || 
.     `MM MM  8M     M8 MM    M8       MM       MM  WmmmP"    MM    MM  MM         MM     MM    MM 8M""""""  MM    8M""""""     `' `' `' 
Mb     dM MM  YA.   ,A9 MM   ,AP       MM       MM 8M         MM    MM  MM         MM     MM    MM YM.    ,  MM    YM.    ,     ,, ,, ,, 
P"Ybmmd"  `Mbmo`Ybmd9'  MMbmmd'      .JMML.   .JMML.YMMMMMb .JMML  JMML.`Mbmo      `Mbmo.JMML  JMML.`Mbmmd'.JMML.   `Mbmmd'     db db db 
                        MM                         6'     dP                                                                             
                      .JMML.                       Ybmmmd'                                                                               

Pattern Lab doesn't have any CSS requirements, which means you can write your styles however you want. Hooray!
You can use Sass, Less, vanilla CSS, or some other crazy thing I haven't heard of yet.
So please don't use these styles. They're just here to put together the demo, and nothing more.
They're intentionally gray, boring, and crappy because you're supposed to do this stuff yourself.

Atomic design is philosophically complimentary with these CSS approaches:

* SMACSS by Jonathan Snook http://smacss.com/
* OOCSS by Nicole Sullivan http://oocss.org/
* BEM CSS Methology : http://bem.info/method/
* CSS Guidelines by Harry Roberts : https://github.com/csswizardry/CSS-Guidelines

So feel free to use any of these approaches. Or don't. It's totally up to you.

*/
/*------------------------------------*\
    $TABLE OF CONTENTS 
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 6, scss/generic/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, scss/generic/_reset.scss */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

/* line 15, scss/generic/_reset.scss */
header, footer, nav, section, article, hgroup, figure {
  display: block;
}

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
/* line 6, scss/base/_global-classes.scss */
.cf, .l-one-col, .l-two-col, [role=main] {
  *zoom: 1;
}

/* line 9, scss/base/_global-classes.scss */
.cf:before, .l-one-col:before, .l-two-col:before, [role=main]:before, .cf:after, .l-one-col:after, .l-two-col:after, [role=main]:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 14, scss/base/_global-classes.scss */
.cf:after, .l-one-col:after, .l-two-col:after, [role=main]:after {
  clear: both;
}

/* Completely remove from the flow and screen readers. */
/* line 19, scss/base/_global-classes.scss */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
/* line 25, scss/base/_global-classes.scss */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
/* line 36, scss/base/_global-classes.scss */
.right {
  float: right;
  padding: 0 0 1em 1em;
}

/* line 41, scss/base/_global-classes.scss */
.right-search {
  float: right;
  padding: 0 0 1em 0;
}

/* line 46, scss/base/_global-classes.scss */
.left {
  float: left;
  padding: 0 1em 1em 0;
}

/* Text-Align */
/* line 52, scss/base/_global-classes.scss */
.align-right {
  text-align: right;
}

/* line 56, scss/base/_global-classes.scss */
.align-center {
  text-align: center;
}

/* line 60, scss/base/_global-classes.scss */
.align-left {
  text-align: left;
}

/* Display Classes */
@media all and (max-width: 46.8em) {
  /* line 65, scss/base/_global-classes.scss */
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 46.8em) and (max-width: 50em) {
  /* line 71, scss/base/_global-classes.scss */
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 50em) {
  /* line 77, scss/base/_global-classes.scss */
  .hide-large {
    display: none;
  }
}

/* line 84, scss/base/_global-classes.scss */
.valid {
  color: #089e00;
}

/* line 88, scss/base/_global-classes.scss */
.error {
  color: #f00;
}

/* line 92, scss/base/_global-classes.scss */
.warning {
  color: #fff664;
}

/* line 96, scss/base/_global-classes.scss */
.information {
  color: #000db5;
}

/* line 100, scss/base/_global-classes.scss */
.font--secondary {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 1, scss/base/_main.scss */
body {
  background: #e5e9ef;
  font-family: "proxima-nova", "Lucida Grande", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #333;
}

/* line 2, scss/base/_links.scss */
a {
  color: #003570;
  text-decoration: none;
  outline: 0;
}
/* line 7, scss/base/_links.scss */
a:hover {
  color: #001124;
  text-decoration: underline;
}
/* line 12, scss/base/_links.scss */
a:focus {
  outline: thin dotted;
  outline-offset: 0.25em;
}
/* line 16, scss/base/_links.scss */
a:active {
  outline: none;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
/* line 3, scss/base/_headings.scss */
h1 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
}
/* line 59, scss/generic/_mixins.scss */
h1:first-child {
  margin-top: 0;
}

/* line 9, scss/base/_headings.scss */
h2 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 1.92;
  font-weight: 700;
}
/* line 59, scss/generic/_mixins.scss */
h2:first-child {
  margin-top: 0;
}

/* line 14, scss/base/_headings.scss */
h3 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.04348;
  color: #335379;
  font-style: italic;
  font-weight: lighter;
}
/* line 59, scss/generic/_mixins.scss */
h3:first-child {
  margin-top: 0;
}

/* line 19, scss/base/_headings.scss */
h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.26316;
}
/* line 59, scss/generic/_mixins.scss */
h4:first-child {
  margin-top: 0;
}

/* line 25, scss/base/_headings.scss */
h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.41176;
}
/* line 59, scss/generic/_mixins.scss */
h5:first-child {
  margin-top: 0;
}

/* line 31, scss/base/_headings.scss */
h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
/* line 59, scss/generic/_mixins.scss */
h6:first-child {
  margin-top: 0;
}

/* Subheadings */
/* line 38, scss/base/_headings.scss */
.subheading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

/* line 3, scss/base/_text.scss */
p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* line 8, scss/base/_text.scss */
strong {
  font-weight: 700;
}

/* line 13, scss/base/_text.scss */
blockquote {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  border-left: 5px solid #ccd4e0;
  margin: inherit;
  padding-left: 1.25em;
  color: #1a3e68;
  font-style: italic;
}

/* line 23, scss/base/_text.scss */
hr {
  display: block;
  border: 0;
  height: 1px;
  border-top: 1px solid #002855;
  margin: 2em 0;
  padding: 0;
}

/* line 32, scss/base/_text.scss */
abbr {
  border-bottom: 1px dotted #808080;
  cursor: help;
}

/* line 38, scss/base/_text.scss */
.heading {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
}
/* line 59, scss/generic/_mixins.scss */
.heading:first-child {
  margin-top: 0;
}

/* line 42, scss/base/_text.scss */
.heading--primary {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 1.92;
  font-weight: 700;
}
/* line 59, scss/generic/_mixins.scss */
.heading--primary:first-child {
  margin-top: 0;
}

/* line 46, scss/base/_text.scss */
.heading--secondary {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.04348;
  color: #335379;
  font-style: italic;
  font-weight: lighter;
}
/* line 59, scss/generic/_mixins.scss */
.heading--secondary:first-child {
  margin-top: 0;
}

/* line 50, scss/base/_text.scss */
.heading--highlight {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.09091;
  font-weight: 700;
  font-style: inherit;
  color: #002855;
  text-align: center;
}
/* line 59, scss/generic/_mixins.scss */
.heading--highlight:first-child {
  margin-top: 0;
}
/* line 90, scss/generic/_mixins.scss */
.heading--highlight:after {
  display: block;
  margin: 1em auto;
  width: 15%;
  height: 2px;
  background-color: #002855;
  content: "";
}

/* line 54, scss/base/_text.scss */
.heading--pane {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 1.92;
  font-weight: 700;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.09091;
}
/* line 59, scss/generic/_mixins.scss */
.heading--pane:first-child {
  margin-top: 0;
}

/* line 58, scss/base/_text.scss */
.heading--auxiliary {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 0.5em;
  color: #335379;
  font-style: italic;
  font-weight: 700;
}
/* line 59, scss/generic/_mixins.scss */
.heading--auxiliary:first-child {
  margin-top: 0;
}

/* line 62, scss/base/_text.scss */
.heading--weighted {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
  font-weight: lighter;
}
/* line 59, scss/generic/_mixins.scss */
.heading--weighted:first-child {
  margin-top: 0;
}
/* line 133, scss/generic/_mixins.scss */
.heading--weighted--weighted {
  font-weight: 700;
}

/* line 66, scss/base/_text.scss */
.heading--underline {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
  font-weight: lighter;
}
/* line 59, scss/generic/_mixins.scss */
.heading--underline:first-child {
  margin-top: 0;
}
/* line 149, scss/generic/_mixins.scss */
.heading--underline:after {
  display: block;
  border-top: 3px solid #daaa00;
  margin: 0.25em 0 1em;
  width: 1.25em;
  content: "";
}

/* line 70, scss/base/_text.scss */
.heading--weighted-underline {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
  font-weight: lighter;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
  font-weight: lighter;
}
/* line 59, scss/generic/_mixins.scss */
.heading--weighted-underline:first-child {
  margin-top: 0;
}
/* line 133, scss/generic/_mixins.scss */
.heading--weighted-underline--weighted {
  font-weight: 700;
}
/* line 59, scss/generic/_mixins.scss */
.heading--weighted-underline:first-child {
  margin-top: 0;
}
/* line 149, scss/generic/_mixins.scss */
.heading--weighted-underline:after {
  display: block;
  border-top: 3px solid #daaa00;
  margin: 0.25em 0 1em;
  width: 1.25em;
  content: "";
}

/* line 74, scss/base/_text.scss */
.heading--social-follow {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.04348;
  color: #335379;
  font-style: italic;
  font-weight: lighter;
  font-weight: 700;
  color: #667d9d;
}
/* line 59, scss/generic/_mixins.scss */
.heading--social-follow:first-child {
  margin-top: 0;
}

/* line 78, scss/base/_text.scss */
.heading--feature-block {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  display: block;
  margin-top: 0;
  padding: 1em 16px;
  background: #1a3e68;
  color: #fff;
  font-weight: 700;
  font-style: inherit;
  text-align: left;
}
/* line 59, scss/generic/_mixins.scss */
.heading--feature-block:first-child {
  margin-top: 0;
}

/* line 82, scss/base/_text.scss */
.heading--focus-box {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
  font-weight: 700;
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 1;
  display: block;
  margin-top: 0;
  padding: 1em;
  background: #002855;
  color: #fff;
  font-style: inherit;
  text-align: left;
}
/* line 59, scss/generic/_mixins.scss */
.heading--focus-box:first-child {
  margin-top: 0;
}
/* line 133, scss/generic/_mixins.scss */
.heading--focus-box--weighted {
  font-weight: lighter;
}

/* line 86, scss/base/_text.scss */
.heading--invert {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: .75em 0 .25em;
  padding: 0;
  color: #002855;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.04348;
  font-weight: 700;
  margin-bottom: 1em;
  padding-left: 16px;
  color: #fff;
}
/* line 59, scss/generic/_mixins.scss */
.heading--invert:first-child {
  margin-top: 0;
}

/* line 2, scss/base/_lists.scss */
dl {
  overflow: hidden;
  margin: 0 0 1em;
}

/* line 7, scss/base/_lists.scss */
dt {
  font-weight: bold;
}

/* line 11, scss/base/_lists.scss */
dd {
  margin-left: 0;
}

/* line 15, scss/base/_lists.scss */
dd + dt {
  margin-top: 0.5em;
}

/* line 19, scss/base/_lists.scss */
ul li {
  padding-left: 1em;
  list-style: none;
  overflow-x: auto;
}
/* line 28, scss/base/_lists.scss */
ul li a {
  font-weight: 700;
}

/* line 33, scss/base/_lists.scss */
ol li {
  list-style-position: inside;
}

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
/* line 6, scss/base/_media.scss */
img, video, object {
  max-width: 100%;
  height: auto;
}

/* line 11, scss/base/_media.scss */
iframe {
  margin-bottom: 1em;
}

/* line 15, scss/base/_media.scss */
figure {
  margin-bottom: 1em;
}
/* line 17, scss/base/_media.scss */
figure img {
  margin-bottom: 0.5em;
}

/* line 21, scss/base/_media.scss */
figcaption {
  font-style: italic;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/* line 4, scss/base/_forms.scss */
form ol,
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 220, scss/generic/_mixins.scss */
form ol li,
form ul li {
  padding-left: 0;
  background-image: none;
  overflow-x: inherit;
}
/* line 225, scss/generic/_mixins.scss */
form ol li li,
form ul li li {
  list-style: none;
}

/* line 9, scss/base/_forms.scss */
fieldset {
  border: 1px solid #e5e9ef;
  border-top: 3px solid #002855;
  margin: 1em 0;
  padding: 1em;
}
/* line 15, scss/base/_forms.scss */
fieldset > legend {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  padding: 0.25em;
}

/* line 21, scss/base/_forms.scss */
label {
  display: block;
  padding-bottom: 0.25em;
  font-weight: bold;
}

/* line 27, scss/base/_forms.scss */
input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0.25em 0.75em;
  background-color: #fff;
  background-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  font-family: inherit;
  font-size: 14px;
  margin: 0;
  outline: 0;
}
/* line 43, scss/base/_forms.scss */
input:focus,
select:focus,
textarea:focus {
  outline: none;
  background-color: #fbf6e5;
  border-color: #daaa00;
}
/* line 47, scss/base/_forms.scss */
input:active,
select:active,
textarea:active {
  transform: scale(1);
}

/* line 52, scss/base/_forms.scss */
input,
select {
  height: 3em;
}

/* line 57, scss/base/_forms.scss */
select {
  width: 100%;
}

/* line 61, scss/base/_forms.scss */
input,
textarea {
  width: 100%;
}

/* line 66, scss/base/_forms.scss */
input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  appearance: none;
}

/* line 74, scss/base/_forms.scss */
button,
input[type="submit"] {
  cursor: pointer;
}
/* line 78, scss/base/_forms.scss */
button:focus,
input[type="submit"]:focus {
  outline: thin dotted;
  outline-offset: 0.25em;
}

/* line 83, scss/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  height: auto;
  width: auto;
  margin-right: 0.3em;
}

/* line 90, scss/base/_forms.scss */
input[type="search"] {
  appearance: none;
  border-radius: 0;
}

/* line 96, scss/base/_forms.scss */
.field-container {
  margin-bottom: 1em;
}

/* line 101, scss/base/_forms.scss */
.inline-form fieldset, .inline-form .inline-container {
  position: relative;
}
/* line 105, scss/base/_forms.scss */
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: #333;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
/* line 115, scss/base/_forms.scss */
.inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
  background: #808080;
  color: #fff;
}

/* Validation */
/* line 123, scss/base/_forms.scss */
.has-error {
  border-color: #f00;
}

/* line 126, scss/base/_forms.scss */
.is-valid {
  border-color: #089e00;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* line 138, scss/base/_forms.scss */
.field-container {
  margin-bottom: 1em;
}

/* line 142, scss/base/_forms.scss */
.form-submit {
  margin-right: 0.5em;
  width: auto;
}
@media all and (max-width 479px) {
  /* line 142, scss/base/_forms.scss */
  .form-submit {
    margin-right: 0;
    width: 100%;
  }
}
/* line 151, scss/base/_forms.scss */
.form-submit:last-child {
  margin-right: 0;
}

/* line 158, scss/base/_forms.scss */
.comment-form input,
.comment-form textarea {
  border: 1px solid #ccd4e0;
}
/* line 163, scss/base/_forms.scss */
.comment-form label {
  color: #335379;
  font-style: italic;
}

/* Search Form */
/* line 171, scss/base/_forms.scss */
.search-field {
  padding-right: 3em;
}

/* line 174, scss/base/_forms.scss */
.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid #808080;
  color: #808080;
}

/* line 182, scss/base/_forms.scss */
.wine-transcription-form {
  padding: 1em;
  background: rgba(255, 255, 255, 0.6);
}

/* line 191, scss/base/_forms.scss */
.labels-browse {
  display: flex;
}
/* line 193, scss/base/_forms.scss */
.labels-browse fieldset {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
/* line 199, scss/base/_forms.scss */
.labels-browse select {
  width: auto;
}

/* line 2, scss/base/_tables.scss */
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
}

/* line 10, scss/base/_tables.scss */
th {
  padding: 0.5em;
  border-bottom: 2px solid #daaa00;
  text-align: left;
  vertical-align: bottom;
}
/* line 16, scss/base/_tables.scss */
tfoot th {
  border-top: 2px solid #daaa00;
  border-bottom: 0;
}

/* line 22, scss/base/_tables.scss */
td {
  border-top: 1px solid #7f93ae;
  padding: 0.5em;
}

/* line 1, scss/base/_animation.scss */
.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* line 4, scss/base/_animation.scss */
.animate-fade:hover {
  opacity: 0;
}

/* line 9, scss/base/_animation.scss */
.animate-hover {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
/* line 12, scss/base/_animation.scss */
.animate-hover:hover {
  color: #fff;
  background-color: #003570;
}

/* line 19, scss/base/_animation.scss */
.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
/* line 5, scss/base/_wine.scss */
.wine-page {
  padding-top: 1em;
  margin: -1em;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    ALT LAYOUT SYSTEM USING FLEXBOX 
    BECAUSE FLEXBOX IS MAGIC
    AND FLOATS REALLY SUCK
\*------------------------------------*/
/* line 7, scss/objects/_layout.scss */
.f {
  margin: 0 auto;
}

/* line 11, scss/objects/_layout.scss */
.f-one-col {
  max-width: 40em;
  margin: 0 auto;
}

/* line 16, scss/objects/_layout.scss */
.f-two-col {
  max-width: 40em;
  margin: 0 auto;
}
@media all and (min-width: 29.75em) {
  /* line 16, scss/objects/_layout.scss */
  .f-two-col {
    display: flex;
  }
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* Layout Container */
/* line 29, scss/objects/_layout.scss */
.lc, .header, [role=main] {
  max-width: 72em;
  padding: 0.5em;
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/
/* One Column Layout */
/* line 42, scss/objects/_layout.scss */
.l-one-col .l-column {
  max-width: 40em;
  margin: 0 auto;
}

/* Two Column Layout */
@media all and (min-width: 50em) {
  /* line 52, scss/objects/_layout.scss */
  .l-two-col .l-main {
    float: left;
    width: 70%;
    padding-right: 1em;
  }
}
@media all and (max-width: 50em) {
  /* line 60, scss/objects/_layout.scss */
  .l-two-col .l-sidebar {
    clear: both;
  }
}
@media all and (min-width: 50em) {
  /* line 60, scss/objects/_layout.scss */
  .l-two-col .l-sidebar {
    float: left;
    width: 30%;
    padding: 0 0 0 1em;
  }
}

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
/* line 79, scss/objects/_layout.scss */
.g {
  overflow: hidden;
  margin: 0 -0.5em;
}

/* Grid Item */
/* line 85, scss/objects/_layout.scss */
.gi {
  padding: 0.5em;
}
/* line 88, scss/objects/_layout.scss */
.gi img {
  display: block;
}
@media all and (min-width: 46.8em) {
  /* line 85, scss/objects/_layout.scss */
  .gi {
    float: left;
  }
}

/* Grid 1up */
/* line 99, scss/objects/_layout.scss */
.g-1up .gi {
  width: 100%;
}

/* Grid 2up */
@media all and (min-width: 46.8em) {
  /* line 107, scss/objects/_layout.scss */
  .g-2up > .gi {
    float: left;
    width: 50%;
  }
  /* line 111, scss/objects/_layout.scss */
  .g-2up > .gi:nth-of-type(odd) {
    clear: left;
  }
}

/* Grid Half (Always displayed side by side) */
/* line 120, scss/objects/_layout.scss */
.g-half > .gi {
  float: left;
  width: 50%;
}
/* line 124, scss/objects/_layout.scss */
.g-half > .gi:nth-of-type(odd) {
  clear: left;
}

/* Grid 3up */
@media all and (min-width: 46.8em) {
  /* line 133, scss/objects/_layout.scss */
  .g-3up > .gi {
    float: left;
    width: 50%;
  }
  /* line 137, scss/objects/_layout.scss */
  .g-3up > .gi:nth-of-type(2n+1) {
    clear: left;
  }
}
@media all and (min-width: 50em) {
  /* line 144, scss/objects/_layout.scss */
  .g-3up > .gi {
    width: 33.3333333%;
  }
  /* line 147, scss/objects/_layout.scss */
  .g-3up > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  /* line 151, scss/objects/_layout.scss */
  .g-3up > .gi:nth-of-type(3n+1) {
    clear: left;
  }
}

/* Grid 4up */
@media all and (min-width: 46.8em) {
  /* line 161, scss/objects/_layout.scss */
  .g-4up > .gi {
    float: left;
    width: 50%;
  }
  /* line 165, scss/objects/_layout.scss */
  .g-4up > .gi:nth-of-type(2n+1) {
    clear: both;
  }
}
@media all and (min-width: 50em) {
  /* line 172, scss/objects/_layout.scss */
  .g-4up > .gi {
    width: 25%;
  }
  /* line 175, scss/objects/_layout.scss */
  .g-4up > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  /* line 179, scss/objects/_layout.scss */
  .g-4up > .gi:nth-of-type(4n+1) {
    clear: left;
  }
}

/* Grid Quarter (Always displayed side by side) */
/* line 188, scss/objects/_layout.scss */
.g-quarter > .gi {
  float: left;
  width: 24%;
}
/* line 192, scss/objects/_layout.scss */
.g-quarter > .gi:nth-of-type(4n+1) {
  clear: left;
}

@media all and (min-width: 29.75em) {
  /* line 201, scss/objects/_layout.scss */
  .g-max4 > .gi {
    float: left;
    width: 50%;
  }
  /* line 205, scss/objects/_layout.scss */
  .g-max4 > .gi:nth-of-type(2n+1) {
    clear: both;
  }
}
@media all and (min-width: 39.8em) {
  /* line 212, scss/objects/_layout.scss */
  .g-max4 > .gi {
    width: 33.3333333%;
  }
  /* line 215, scss/objects/_layout.scss */
  .g-max4 > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  /* line 219, scss/objects/_layout.scss */
  .g-max4 > .gi:nth-of-type(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 50em) {
  /* line 226, scss/objects/_layout.scss */
  .g-max4 > .gi {
    width: 25%;
  }
  /* line 229, scss/objects/_layout.scss */
  .g-max4 > .gi:nth-of-type(3n+1) {
    clear: none;
  }
  /* line 233, scss/objects/_layout.scss */
  .g-max4 > .gi:nth-of-type(4n+1) {
    clear: left;
  }
}

/* Grid 5up */
/* line 243, scss/objects/_layout.scss */
.g-max5 > .gi {
  float: left;
  width: 50%;
}
/* line 247, scss/objects/_layout.scss */
.g-max5 > .gi:nth-of-type(2n+1) {
  clear: both;
}
@media all and (min-width: 39.8em) {
  /* line 253, scss/objects/_layout.scss */
  .g-max5 > .gi {
    width: 33.3333333%;
  }
  /* line 256, scss/objects/_layout.scss */
  .g-max5 > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  /* line 260, scss/objects/_layout.scss */
  .g-max5 > .gi:nth-of-type(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 46.8em) {
  /* line 267, scss/objects/_layout.scss */
  .g-max5 > .gi {
    width: 25%;
  }
  /* line 270, scss/objects/_layout.scss */
  .g-max5 > .gi:nth-of-type(3n+1) {
    clear: none;
  }
  /* line 274, scss/objects/_layout.scss */
  .g-max5 > .gi:nth-of-type(4n+1) {
    clear: left;
  }
}
@media all and (min-width: 48em) {
  /* line 281, scss/objects/_layout.scss */
  .g-max5 > .gi {
    width: 20%;
  }
  /* line 284, scss/objects/_layout.scss */
  .g-max5 > .gi:nth-of-type(4n+1) {
    clear: none;
  }
  /* line 288, scss/objects/_layout.scss */
  .g-max5 > .gi:nth-of-type(5n+1) {
    clear: left;
  }
}

/* Grid 2/3 */
@media all and (min-width: 46.8em) {
  /* line 296, scss/objects/_layout.scss */
  .gi-2-3 {
    float: left;
    width: 66.666666%;
  }
}

@media all and (min-width: 46.8em) {
  /* line 303, scss/objects/_layout.scss */
  .gi-1-3 {
    float: left;
    width: 33.333333%;
  }
}

/* Grid 4up block */
/* line 312, scss/objects/_layout.scss */
.g-opposites .gi {
  float: left;
}
/* line 315, scss/objects/_layout.scss */
.g-opposites .gi:last-child {
  float: right;
  text-align: right;
}

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
/* line 1, scss/objects/_header.scss */
.header {
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #002855;
}

/* line 8, scss/objects/_header.scss */
.logo {
  float: left;
  max-width: 7rem;
  margin: 1em .5rem;
}
@media all and (min-width: 46.8em) {
  /* line 8, scss/objects/_header.scss */
  .logo {
    max-width: 9rem;
    margin: 1rem;
  }
}

/* line 18, scss/objects/_header.scss */
.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;
}
@media all and (min-width: 46.8em) {
  /* line 18, scss/objects/_header.scss */
  .nav-toggle {
    display: none;
  }
}
@media all and (max-width: 17em) {
  /* line 18, scss/objects/_header.scss */
  .nav-toggle {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

/* line 36, scss/objects/_header.scss */
.search-form {
  overflow: hidden;
  max-height: 0;
}
@media all and (min-width: 46.8em) {
  /* line 36, scss/objects/_header.scss */
  .search-form {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

/* line 49, scss/objects/_header.scss */
.header__img-bg--collection {
  background: url("../images/global-header-bg--alt.svg") center top/cover no-repeat;
}
/* line 52, scss/objects/_header.scss */
.no-svg .header__img-bg--collection {
  background: url("../images/global-header-bg--alt.png") center top repeat;
}

/* line 57, scss/objects/_header.scss */
.site-logo {
  display: inline-block;
  height: 50px;
  transition: all .2s ease-in-out;
}
@media (480px 991px) {
  /* line 57, scss/objects/_header.scss */
  .site-logo {
    height: 72px;
  }
}
@media (992px, true) {
  /* line 57, scss/objects/_header.scss */
  .site-logo {
    height: 112px;
  }
  /* line 69, scss/objects/_header.scss */
  .l-header--fixed.is-scrolling .site-logo {
    height: 60px;
  }
}
/* line 74, scss/objects/_header.scss */
.site-logo .logo {
  height: 40%;
  vertical-align: baseline;
  transition: all .2s ease-in-out;
}
@media (992px, true) {
  /* line 80, scss/objects/_header.scss */
  .l-header--fixed.is-scrolling .site-logo .logo {
    height: 55%;
  }
}
/* line 86, scss/objects/_header.scss */
.lt-ie9 .site-logo .logo {
  margin-top: 12%;
  top: 0;
}

/* line 94, scss/objects/_header.scss */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 40, 85, 0.15);
}
@media (992px, true) {
  /* line 98, scss/objects/_header.scss */
  .navbar .primary-nav {
    margin-right: 100px;
  }
}

/*------------------------------------*\
    $NAVIGATION

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	
	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $color__gray-light-2;
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;

		li {
			float: left;
		}

		a {
			border: 0;
		}
		
	}
}
\*------------------------------------*/
/* line 37, scss/objects/_nav.scss */
.wine-nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 40em;
  margin: 1em auto;
  border: 1px solid #002855;
}
/* line 45, scss/objects/_nav.scss */
.wine-nav ul li {
  padding: 0.5em;
}

/* line 52, scss/objects/_nav.scss */
.pagination {
  overflow: hidden;
}
/* line 55, scss/objects/_nav.scss */
.pagination li {
  float: left;
  border-right: 1px solid #eee;
}
/* line 59, scss/objects/_nav.scss */
.pagination li:last-child {
  border: 0;
}
/* line 64, scss/objects/_nav.scss */
.pagination a {
  padding: 1em;
}

/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
/* line 4, scss/objects/_main.scss */
[role=main] {
  padding: 0.5em 0.5em 2em;
  overflow: hidden;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/* line 4, scss/objects/_footer.scss */
.footer {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}
@media all and (min-width: 46.8em) {
  /* line 12, scss/objects/_footer.scss */
  .footer ul {
    display: flex;
    justify-content: space-around;
  }
}
/* line 17, scss/objects/_footer.scss */
.footer ul li {
  padding: .5em;
}
/* line 20, scss/objects/_footer.scss */
.footer ul:last-of-kind {
  font-size: 14px;
}

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
/* line 2, scss/objects/_text.scss */
.intro {
  font-size: 1.0625em;
  font-weight: bold;
}

/* line 8, scss/objects/_text.scss */
.pullquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.4375em;
}

/* line 14, scss/objects/_text.scss */
.caption {
  font-style: italic;
}

/* line 20, scss/objects/_text.scss */
.text a {
  text-decoration: underline;
}
/* line 24, scss/objects/_text.scss */
.text ul {
  list-style: disc;
  margin: 0 0 1em 1.2em;
}
/* line 28, scss/objects/_text.scss */
.text ul ul {
  margin-bottom: 0;
}
/* line 33, scss/objects/_text.scss */
.text ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em;
}
/* line 37, scss/objects/_text.scss */
.text ol ol {
  margin-bottom: 0;
}

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/* Icon Font */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 15, scss/objects/_icons.scss */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 24, scss/objects/_icons.scss */
.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple, .icon-android, .icon-arrow:after, .icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 34, scss/objects/_icons.scss */
.icon-twitter:before {
  content: "\74";
}

/* line 37, scss/objects/_icons.scss */
.icon-stumbleupon:before {
  content: "\75";
}

/* line 40, scss/objects/_icons.scss */
.icon-pinterest:before {
  content: "\70";
}

/* line 43, scss/objects/_icons.scss */
.icon-linkedin:before {
  content: "\69";
}

/* line 46, scss/objects/_icons.scss */
.icon-google-plus:before {
  content: "\67";
}

/* line 49, scss/objects/_icons.scss */
.icon-search:before {
  content: "\73";
}

/* line 52, scss/objects/_icons.scss */
.icon-play:before {
  content: "\61";
}

/* line 55, scss/objects/_icons.scss */
.icon-menu:before {
  content: "\21";
}

/* line 58, scss/objects/_icons.scss */
.icon-arrow-left:before {
  content: "\23";
}

/* line 61, scss/objects/_icons.scss */
.icon-arrow-right:before {
  content: "\24";
}

/* line 64, scss/objects/_icons.scss */
.icon-bubble:before {
  content: "\25";
}

/* line 67, scss/objects/_icons.scss */
.icon-facebook:before {
  content: "\66";
}

/* line 70, scss/objects/_icons.scss */
.icon-feed:before {
  content: "\27";
}

/* line 73, scss/objects/_icons.scss */
.icon-youtube:before {
  content: "\79";
}

/* line 76, scss/objects/_icons.scss */
.icon-tag:before {
  content: "\28";
}

/* line 79, scss/objects/_icons.scss */
.icon-tumblr:before {
  content: "\6d";
}

/* line 82, scss/objects/_icons.scss */
.icon-instagram:before {
  content: "\22";
}

/* line 85, scss/objects/_icons.scss */
.icon-podcast:before {
  content: "\26";
}

/* line 88, scss/objects/_icons.scss */
.icon-android:before {
  content: "\29";
}

/* line 91, scss/objects/_icons.scss */
.icon-apple:before {
  content: "\2a";
}

/* line 94, scss/objects/_icons.scss */
.icon-envelope:before {
  content: "\2b";
}

/* line 99, scss/objects/_icons.scss */
.icon-arrow:after {
  content: "\61";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 109, scss/objects/_icons.scss */
.icon-play:before {
  font-size: 0.7rem;
  padding-left: 0.2em;
}

/* line 114, scss/objects/_icons.scss */
.icon-play-box {
  display: block;
  margin-left: 2em;
}

/* line 119, scss/objects/_icons.scss */
.icon-play-box:before {
  padding: 0.25em;
  background: #808080;
  color: #fff;
  margin-left: -1.7rem;
  margin-right: 0.5em;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/* line 37, scss/objects/_buttons.scss */
.btn,
.btn--primary,
.button,
.btn--alt,
.btn--invert {
  border: 1px solid #002855;
  display: inline-block;
  margin-bottom: 0;
  padding: 0.5em 1em;
  background-color: transparent;
  color: #003570;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}
/* line 20, scss/objects/_buttons.scss */
.btn:hover, .btn:focus,
.btn--primary:hover,
.button:hover,
.btn--alt:hover,
.btn--invert:hover,
.btn--primary:focus,
.button:focus,
.btn--alt:focus,
.btn--invert:focus {
  background-color: #4d688c;
  border-color: #4d688c;
  color: #fff;
  text-decoration: none;
}

/* line 42, scss/objects/_buttons.scss */
.btn--primary,
.button {
  background-color: #335379;
  border: 0;
  color: #fff;
  font-style: italic;
}

/* line 51, scss/objects/_buttons.scss */
.btn--alt {
  border: 0;
  background-color: #e5e9ef;
}

/* line 58, scss/objects/_buttons.scss */
.btn--invert {
  border-color: #fff;
  background-color: rgba(0, 40, 85, 0.4);
  color: #fff;
  transition: all .2s ease-in-out;
}
/* line 66, scss/objects/_buttons.scss */
.btn--invert:hover, .btn--invert:focus {
  background-color: rgba(0, 40, 85, 0.7);
  border-color: #fff;
  color: #fff;
  text-decoration: none;
}

/* line 76, scss/objects/_buttons.scss */
.btn--disabled,
.btn[disabled],
fieldset[disabled] .btn {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

/* line 84, scss/objects/_buttons.scss */
.btn--lg {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  padding: 0.5em 1em;
}

/* line 90, scss/objects/_buttons.scss */
.btn--sm {
  padding: 0.25em 0.5em;
  font-weight: 700;
  font-style: normal;
}

/* line 98, scss/objects/_buttons.scss */
.btn--block {
  display: block;
  width: 100%;
}

/* line 111, scss/objects/_buttons.scss */
.btn-plus, .btn-minus {
  color: #002855;
  background: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 0 0.25em 0.25em;
  border: 1px solid #002855;
  border-radius: .2em;
  text-align: center;
  text-transform: uppercase;
}
/* line 121, scss/objects/_buttons.scss */
.btn-plus:hover, .btn-plus:focus, .btn-minus:hover, .btn-minus:focus {
  background: #335379;
  color: #fff;
}

/* line 127, scss/objects/_buttons.scss */
.btn-minus {
  padding: 0 0.35em 0.05em;
}

/* line 131, scss/objects/_buttons.scss */
.image-zoom-controls {
  margin: 1em;
}

/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
/* line 2, scss/objects/_blocks.scss */
.brick {
  background: #dcdddc;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

/* Block */
/* line 11, scss/objects/_blocks.scss */
.block {
  overflow: hidden;
}
/* line 14, scss/objects/_blocks.scss */
.block p:last-child {
  margin-bottom: 0;
}

/* line 19, scss/objects/_blocks.scss */
.headline {
  line-height: 1.2;
}

/* Hero Block */
/* line 24, scss/objects/_blocks.scss */
.block-hero {
  margin-bottom: 0.5em;
}
/* line 28, scss/objects/_blocks.scss */
.block-hero .b-thumb img {
  display: block;
}
@media all and (min-width: 50em) {
  /* line 24, scss/objects/_blocks.scss */
  .block-hero {
    position: relative;
  }
  /* line 36, scss/objects/_blocks.scss */
  .block-hero .b-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1.5em;
  }
}

/* Block Thumbnail with Headline */
/* line 49, scss/objects/_blocks.scss */
.block-thumb {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
/* line 54, scss/objects/_blocks.scss */
.block-thumb .b-inner {
  display: table-row;
  vertical-align: top;
  overflow: hidden;
}
@media all and (min-width: 29.75em) {
  /* line 60, scss/objects/_blocks.scss */
  .block-thumb .b-thumb {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    max-width: 10em;
  }
  /* line 67, scss/objects/_blocks.scss */
  .block-thumb .b-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 29.75em) {
  /* line 75, scss/objects/_blocks.scss */
  .block-thumb .b-text {
    display: table-cell;
    width: 70%;
    padding: 0 1em;
  }
}

/* Block Headline Summary */
/* line 87, scss/objects/_blocks.scss */
.block-headline-summary a {
  display: block;
  padding: 0.5em;
}

/* Block Inset */
/* line 94, scss/objects/_blocks.scss */
.block-inset {
  position: relative;
}
/* line 97, scss/objects/_blocks.scss */
.block-inset .b-thumb {
  position: relative;
  z-index: 0;
}
/* line 101, scss/objects/_blocks.scss */
.block-inset .b-thumb img {
  display: block;
}

/* Hero Block */
/* line 108, scss/objects/_blocks.scss */
.block-inset {
  margin-bottom: 0.5em;
  position: relative;
}
/* line 112, scss/objects/_blocks.scss */
.block-inset .headline {
  font-size: 1.1em;
}
/* line 116, scss/objects/_blocks.scss */
.block-inset .b-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5em;
}

/* Block Thumb with Summary */
/* line 129, scss/objects/_blocks.scss */
.block-thumb-summary .b-thumb {
  float: left;
  width: 50%;
}
/* line 134, scss/objects/_blocks.scss */
.block-thumb-summary .b-text {
  margin-left: 50%;
  padding: 0.5em;
}

/* line 2, scss/objects/_lists.scss */
.inline-list li {
  display: inline-block;
}

/* Social List */
/* line 9, scss/objects/_lists.scss */
.social-list li {
  margin: 0 0.4rem 1em 0;
}
/* line 13, scss/objects/_lists.scss */
.social-list a {
  font-size: 1.6em;
}

/* Headline List */
/* line 20, scss/objects/_lists.scss */
.headline-list {
  margin-bottom: 1em;
}
/* line 23, scss/objects/_lists.scss */
.headline-list.flush {
  margin: 0;
}
/* line 27, scss/objects/_lists.scss */
.headline-list h4 {
  font-weight: normal;
}
/* line 31, scss/objects/_lists.scss */
.headline-list li {
  padding: 0.25em 0;
  border-top: 1px solid #ddd;
}

/* Post List */
/* line 39, scss/objects/_lists.scss */
.post-list li {
  margin-bottom: 1em;
}

/* Bullet List */
/* line 45, scss/objects/_lists.scss */
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3;
}
/* line 50, scss/objects/_lists.scss */
.bullet-list li {
  margin-bottom: 1em;
}

/* Text List */
/* line 56, scss/objects/_lists.scss */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
}
/* line 60, scss/objects/_lists.scss */
.text-list li {
  margin-bottom: 1em;
}

/* line 1, scss/objects/_tooltip.scss */
.tooltip-container {
  display: inline-block;
  position: relative;
}
/* line 6, scss/objects/_tooltip.scss */
.tooltip-container:hover .tooltip {
  display: block;
}

/* line 12, scss/objects/_tooltip.scss */
.tooltip-link {
  background: #f9f9f9;
}

/* line 16, scss/objects/_tooltip.scss */
.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1em;
  background: #fff;
  border: 1px solid #808080;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2);
}
/* line 27, scss/objects/_tooltip.scss */
.tooltip h2 {
  margin-top: 0;
}
@media all and (min-width: 480px 767px) {
  /* line 16, scss/objects/_tooltip.scss */
  .tooltip {
    width: 22em;
  }
}
@media all and (min-width: 29.75em) {
  /* line 16, scss/objects/_tooltip.scss */
  .tooltip {
    width: 27em;
  }
}
@media all and (min-width: 39.8em) {
  /* line 16, scss/objects/_tooltip.scss */
  .tooltip {
    width: 30em;
  }
}

/* line 1, scss/objects/_accordion.scss */
.accordion {
  margin-bottom: 1em;
}

/* line 5, scss/objects/_accordion.scss */
.acc-handle {
  background: #131313;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}
/* line 15, scss/objects/_accordion.scss */
.acc-handle:after {
  content: "+";
  float: right;
}
/* line 20, scss/objects/_accordion.scss */
.acc-handle:hover {
  color: #fff;
  background: #333;
}
/* line 26, scss/objects/_accordion.scss */
.acc-handle.active {
  background: #333;
}
/* line 29, scss/objects/_accordion.scss */
.acc-handle.active:after {
  content: "-";
}

/* line 1, scss/objects/_tabs.scss */
.tabs {
  overflow: hidden;
}
/* line 4, scss/objects/_tabs.scss */
.tabs ul {
  display: table;
  width: 100%;
}
/* line 9, scss/objects/_tabs.scss */
.tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #ddd;
}
/* line 14, scss/objects/_tabs.scss */
.tabs li:last-child {
  border-right: 0;
}
/* line 19, scss/objects/_tabs.scss */
.tabs a {
  display: block;
  padding: 0.5em;
  background: #808080;
}
/* line 24, scss/objects/_tabs.scss */
.tabs a:hover, .tabs a:focus {
  background: #ddd;
}
/* line 28, scss/objects/_tabs.scss */
.tabs a.active {
  background: #333;
  color: #fff;
}

/* line 1, scss/objects/_sections.scss */
.section {
  margin: 0 0 1em;
}

/* line 5, scss/objects/_sections.scss */
.section-title {
  margin-bottom: 0.5em;
}

/* line 3, scss/objects/_article.scss */
.article-header h1 {
  font-size: 2.5em;
}

/* line 8, scss/objects/_article.scss */
.byline {
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 0.5em;
}

/* line 15, scss/objects/_article.scss */
.social-share {
  overflow: hidden;
  margin-bottom: 1em;
}
/* line 19, scss/objects/_article.scss */
.social-share li {
  float: left;
  margin-right: 0.5em;
}
/* line 24, scss/objects/_article.scss */
.social-share a {
  background: #333;
  color: #fff;
  display: block;
  padding: 0.5em;
}
/* line 30, scss/objects/_article.scss */
.social-share a:hover {
  background: #808080;
}

/* line 2, scss/objects/_comments.scss */
.comments li {
  margin-bottom: 1em;
}

/* line 7, scss/objects/_comments.scss */
.comment-container {
  overflow: hidden;
  margin-bottom: 1em;
  list-style: none;
}

/* line 13, scss/objects/_comments.scss */
.comment-meta {
  float: left;
  width: 6.5em;
}
/* line 17, scss/objects/_comments.scss */
.comment-meta img {
  display: block;
  border: 1px solid #eee;
  margin-bottom: 0.5em;
}

/* line 24, scss/objects/_comments.scss */
.comment-name {
  font-size: 0.75em;
}

/* line 28, scss/objects/_comments.scss */
.comment-text {
  margin-left: 9em;
}

/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/
/* line 6, scss/objects/_messaging.scss */
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #808080;
  background: #f9f9f9;
}

/* line 14, scss/objects/_messaging.scss */
.alert-error {
  color: #f00;
  border-color: #f00;
  background: #ffbebe;
}

/* line 1, scss/objects/_gallery.scss */
.gallery-images {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* line 7, scss/objects/_gallery.scss */
.gallery-thumbnail {
  flex-basis: 40%;
  flex-grow: 1;
  max-width: 45%;
  margin: 0 .4em;
}
/* line 12, scss/objects/_gallery.scss */
.gallery-thumbnail figure img {
  margin: 0;
}
@media all and (min-width: 480px 767px) {
  /* line 7, scss/objects/_gallery.scss */
  .gallery-thumbnail {
    flex-basis: 30%;
    max-width: 30%;
  }
}
@media all and (min-width: 29.75em) {
  /* line 7, scss/objects/_gallery.scss */
  .gallery-thumbnail {
    flex-basis: 20%;
    max-width: 22%;
  }
}
@media all and (min-width: 39.8em) {
  /* line 7, scss/objects/_gallery.scss */
  .gallery-thumbnail {
    flex-basis: 15%;
    max-width: 18%;
  }
}

/* line 1, scss/objects/_image-zoomer.scss */
.main-wine-label {
  cursor: move;
}

/* line 2, scss/objects/_pagination.scss */
.pager {
  width: inherit;
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
/* line 8, scss/objects/_pagination.scss */
.pager__item {
  float: left;
  margin: 0.25em 0.5em 0.25em 0;
}
/* line 13, scss/objects/_pagination.scss */
.pager__item a, .pager__item--static {
  display: block;
  padding: 0.5em 1em;
  background: #ccd4e0;
  color: #002855;
  transition: all .2s ease-in-out;
}
/* line 22, scss/objects/_pagination.scss */
.pager__item a:hover {
  background: #335379;
  color: #fff;
  text-decoration: none;
}
/* line 29, scss/objects/_pagination.scss */
.pager__item--current, .pager__item--current a {
  background: #335379;
  color: #fff;
}
/* line 34, scss/objects/_pagination.scss */
.pager__item--current:hover, .pager__item--current a:hover {
  background: #1a3e68;
}
