&lt;button class=&quot;search-popup__open js-search-popup__open&quot;&gt;Open&lt;/button&gt;

&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;search-popup&quot;&gt;
  &lt;button class=&quot;search-popup__close&quot;&gt;&lt;span class=&quot;search-popup__close-icon&quot;&gt;Close&lt;/span&gt;&lt;/button&gt;
  &lt;div class=&quot;search-popup__container&quot;&gt;
    &lt;input type=&quot;text&quot; name=&quot;search&quot; class=&quot;search-popup__input&quot; placeholder=&quot;Search&quot; required=&quot;required&quot;&gt;
    &lt;label for=&quot;search&quot; class=&quot;search-popup__label&quot;&gt;Search&lt;/label&gt;
    &lt;div class=&quot;search-popup__buttons&quot;&gt;
      &lt;input type=&quot;submit&quot; value=&quot;Pages&quot; class=&quot;search-popup__submit&quot;&gt;
      &lt;input type=&quot;submit&quot; value=&quot;People&quot; class=&quot;search-popup__submit&quot;&gt;
      &lt;input type=&quot;submit&quot; value=&quot;Departments&quot; class=&quot;search-popup__submit&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
