&lt;a href=&quot;{{url}}&quot; class=&quot;media-link {{ styleModifier }}&quot;&gt;
  &lt;div class=&quot;media-link__wrapper&quot;&gt;
    &lt;div class=&quot;media-link__figure&quot;&gt;
      {{&gt; atoms-thumbnail }}
    &lt;/div&gt;
    &lt;div class=&quot;media-link__body&quot;&gt;
      &lt;h3 class=&quot;media-link__title&quot;&gt;{{ headline.short }}&lt;/h3&gt;
      &lt;p&gt;{{ excerpt.short }}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/a&gt;