&lt;div class=&quot;page wine-page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-wine-header }}
	&lt;section class=&quot;f-one-col-jumbo&quot;&gt;
		{{&gt; organisms-image-viewer }}
		{{&gt; molecules-wine-label-navigation }}
	&lt;/section&gt;
	&lt;section class=&quot;f-two-col&quot;&gt;
		&lt;div class=&quot;label-info&quot;&gt;
			&lt;h1&gt;Label #32435&lt;/h1&gt;
			{{&gt; atoms-definition }}
		&lt;/div&gt;
		{{&gt; organisms-secondary-wine-info }}
	&lt;/section&gt;
	{{&gt; organisms-wine-footer }}
&lt;/div&gt;
