&lt;div class=&quot;node vm-media-list node--event&quot;&gt;
  {{&gt; atoms-landscape-16x9}}
  &lt;h3 class=&quot;node__title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/h3&gt;
  &lt;div class=&quot;field__date&quot;&gt;{{ month.digit }}/{{ day.short }}/{{ year.short }}&lt;/div&gt;
  &lt;div class=&quot;field__location&quot;&gt;{{ location }}&lt;/div&gt;
&lt;/div&gt;
