&lt;figure class=&quot;thumbnails&quot;&gt;
	&lt;a href=&quot;{{ link.pages-single-wine-label }}&quot;&gt;
	{{&gt; atoms-landscape-4x3 }}
	&lt;label&gt;{{ label }}&lt;/label&gt;
	&lt;figcaption&gt;{{ caption }}&lt;/figcaption&gt;
	&lt;/a&gt;
&lt;/figure&gt;