<!-- Begin .header -->
<header class="l-header header" role="banner">
  <div class="header__img-bg--collection">
    <a href="#nav" class="nav-toggle js-nav-toggle">
      <span class="nav-toggle__icon nav-toggle__icon--menu">Menu</span>
    </a>
    <div class="l-container">
      {{> atoms-logo-library:site-logo }}
    </div>
  </div>
  <div class="l-navbar navbar menu--closed">
    <div class="l-container--navigation off-canvas off-canvas--left">
      <div class="off-canvas__container">
       {{> molecules-special-collections-primary-nav }}
        <div class="l-quick-links">
          {{> molecules-library-quick-links }}
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End .header -->