<!-- Begin Footer -->
<footer>
	<nav>
		<div class="secondary-menu">
			<ul class="menu">
				<li class="menu-item">
					<a target="_blank" href="{{ link.templates-login }}">Admin log out</a>
				</li>
				<li class="menu-item">
					<a target="_blank" href="{{ link.templates-admin-homepage }}">Admin Dashboard</a>
				</li>
				<li class="menu-item">
					<a href="{{ link.templates-about }}">Questions or Comments?</a>
				</li>
			</ul>
		</div>
	</nav>
	<section class="row align-center donor-links">
		<div><img src="../../images/uc-lib-logo-label-this.svg"></a></div>
		<small>This site was built for the <a href="https://www.lib.ucdavis.edu/dept/specol/">Special Collections Department</a> at the <a href="https://www.lib.ucdavis.edu">UC Davis Library</a>.<br/>
 					Help us make this and other projects possible—<a href="https://give.ucdavis.edu/ulib/">support the Library.</a></small>
	</section>
	<section class="row align-center ucd-links">
		<small class="legal"><a href="https://www.ucdavis.edu">University of California, Davis</a>, One Shields Avenue, Davis, CA 95616 | 530-752-1011<br/>
			Copyright © The Regents of the <a href="http://www.universityofcalifornia.edu/">University of California</a>, Davis campus. All rights reserved.</small>
	</section>
	<section class="row align-spaced legal-links">
		<div><small class="legal"><a href="https://www.ucdavis.edu/privacy-and-accessibility">Privacy & Accessibility</a></small></div>
		<div><small class="legal"><a href="http://occr.ucdavis.edu/poc/">Principles of Community</a></small></div>
	</section>
</footer>
<nav id="small-menu">
	<ul class="sm-menu">
		<li class="sm-menu-item close-button">
			<a href="#large-menu">&times;</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-homepage }}">Home</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-mark-flow-start }}">Mark</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-transcribe-flow-start }}">Transcribe</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-homepage }}">Search</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-about }}">About the Project</a>
		</li>
		<li class="sm-menu-item">
			<a target="_blank" href="{{ link.templates-blog-main-page }}">Blog</a>
		</li>
		<li class="sm-menu-item">
			<a target="_blank" href="{{ link.templates-blog-main-page }}">Questions or Comments?</a>
		</li>
		<li class="sm-menu-item">
			<a target="_blank" href="{{ link.templates-login }}">Admin Dashboard</a>
		</li>
		<li class="sm-menu-item">
			<a target="_blank" href="{{ link.templates-login }}">Admin log out</a>
		</li>
	</ul>
</nav>
</body>
<!-- End Footer -->
