<!-- Begin Footer -->
<footer class="l-footer footer" role="contentinfo">
  <div class="l-container">
    <div class="pack pack--small footer__navs">
      <div class="pack__item">
        {{> molecules-footer-primary-nav }}
      </div>
      <div class="pack__item">
        <div class="footer-nav">
          <h2 class="footer-nav__title">Students</h2>
          <ul class="menu">
            <li><a href="http://orientation.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Orientation">New Students</a></li>
            <li><a href="http://studentlife.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Student-Life">Undergraduates</a></li>
            <li><a href="https://gradstudies.ucdavis.edu/current-students?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Grad-Studies">Graduate Students</a></li>
            <li><a href="https://icc.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-ICC">Internship &amp; Career Center</a></li>
            <li><a href="https://ucdavis.edu/jobs/student-jobs-internships/">Jobs &amp; Internships</a></li>
            <li><a href="http://alumni.ucdavis.edu/membership/parents/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-CAAA-Parents">Parents</a></li>
          </ul>
        </div>
      </div>
      <div class="pack__item">
        <div class="footer-nav">
          <h2 class="footer-nav__title">Alumni</h2>
          <ul class="menu">
            <li><a href="http://alumni.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-CAAA">Cal Aggie Alumni Association</a></li>
            <li><a href="http://www.alumni.ucdavis.edu/benefits/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-CAAA-Benefits">Member Benefits</a></li>
            <li><a href="http://www.alumni.ucdavis.edu/benefits/career-connections?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-CAAA-Career-Connections">Career Connections</a></li>
            <li><a href="http://ucdavismagazine.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Magazine">UC Davis Magazine</a></li>
            <li><a href="https://registrar.ucdavis.edu/records/transcripts/index.cfm?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Registrar-Transcripts">Transcripts</a></li>
          </ul>
        </div>
      </div>
      <div class="pack__item">
        <div class="footer-nav">
          <h2 class="footer-nav__title">Faculty</h2>
          <ul class="menu">
            <li><a href="http://academicaffairs.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Academic-Affairs">Resources</a></li>
            <li><a href="http://ue.ucdavis.edu/faculty/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-UE-Teaching-Resources">Teaching</a></li>
            <li><a href="http://research.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Office-of-Research">Research</a></li>
            <li><a href="http://www.hr.ucdavis.edu/benefits/index.html?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-HR-Benefits-Faculty">Benefits</a></li>
            <li><a href="http://academicsenate.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Academic-Senate">Faculty Governance</a></li>
          </ul>
        </div>
      </div>
      <div class="pack__item">
        <div class="footer-nav">
          <h2 class="footer-nav__title">Staff</h2>
          <ul class="menu">
            <li><a href="https://ucdavis.edu/staff/">Resources</a></li>
            <li><a href="http://sdps.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-SDPS
">Training</a></li>
            <li><a href="http://www.hr.ucdavis.edu/benefits/index.html?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-HR-Benefits-Staff">Benefits</a></li>
            <li><a href="https://ucdavis.edu/jobs/">Jobs</a></li>
            <li><a href="http://staff.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Links-to-Staff-Assembly">Staff Assembly</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-spacer">
      <hr class="footer-spacer__hr hr-invert">
      <div class="footer-spacer__logo">
        {{> atoms-logo-c-horse }}
      </div>
    </div>

    {{> molecules-info-copyright }}
  </div>
</footer>
<!-- End Footer -->