<!-- Begin Footer -->
<footer>
		<section class="row align-spaced">
			<div><a href="https://www.lib.ucdavis.edu"><img src="../../images/uc-logo-white.png"></a></div>
			<div><a href="https://www.lib.ucdavis.edu/dept/specol/">Special Collections</a></div>
			<div><a href="https://give.ucdavis.edu/ulib/">Support the Library</a></div>
		</section>
		<section class="row align-spaced">
			<p><small>University of California, Davis, One Shields Avenue, Davis, CA 95616 | 530-752-1011</small></p>
		</section>
		<section class="row align-spaced">
			<div><small><a href="https://www.ucdavis.edu/help">Help</a></small></div>
			<div><small><a href="https://www.ucdavis.edu/contact">Questions or comments?</a></small></div>
			<div><small><a href="https://www.ucdavis.edu/privacy-and-accessibility">Privacy & Accessibility</a></small></div>
			<div><small><a href="http://occr.ucdavis.edu/poc/">Principles of Community</a></small></div>
			<div><small><a href="http://www.universityofcalifornia.edu/">University of California</a></small></div>
		</section>
		<section class="row align-spaced">
			<p><small>Copyright © The Regents of the University of California, Davis campus. All rights reserved.</small></p>
		</section>
</footer>
</body>
<!-- End Footer -->
