<!-- Begin Footer -->
<footer>
		<section class="row align-spaced">
			<div><a href="https://www.lib.ucdavis.edu"><img src="../../images/uc-logo-white.png"></a></div>
			<div><a href="https://www.lib.ucdavis.edu/dept/specol/">Special Collections</a></div>
			<div><a href="https://give.ucdavis.edu/ulib/">Support the Library</a></div>
		</section>
		<section class="row align-spaced">
			<p><small>University of California, Davis, One Shields Avenue, Davis, CA 95616 | 530-752-1011</small></p>
		</section>
		<section class="row align-spaced">
			<div><small><a href="https://www.ucdavis.edu/help">Help</a></small></div>
			<div><small><a href="https://www.ucdavis.edu/contact">Questions or comments?</a></small></div>
			<div><small><a href="https://www.ucdavis.edu/privacy-and-accessibility">Privacy & Accessibility</a></small></div>
			<div><small><a href="http://occr.ucdavis.edu/poc/">Principles of Community</a></small></div>
			<div><small><a href="http://www.universityofcalifornia.edu/">University of California</a></small></div>
		</section>
		<section class="row align-spaced">
			<p><small>Copyright © The Regents of the University of California, Davis campus. All rights reserved.</small></p>
		</section>
</footer>
<nav id="small-menu">
	<ul class="sm-menu">
		<li class="sm-menu-item close-button">
			<a href="#large-menu">&times;</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-homepage }}">Label This</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-browse }}">Browse</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-mark-flow-start }}">Mark</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-transcribe-flow-start }}">Transcribe</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-homepage }}">Search</a>
		</li>
		<li class="sm-menu-item">
			<a href="{{ link.templates-about }}">About the Project</a>
		</li>
		<li class="sm-menu-item">
			<a target="_blank" href="{{ link.templates-blog-main-page }}">Blog</a>
		</li>
		<li class="sm-menu-item">
			<a target="_blank" href="{{ link.templates-login }}">Log in</a>
		</li>
	</ul>
</nav>
</body>
<!-- End Footer -->
