<!-- Begin Footer -->
<footer class="footer">
		<ul>
			<li><a href="https://ucdavis.edu/"><img src="../../images/uc-logo-blue.svg" class="logo " alt="UC Davis Logo" /></a></li>
		</ul>
		<ul>
			<li><a href="https://www.lib.ucdavis.edu">The Peter J. Sheilds Library</a></li>
			<li><a href="https://www.lib.ucdavis.edu/dept/specol/">Special Collections</a></li>
			<li><a href="https://give.ucdavis.edu/ulib/">Support the Library</a></li>
		</ul>
		<p>University of California, Davis, One Shields Avenue, Davis, CA 95616 | 530-752-1011</p>
		<ul>
			<li><a href="https://www.ucdavis.edu/help">Help</a></li>
			<li><a href="https://www.ucdavis.edu/contact">Questions or comments?</a></li>
			<li><a href="https://www.ucdavis.edu/privacy-and-accessibility">Privacy & Accessibility</a></li>
			<li><a href="http://occr.ucdavis.edu/poc/">Principles of Community</a></li>
			<li><a href="http://www.universityofcalifornia.edu/">University of California</a></li>
		</ul>
		<p>Copyright © The Regents of the University of California, Davis campus. All rights reserved.</p>
</footer>
<!-- End Footer -->