<!-- Begin .header -->
<header class="l-header header" role="banner">
  <div class="header__img-bg--collection">
    <a href="#nav" class="nav-toggle js-nav-toggle">
      <span class="nav-toggle__icon nav-toggle__icon--menu">Menu</span>
    </a>
    <div class="l-container">
      {{> atoms-logo-library:site-logo }}
    </div>
    <div>
      {{> molecules-primary-nav }}
    </div>
  </div>
</header>
<!-- End .header -->