&lt;div class=&quot;page wine-page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-wine-header }}
		&lt;section class=&quot;f-one-col&quot;&gt;
			{{&gt; molecules-wine-labels-tabs }}
			{{# introduction }}
				&lt;h1&gt;{{ headline }}&lt;/h1&gt;
				&lt;p&gt;{{ main-text-p-1 }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-2 }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-3 }}&lt;/p&gt;
			{{/ introduction }}
			{{# history }}
				&lt;p class=&quot;intro&quot; id=&quot;history&quot;&gt;{{ headline }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-1 }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-2 }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-3 }}&lt;/p&gt;
			{{/ history }}
			{{# instructions }}
				&lt;p class=&quot;intro&quot; id=&quot;instructions&quot;&gt;{{ headline }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-1 }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-2 }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-3 }}&lt;/p&gt;
			{{/ instructions }}
		&lt;/section&gt;
	{{&gt; organisms-wine-footer }}
&lt;/div&gt;
