&lt;div class=&quot;featured-headline&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    &lt;div class=&quot;featured-headline__thumb&quot;&gt;
      {{&gt; atoms-landscape-16x9 }}
    &lt;/div&gt;
    &lt;h2 class=&quot;featured-headline__title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
    &lt;h3 class=&quot;featured-headline__sub-title&quot;&gt;{{ headline.medium }}&lt;/h3&gt;
  &lt;/a&gt;
&lt;/div&gt;