&lt;div class=&quot;page l-header--fixed&quot;&gt;
  {{&gt; organisms-header }}
    &lt;div class=&quot;l-main&quot; role=&quot;main&quot;&gt;

        &lt;div class=&quot;page-title&quot;&gt;
            &lt;h1 class=&quot;page-title__title category-brand__text--knock-out&quot;&gt;{{ title }}&lt;/h1&gt;
        &lt;/div&gt;

        &lt;div class=&quot;l-container brenham-flipped&quot;&gt;
          {{&gt; molecules-breadcrumbs }}

          {{# emergency }}
            {{&gt; molecules-alert-error }}
          {{/ emergency }}

            &lt;div class=&quot;l-content&quot;&gt;
                &lt;div class=&quot;box-wrapper&quot;&gt;
                    &lt;div class=&quot;panel-pane body-text&quot;&gt;
                        &lt;div class=&quot;space-below&quot;&gt;
                          {{&gt; atoms-landscape-16x9 }}
                        &lt;/div&gt;
                        &lt;span class=&quot;ucd-major-minor&quot;&gt;(Major &amp;amp; Minor)&lt;/span&gt;&lt;span class=&quot;gray-italic space-below&quot;&gt; Also available as a minor&lt;/span&gt;
                        {{&gt;  atoms-paragraph }}
                        &lt;h3&gt;Real World&lt;/h3&gt;
                        {{&gt;  atoms-paragraph }}
                        &lt;h3&gt;Major Requirements&lt;/h3&gt;
                        {{&gt;  atoms-paragraph }}
                        &lt;ul&gt;
                            &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Department Website&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Detailed Major Requirements&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Course Descriptions for this Major&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Study this Major Abroad&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;General Catalog Supplement&lt;/a&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                        &lt;h3 class=&quot;space-below&quot;&gt;Major Adviser&lt;/h3&gt;
                        &lt;ul&gt;
                            &lt;li&gt;&lt;b&gt;Name:&lt;/b&gt; {{ adviser-name }}&lt;/li&gt;
                            &lt;li&gt;&lt;b&gt;Email:&lt;/b&gt; {{ adviser-email }}&lt;/li&gt;
                            &lt;li&gt;&lt;b&gt;Phone:&lt;/b&gt; {{ adviser-phone }}&lt;/li&gt;
                        &lt;/ul&gt;
                        &lt;h3 class=&quot;space-below&quot;&gt;Search for Additional Majors&lt;/h3&gt;
                        {{&gt; molecules-search-form:search-form__input--border}}
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;&lt;!--end .l-content--&gt;

            &lt;div class=&quot;l-sidebar-second&quot;&gt;
                &lt;div class=&quot;panel-pane&quot;&gt;
                  {{&gt; molecules-sub-nav }}
                &lt;/div&gt;
              {{# focal-links }}
                  &lt;div class=&quot;panel-pane&quot;&gt;
                    {{&gt; molecules-focal-link }}
                  &lt;/div&gt;
              {{/ focal-links }}
                &lt;div class=&quot;panel-pane bg-transparent&quot;&gt;
                  {{&gt; molecules-social-follow-small }}
                &lt;/div&gt;
            &lt;/div&gt;&lt;!--end .l-sidebar-second--&gt;

        &lt;/div&gt;
    &lt;/div&gt;&lt;!--End role=main--&gt;
  {{&gt; organisms-footer }}
&lt;/div&gt;