{{&gt; molecules-manage-this-nav }}
&lt;div class=&quot;admin-body&quot;&gt;
	{{&gt; molecules-label-herocard }}
	&lt;div&gt;
		&lt;h2&gt;Marks &amp; Transcriptions&lt;/h2&gt;
		&lt;p&gt;These are ready to be approved/verified. Placeholders for now.&lt;/p&gt;
		{{&gt; molecules-pagination }}
		&lt;div class=&quot;row small-up-1 medium-up-2 large-up-3&quot;&gt;
			{{# browsegallery }}
			{{&gt; molecules-fragment-card }}
			{{/ browsegallery }}
		&lt;/div&gt;
		{{&gt; molecules-pagination }}
	&lt;/div&gt;
&lt;/div&gt;
{{&gt; organisms-admin-footer }}
