<section class="row align-justify toolbar">
  <a class="secondary button previous-label" href="{{ link.templates-single-label }}"><img class="left-pointer" src="../../images/left-pointer-red.svg"/>Previous Label</a>
  <div class="columns align-self-middle single label-title">Label #8888</div>
  <a class="secondary button next-label" href="{{ link.templates-single-label }}">Next Label<img class="right-pointer" src="../../images/right-pointer-red.svg"/></a>
</section>
