// Form Field Container
.field-container {
  margin-bottom: $spacing-unit;
}

.form-submit {
  margin-right: $spacing-unit--small;
  width: auto;

  @include breakpoint($bp-small--down) {
    margin-right: 0;
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.comment-form {

  input,
  textarea {
    border: 1px solid $ucd-blue-20;
  }

  label {
    color: $ucd-blue-80;
    font-style: italic;
  }
}
