// Global classes

// Clearfix
.clearfix {
  @include clearfix();
}

.clear {
  clear: both;
}

// Completely remove from the flow and screen readers.
.is-hidden {
  display: none;
}

// Completely remove from the flow but leave available to screen readers.
.is-hidden--visually,
%is-hidden--visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Image Replacement
.ir,
%ir {
  @include hide-text();
}

// States
.error {
  color: $brand--danger;
}

.warning {
  color: $brand--warning;
}

.information {
  color: $brand--info;
}

// Box Wrapper Container
.box-wrapper,
%box-wrapper {
  @include clearfix();
  background-color: $white;
  margin-bottom: $spacing-unit--large;
  padding: $spacing-unit--large;

  @include breakpoint($bp-wide--up) {
    padding: $spacing-unit--large + $spacing-unit--small;
  }
}

.box-wrapper--small,
%box-wrapper--small {
  @extend %box-wrapper;
  padding: $spacing-unit;

  @include breakpoint($bp-wide--up) {
    padding: $spacing-unit + $spacing-unit--small;
  }
}

.box-wrapper--large,
%box-wrapper--large {
  @extend %box-wrapper;
  padding: $spacing-unit--large + $spacing-unit;

  @include breakpoint($bp-wide--up) {
    padding: $spacing-unit--huge;
  }
}

.box-wrapper--flush,
%box-wrapper--flush {
  margin-bottom: 0;
}

.box-wrapper--border-bottom,
%box-wrapper--border-bottom {
  border-bottom: 1px solid $ucd-blue-20;
}

// Align classes
.align-right,
%align-right {
  @include breakpoint($bp-small--up, true) {
    float: right;
    margin-bottom: $spacing-unit;
    margin-left: $spacing-unit;
  }
}

.align-left,
%align-left {
  @include breakpoint($bp-small--up, true) {
    float: left;
    margin-bottom: $spacing-unit;
    margin-right: $spacing-unit;
  }
}

.align-center {
  margin: 0 auto;
  text-align: center;

  // Fix figure and figcaptions when aligned center
  figure {
    display: block;

    // Force an immediate child so that it doesn't break stuff in ckeditor
    > img {
      width: auto;
    }
  }

  figcaption {
    @include font-size(12px, 18px);
    display: block;
  }
}

// Image resizing
.image-half {
  @include breakpoint($bp-small--up, true) {
    max-width: 50%;
  }
}

// Width resizing
.width-half,
%width-half {
  @include breakpoint($bp-small--up, true) {
    width: 50%;
  }
}

.width-two-thirds {
  @include breakpoint($bp-small--up, true) {
    width: 66%;
  }
}

// Add some bottom margin
.space-below {
  margin-bottom: $spacing-unit;
}

.space-below--large {
  margin-bottom: $spacing-unit--large;
}

// Default each Panel Pane to a white background
.panel-pane {
  clear: left;
  margin-bottom: $spacing-unit--large;
  background-color: $white;

  &--flush {
    margin-bottom: 0;
  }
}

// Reset all Menus lists
.menu {
  @include reset-list();

  li {
    @include reset-list();
  }
}

// Links to more content
.view-all {
  display: block;
  border-top: 1px solid $ucd-blue-50;
  padding-top: $spacing-unit--small;
}

// Apply a transparent background

.bg-transparent {
  background-color: transparent;
}

.bg-opaque {
  background-color: $white;
}

// Views Hierarchy Depth

$hdepth-depth: 5;

.hdepth-0 {
  margin-left: 0;
}

@for $i from 1 through $hdepth-depth {
  .hdepth-#{$i} {
    margin-left: $spacing-unit * $i - 1;
  }
}

// Underline branding for headings

.uc-underline {

  &:after {
    display: block;
    border-top: 3px solid $ucd-gold;
    margin: $spacing-unit--tiny 0 $spacing-unit--small;
    width: $spacing-unit * 1.25;
    content: "";
  }
}

.gray-italic {
  display: inline-block;
  color: $gray-light;
  font-style: italic;
}
