// Headings

$page-title-triangle-size: 40px;

// Page title
.page-title {
  position: relative;
  margin-top: $spacing-unit--large;
  margin-bottom: $spacing-unit--large;
  overflow: hidden;

  &--banner {
    margin-top: 0;
  }

  &.page-title--plain {
    margin: 0;

    .page-title__title {
      margin: 0;
      padding: 0;
      background-color: transparent;
      color: $ucd-blue;
      line-height: 44px;

      &:after {
        display: none;
      }
    }

    .page-title__sub-title {
      margin: 0;
      padding: 0;
      background-color: transparent;
      color: $ucd-gold;
      font-style: normal;
      line-height: 44px;

      &:after {
        display: none;
      }
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: $spacing-unit--small $spacing-unit $spacing-unit--small $container-space;
    background-color: $ucd-blue-80;
    color: $white;

    @include breakpoint($bp-medium--down) {
      @include font-size(20px);
    }

    @include breakpoint($bp-medium--up, true) {
      margin-right: $container-space--md;
      padding-left: $container-space--md;
    }
    @include breakpoint($bp-wide--up) {
      margin-right: $container-space--lg;
      padding-left: $container-space--lg;
    }
    @include breakpoint($bp-huge) {
      margin-right: $container-space--xlg;
      padding-left: $container-space--xlg;
    }

    &:after {
      @include triangle($ucd-blue-80, 150px, $page-title-triangle-size, 225);
      @include force-anti-alias();
      position: absolute;
      right: -$page-title-triangle-size;
      bottom: 0;
      height: 150px;
      width: $page-title-triangle-size;
      content: "";

      .lt-ie9 & {
        right: -($page-title-triangle-size - 1px);
      }
    }

    &--nested {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      overflow: hidden;
      width: 100%;
    }
  }

  &__bg {
    width: 100%;
  }
}

// Standard Heading
.heading {
  @include heading-default();
}

.heading--primary {
  @include heading--primary();
}

.heading--secondary {
  @include heading--secondary();
}

.heading--highlight {
  @include heading--highlight();
}

.heading--pane {
  @include heading--pane();
}

.heading--auxiliary {
  @include heading--auxiliary();
}

.heading--weighted {
  @include heading--weighted();
}

.heading--underline {
  @include heading--underline();
}

.heading--weighted-underline {
  @include heading--weighted-underline();
}

.heading--social-follow {
  @include heading--social-follow();
}

.heading--feature-block {
  @include heading--feature-block();
}

.heading--focus-box {
  @include heading--focus-box();
}

.heading--invert {
  @include heading--invert();
}
