// Bordered version
//
// Add borders all around the table and between all the columns.
.table--bordered {
  border: 1px solid $table-border-color;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }

  // Regular cells without parent wrappers
  > tr > td {
    border: 1px solid $table-border-color;
  }

  // Heading
  > thead > tr,
  > tr {
    > th {
      border-bottom: 2px solid $ucd-gold;
    }
  }

}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table--striped {
  > tbody > tr:nth-of-type(odd),
  > tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping
.table--hover {
  > tbody > tr:hover,
  > tbody > tr:hover:nth-of-type(odd),
  > tr:hover,
  > tr:hover:nth-of-type(odd) {
    background-color: $table-bg-hover;
  }
}

// Admin Table
.table--admin,
%table--admin {
  background-color: $white;
  border: 1px solid $ucd-blue-90;
  border-collapse: inherit;

  mark {
    @include font-size(11px);
    background-color: $mu-brick;
    border-radius: $spacing-unit--small;
    color: $white;
    padding: $spacing-unit--tiny $spacing-unit--small;
    text-transform: capitalize;
  }

  a {
    text-decoration: underline;
  }

  > thead {
    background-color: $ucd-blue-90;
    color: $white;

    a {
      color: $white;
    }

    > tr > th {
      border-bottom-width: 0;
    }

    img {
      margin-left: $spacing-unit--small;
    }

    .active {
      border-left: 1px solid $ucd-blue-60;
      border-right: 1px solid $ucd-blue-60;
      background-color: lighten($sage-green, 25);

      .active {
        color: $ucd-blue;
      }
    }
  }

  > tbody > tr {

    &.drag-previous,
    &.drag-previous:nth-of-type(odd) {
      background-color: $ucd-gold-10;
    }

    &.drag,
    &.drag:nth-of-type(odd) {
      background-color: $ucd-gold-20;
    }
  }

  > tbody > tr:nth-of-type(odd),
  > tr:nth-of-type(odd) {
    background-color: $ucd-blue-10;
  }

  > tfoot {
    background-color: $ucd-blue-60;

    > tr > th {
      border-top-width: 0;
      color: $gray-lighter;
      font-weight: normal;
    }
  }

  .active {
    background-color: lighten($sage-green, 30);
    border-left: 1px solid $ucd-blue-40;
    border-right: 1px solid $ucd-blue-40;
  }
}
