// Font Families
.font--secondary {
  font-family: $font-family--serif;
}

.font--monospace {
  font-family: $font-family--monospace;
}

// Caption
.caption {
  font-style: italic;
}

.hr-invert {
  border-color: rgba($white, .25);
}

.byline {
  color: $gray;
}

// Pullquote
.pullquote,
%pullquote {
  border-left: 0;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit;
  background: $ucd-blue-20;
  font-size: $font-size--base;

  p {
    color: $ucd-blue;
    font-style: italic;

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    font-style: normal;
  }
}

// Metadata
.meta-info {
  @include font-size(18px);
  margin-top: .75em;

  &--pipe-seperated {

    & .meta-info__data {
      border-right: 1px solid $ucd-blue;
      padding-right: $spacing-unit--small;
      margin-right: $spacing-unit--small /2;

      &:last-child {
        border-right: 0;
      }
    }
  }
}
