&lt;blockquote class=&quot;pullquote {{ styleModifier }}&quot;&gt;
  &lt;p&gt;&quot;{{ excerpt.short }}&quot;&lt;/p&gt;
  &lt;strong&gt;&amp;mdash; {{ author.first-name }} {{ author.last-name }}&lt;/strong&gt;
&lt;/blockquote&gt;