&lt;div class=&quot;sub-nav&quot;&gt;
  {{# tertiary-page }}
    &lt;h2 class=&quot;sub-nav__title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ parent-page-title }}&lt;/a&gt;&lt;/h2&gt;
  {{/ tertiary-page }}
  &lt;ul class=&quot;menu&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Current Page&lt;/a&gt;
      &lt;ul&gt;
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;child page&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;child page&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;child page&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;child page&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Sibling Page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Sibling Page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Sibling Page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Sibling Page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Sibling Page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Sibling Page&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
