&lt;ul class=&quot;list--link&quot; style=&quot;background-color: white;&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;{{url}}&quot;&gt;First Item&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;{{url}}&quot;&gt;Second Item&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;{{url}}&quot;&gt;This is the last list item&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
