&lt;div class=&quot;row small-10 align-spaced&quot;&gt;
	&lt;a class=&quot;webicon facebook&quot; href=&quot;#&quot;&gt;Facebook&lt;/a&gt;
	&lt;a class=&quot;webicon pinterest&quot; href=&quot;#&quot;&gt;Pinterest&lt;/a&gt;
	&lt;a class=&quot;webicon twitter&quot; href=&quot;#&quot;&gt;Twitter&lt;/a&gt;
&lt;/div&gt;
