<div class="page f wine-page" id="page">
  {{> organisms-wine-header }}
	<div role="main">
		<section class="f-one-col">
			{{> molecules-wine-labels-intro-text }}
			<h2 class="section-title">Browse the Labels</h2>
			{{> molecules-wine-filters-form }}
			<h3>Results:</h3>
			{{> organisms-image-gallery }}
			{{> molecules-pagination }}
		</section>
	</div><!--End role=main-->
	{{> organisms-wine-footer }}
</div>