<div class="page" id="page">
  {{> organisms-header }}
	<div role="main">

		<div class="l-one-col">
			<div class="l-column">
				<section>
				{{# label-home-copy }}
					{{> molecules-wine-labels-intro-text }}
				{{/ label-home-copy }}
				</section>
				<section class="section gallery">
					<h2 class="section-title">Browse the Labels</h2>
					{{> molecules-wine-filters-form }}
					<h3>Results:</h3>
					<ul class="gallery-images">
						{{# gallery-labels }}
							{{> organisms-image-gallery }}
						{{/ gallery-labels }}
					</ul>
					{{> molecules-pagination }}
					<!--button class="btn">Load more</button-->
				</section>
			</div><!--end .l-main-->
		</div><!--end .l-two-col-->
	</div><!--End role=main-->
	{{> organisms-wine-footer }}
</div>