<div class="page f wine-page" id="page">
  {{> organisms-wine-header }}
	<div role="main">
		<h1 class="blog-header">Our Outdoor Blog</h1>
		<section class="f-two-col">
			<div class="l-main">
				{{> organisms-latest-posts }}
				{{> molecules-pagination }}
			</div>
			<div class="sidebar">
				{{> organisms-recent-tweets }}
			</div>
		</div>
	</div>
	{{> organisms-wine-footer }}
</div>