<div class="page wine-page" id="page">
	{{> organisms-wine-header }}
	<section class="f-one-col-jumbo">
		{{> organisms-image-viewer }}
	</section>
	<section class="f-two-col">
		<div class="label-info">
			<h1>Label #32435</h1>
			{{> atoms-definition }}
		</div>
		<div>
			<h5>Status: Needs transcribing</h5>
			<p><a href="#" class="btn">Mark this Label</a></p>
			<h5>Get the story behind this label:</h5>
			<h3><a href="{{ link.pages-wine-article }}">Who was Maynard Amerine?</a></h3>
			<h2>Tell us your story</h2>
			<p>Are you a wine expert? Do you have family history with this label? <a href="#">Send us your story</a>!</p>
		</div>
	</section>
	{{> organisms-wine-footer }}
</div>
