<div class="page wine-page" id="page">
	{{> organisms-wine-header }}
		<section class="f-one-col">
			{{> molecules-wine-labels-tabs }}
			{{# introduction }}
				<h1>{{ headline }}</h1>
				<p>{{ main-text-p-1 }}</p>
				<p>{{ main-text-p-2 }}</p>
				<p>{{ main-text-p-3 }}</p>
			{{/ introduction }}
			{{# history }}
				<p class="intro" id="history">{{ headline }}</p>
				<p>{{ main-text-p-1 }}</p>
				<p>{{ main-text-p-2 }}</p>
				<p>{{ main-text-p-3 }}</p>
			{{/ history }}
			{{# instructions }}
				<p class="intro" id="instructions">{{ headline }}</p>
				<p>{{ main-text-p-1 }}</p>
				<p>{{ main-text-p-2 }}</p>
				<p>{{ main-text-p-3 }}</p>
			{{/ instructions }}
		</section>
	{{> organisms-wine-footer }}
</div>
