<div class="page wine-page" id="page">
	{{> organisms-wine-header }}
	<section>
		{{> atoms-wine-toggle }}
		{{> molecules-image-zoom-controls }}
		<p>Draw a box around an area of interest on this label. Then tell us whether what you’ve marked is an image or text. Mark as many elements as you want. <a href="FIXME">Need help?</a></p>
		<p><a href="#" class="btn">Next Label</a></p>
	</section>
	<section class="f-one-col-jumbo">
		{{> organisms-image-viewer }}
		{{> molecules-wine-label-navigation }}
	</section>
	<section class="f-two-col">
		<div class="label-info">
			<h1>Label #32435</h1>
			{{> atoms-definition }}
		</div>
		{{> organisms-secondary-wine-info }}
	</section>
	{{> organisms-wine-footer }}
</div>
