&lt;div class=&quot;draggable-modal verify-tool draggable&quot; unselectable=&quot;on&quot;&gt;
	&lt;label&gt;
		&lt;h2&gt;Verify this transcription&lt;/h2&gt;
		&lt;p&gt;Please choose one of the following transcriptions as the most correct one.&lt;/p&gt;
		&lt;ul class=&quot;choice clickable&quot;&gt;
			&lt;li&gt;
				&lt;span class=&quot;value&quot;&gt;Alternative 1&lt;/span&gt;&lt;img src=&quot;../../images/left-pointer-knockout.svg&quot;&gt;
			&lt;/li&gt;
			&lt;li&gt;
				&lt;span class=&quot;value&quot;&gt;Alternative 2&lt;/span&gt;&lt;img src=&quot;../../images/left-pointer-knockout.svg&quot;&gt;
			&lt;/li&gt;
			&lt;li&gt;
				&lt;span class=&quot;value&quot;&gt;Alternative 3&lt;/span&gt;&lt;img src=&quot;../../images/left-pointer-knockout.svg&quot;&gt;
			&lt;/li&gt;
	&lt;/label&gt;
	&lt;div class=&quot;button-group align-left&quot;&gt;
		&lt;!-- button class=&quot;button ghost toggle-button  minor-button&quot;&gt;Bad mark&lt;/button&gt;	If the 'Illegible' button moves the user directly onto the next task, the 'Illegible' button should also automatically mark the area as a 'Bad Mark'--&gt;
		&lt;a href=&quot;{{ link.templates-transcribe-flow-start }}&quot; class=&quot;secondary button&quot;&gt;These are all bad&mdash;enter your own&lt;/a&gt; &lt;!-- used to have these classes:  ghost toggle-button undefined minor-button. FIXME find out if they're necessary for React --&gt;
	&lt;/div&gt;
&lt;/div&gt;
