&lt;div class=&quot;page f wine-page&quot; id=&quot;page&quot;&gt;
  {{&gt; organisms-wine-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;h1 class=&quot;blog-header&quot;&gt;Our Outdoor Blog&lt;/h1&gt;
		&lt;section class=&quot;f-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				{{&gt; organisms-latest-posts }}
				{{&gt; molecules-pagination }}
			&lt;/div&gt;
			&lt;div class=&quot;sidebar&quot;&gt;
				{{&gt; organisms-recent-tweets }}
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	{{&gt; organisms-wine-footer }}
&lt;/div&gt;