<nav class="primary-nav">
  <ul class="menu">
    <li><a href="https://ucdavis.edu/about/">About Us<span class="submenu-toggle"><span class="submenu-toggle__icon">+</span></span></a>
      <ul class="menu">
        <li class="is-visible"><a href="https://ucdavis.edu/about/">Our Story<span class="submenu-toggle"><span class="submenu-toggle__icon">+</span></span></a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/about/initiatives/">Initiatives</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/about/facts/">Facts &amp; Rankings</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/about/location-parking/">Locations &amp; Maps</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/visit/">Visit UC Davis</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/about/health/">UC Davis Health</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/about/administration/">Administration</a></li>
      </ul>
    </li>
    <li class="is-visible"><a href="https://ucdavis.edu/admission/">Admissions</a>
      <ul class="menu">
        <li class="is-visible"><a href="https://ucdavis.edu/admission/undergraduate/">Undergraduate</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/admission/graduate-program/">Graduate</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/admission/professional-program/">Professional</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/admission/international-student/">International</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/cost-tuition-fees/">Tuition &amp; Fees</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/financial-aid/">Financial Aid</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/apply/">Apply</a></li>
      </ul>
    </li>
    <li class="is-visible"><a href="https://ucdavis.edu/academics/">Academics</a>
      <ul class="menu">
        <li class="is-visible"><a href="https://ucdavis.edu/majors/">Majors</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/colleges-schools/">Colleges &amp; Schools</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/graduate-programs/">Graduate Programs</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/study-abroad/">Study Abroad</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/continuing-education/">Continuing Education</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/calendar/academic/">Academic Calendar</a></li>
      </ul>
    </li>
    <li class="is-visible"><a href="https://ucdavis.edu/research/">Research</a>
      <ul class="menu">
        <li class="is-visible"><a href="https://ucdavis.edu/research/">World Impact</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/research/student/">Student Research</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/research/partnerships/">Partnerships</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/library/">Library</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/museums-collections/">Museums &amp; Collections</a></li>
      </ul>
    </li>
    <li class="is-visible"><a href="https://ucdavis.edu/campus-life/">Campus Life</a>
      <ul class="menu">
        <li class="is-visible"><a href="https://ucdavis.edu/campus-life/">Student Life</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/features-hot-spots/">Campus Features</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/housing/">Housing</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/calendar/">Events Calendar</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/athletics/">Athletics</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/clubs-student-organizations/">Clubs &amp; Organizations</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/city-of-davis/">City of Davis</a></li>
      </ul>
    </li>
    <li class="is-visible"><a href="https://ucdavis.edu/news/">News</a>
      <ul class="menu">
        <li class="is-visible"><a href="https://ucdavis.edu/news/">Latest News</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/news/university-news/">University News</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/news/environment/">Environment</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/news/food-agriculture/">Food &amp; Agriculture</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/news/human-animal-health/">Human &amp; Animal Health</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/news/science-technology/">Science &amp; Technology</a></li>
        <li class="is-visible"><a href="https://ucdavis.edu/news/society-arts-culture/">Society, Arts &amp; Culture</a></li>
      </ul>
    </li>
  </ul>
</nav><!--end .nav-->
