<header>
	<nav class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li>
					<a class="selected" href="{{ link.templates-homepage }}">Label This</a>
				</li>
				<li>
					<a class="" href="{{ link.templates-browse }}">Browse</a>
				</li>
				<li>
					<a class="" href="{{ link.templates-mark-flow-start }}">Mark</a>
				</li>
				<li>
					<a class="" href="{{ link.templates-transcribe-flow-start }}">Transcribe</a>
				</li>
				<li>
					<a class="" href="{{ link.templates-homepage }}">Search</a>
				</li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li>
					<a class="" href="{{ link.templates-about }}">About the Project</a>
				</li>
				<li>
					<a target="_blank" href="{{ link.templates-blog-main-page }}">Blog</a>
				</li>
			</ul>
	</nav>
</header>
