<nav id="wine-nav-home" class="wine-nav">
	<ul class="nav-list">
		<li><a href="{{ url }}">About the Collection</a></li>
		<li><a href="{{ url }}">Home</a></li>
		<li><a href="{{ url }}">The Aggie Oenophile Blog</a></li>
	</ul>
</nav><!--end .nav-->
