<nav id="wine-nav-home" class="wine-nav">
	<ul class="nav-list">
		<li><a href="{{ link.pages-wine-about-page }}">About the Collection</a></li>
		<li><a href="{{ link.pages-wine-homepage }}">Home</a></li>
		<li><a href="{{ link.pages-wine-blog }}">The Aggie Oenophile Blog</a></li>
	</ul>
</nav><!--end .nav-->
