<nav id="wine-nav-home" class="wine-nav">
	<ul class="nav-list nav-list--main">
		<li><a href="{{ link.pages-wine-homepage }}">Browse</a></li>
		<li><a href="{{ url }}">Mark</a></li>
		<li><a href="{{ url }}">Transcribe</a></li>
		<li><a href="{{ url }}">Search</a></li>
	</ul>
	<ul class="nav-list nav-list--secondary">
		<li><a href="{{ link.pages-wine-about-page }}">About the Project</a></li>
		<li><a href="{{ link.pages-wine-blog }}">Blog</a></li>
	</ul>
</nav><!--end .nav-->
