<header>
	<nav id="large-menu" class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-item-large">
					<a href="{{ link.templates-manage-this-home }}">Manage This</a>
				</li>
				<li class="menu-item">
					<a href="{{ link.templates-admin-homepage }}">Stats</a>
				</li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li class="menu-item-large">
					<a target="_blank" href="{{ link.templates-homepage }}">Back to Label This</a>
				</li>
				<li class="menu-item-small">
					<a href="#small-menu">...</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
