<div class="footer-nav">
  <h2 class="footer-nav__title">Title: Lorem ipsum</h2>
  <ul class="menu">
    <li><a href="{{ url }}">First Link</a></li>
    <li><a href="{{ url }}">Second Link</a></li>
    <li><a href="{{ url }}">Third Link</a></li>
    <li><a href="{{ url }}">Fourth Link</a></li>
    <li><a href="{{ url }}">Fifth Link</a></li>
    <li><a href="{{ url }}">Sixth Link</a></li>
  </ul>
</div>