<ul class="pagination pagination-reverse text-center column" role="navigation">
  <li class="pagination-previous disabled ">
    <span>
      <span><img class="left-pointer" src="../../images/left-pointer-red.svg"/>Previous </span>
      <span class="show-for-sr">page</span>
    </span>
  </li>
  <li class="hide">
    <a class=" active" href="#/browse/1">1</a>
  </li>
  <li class="ellipsis hide">
  </li>
  <li class="current">
    <span class="show-for-sr">Current page is</span>
    <span> </span>
    <span>1</span>
  </li>
  <li class="undefined">
    <a class="" href="#/browse/2">2</a>
  </li>
  <li class="undefined">
    <a class="" href="#/browse/3">3</a>
  </li>
  <li class="ellipsis undefined">
  </li>
  <li class="undefined">
    <a class="" href="#/browse/182">182</a>
  </li>
  <li class="pagination-next undefined">
    <a class="" href="#/browse/2">
      <span>Next<img class="right-pointer" src="../../images/right-pointer-red.svg"/></span>
      <span class="show-for-sr">page</span>
    </a>
  </li>
</ul>
