<div class="footer-nav">
  <div class="footer-nav__logo">
    <a href="https://ucdavis.edu/">{{> atoms-logo-gold }}</a>
  </div>
  <ul class="menu">
    <li><a href="http://ucdmc.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-UCDHS">Health System</a></li>
    <li><a href="http://www.vetmed.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-VetMed">Veterinary Medicine</a></li>
    <li><a href="https://extension.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Extension">Extension</a></li>
    <li><a href="http://ucdavisstores.com/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Stores">UC Davis Stores</a></li>
    <li><a href="http://mondavicenter.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-Mondavi">Mondavi Center</a></li>
    <li><a href="https://ucdavis.edu/museums-collections/">Museums</a></li>
    <li><a href="http://mobile.ucdavis.edu/?utm_source=UC-Davis-Homesite&utm_medium=Footer&utm_campaign=UC-Davis-Footer-Link-to-MobileApp">UC Davis Mobile Apps</a></li>
  </ul>
</div>