<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ link.pages-wine-about-page }}">Just the Facts</a></li>
		<li><a href="{{ link.pages-wine-blog }}">Blog</a></li>
	</ul>
</nav><!--end .nav-->
