<ol class="pager">
  <li class="pager__item pager__item--current"><a href="{{ url }}">1</a></li>
  <li class="pager__item"><a href="{{ url }}">2</a></li>
  <li class="pager__item"><a href="{{ url }}">3</a></li>
  <li class="pager__item"><a href="{{ url }}">4</a></li>
  <li class="pager__item"><a href="{{ url }}">5</a></li>
  <li class="pager__item"><a href="{{ url }}">6</a></li>
  <li class="pager__item"><a href="{{ url }}">7</a></li>
  <li class="pager__item"><a href="{{ url }}">>> Next</a></li>
</ol>
