{{# cat-filter }}
  <ul class="category-filter {{ styleModifier }}">
    {{# cat-filter-list }}
      <li class="category-filter__list-item {{# is-active-link }}category-filter__list-item--active {{/ is-active-link }}{{ cat-filter-brand-color }}">
          <a href="{{ url }}" class="category-filter__link category-brand__circle-icon"><span>{{ cat-filter-text }}</span></a>
      </li>
    {{/ cat-filter-list }}
  </ul>
{{/ cat-filter }}