<h2 class="pane-title">Filter Title</h2>
<nav class="search-filter">
  <ul class="menu">
    <li><a href="{{url}}">Filter Option</a></li>
    <li><a href="{{url}}">Filter Option</a></li>
    <li><a href="{{url}}">Filter Option</a></li>
    <li><a href="{{url}}">Filter Option</a></li>
    <li><a href="{{url}}">Filter Option</a></li>
  </ul>
</nav>
