<h2><a href="#" class="quick-links__title">Quick Links<span class="submenu-toggle"><span class="submenu-toggle__icon">+</span></span></a></h2>
<nav class="quick-links is-hidden--visually" tabindex="1">
  <ul class="menu">
    <li><a href="{{ url }}">myucdavis</a></li>
    <li><a href="{{ url }}">myadmissions</a></li>   
    <li><a href="{{ url }}">Make a Gift to UC Davis</a></li>
    <li><a href="{{ url }}">Calendar</a></li>
    <li><a href="{{ url }}">Campus Map</a></li>
    <li><a href="{{ url }}">Locations &amp; Parking</a></li>
    <li><a href="{{ url }}">Visit</a></li>
    <li><a href="{{ url }}">Apply</a></li>
    <li><a href="{{ url }}">Jobs</a></li>
    <li><a href="{{ url }}">Athletics</a></li>
    <li><a href="{{ url }}">Academic Dates</a></li>
    <li><a href="{{ url }}">SmartSite</a></li>
    <li><a href="{{ url }}">Course Catalog</a></li>
    <li><a href="{{ url }}">Schedule Builder</a></li>
    <li><a href="{{ url }}">Student Health</a></li>
    <li><a href="{{ url }}">Alumni</a></li>
    <li><a href="{{ url }}">UC Davis Stores</a></li>
  </ul>
</nav><!--end .quick-nav-->
