<ul class="nav-footer">
	<li><a href="{{ url }}">Library home</a></li>
	<li><a href="{{ url }}">Special Collections</a></li>
	<li><a href="{{ url }}">Support the Library</a></li>
</ul>
<ul class="nav-footer legalese">
	<li><a href="{{ url }}">Help</a></li>
	<li><a href="{{ url }}">Questions or comments?</a></li>
	<li><a href="{{ url }}">Privacy & Accessibility</a></li>
	<li><a href="{{ url }}">Principles of Community</a></li>
	<li><a href="{{ url }}">University of California</a></li>
</ul>
