<div class="node vm-simple-list node--event">
  <h3 class="node__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
  <div class="field__date">{{ dayofweek.long }}, {{ month.long }} {{ day.short }}</div>
  <div class="field__location">{{ location }}</div>
</div>
