<div class="node vm-simple-list node--article">
  <h3 class="node__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
  <div class="node__submitted">{{ month.long }} {{ day.short }}, {{ year.long }}</div>
</div>
