<div class="node vm-media-list node--event">
  {{> atoms-landscape-16x9}}
  <h3 class="node__title"><a href="{{ url }}">{{ headline.short }}</a></h3>
  <div class="field__date">{{ month.digit }}/{{ day.short }}/{{ year.short }}</div>
  <div class="field__location">{{ location }}</div>
</div>
