<div class="node vm-media-list node--article media {{ styleModifier }}">
  <div class="media__figure">
    <a href="{{ url }}" class="category-brand__thumbnail">{{> atoms-square }}</a>
  </div>
  <div class="media__body">
    <h3 class="node__title"><a href="{{ url }}">{{ headline.medium }}</a></h3>
    <div class="node__submitted">{{ month.long }} {{ day.short }},  {{ year.long }}</div>
  </div>
</div>
