<a href="{{ url }}" class="media vm-featured category-brand__background category-brand__background--darken {{ brand-class }}">
  <div class="media__figure vm-featured__figure category">
    {{> atoms-thumbnail }}
  </div>
  <div class="media__body vm-featured__body">
    <h3 class="vm-featured__title">{{ headline.medium }}</h3>
    <div class="vm-featured__byline">
      <span>{{> molecules-byline }}</span>
      <span>{{ month.long }} {{ day.long }}, {{ year.long }}</span>
      <span>{{ category.primary }}</span>
    </div>
    <p class="vm-featured__summary">{{ excerpt.short }}</p>
  </div>
</a>