{{# spotlight-article }}
<a href="{{ url }}" class="vm-spotlight node node--spotlight node--article {{ styleModifier }}">
  <h3 class="vm-spotlight__body">
    <div class="vm-spotlight__callout category-brand__text--knock-out">{{ callout }}</div>
    <div class="vm-spotlight__title">{{ headline }}</div>
  </h3>
  <div class="vm-spotlight__image">
    <div class="vm-spotlight__indicator">
      <img src="../../images/read-arrow.svg" />
    </div>
    <div class="vm-spotlight__shade category-brand__background">
    </div>
    {{> atoms-landscape-4x3 }}
  </div>
</a>
{{/ spotlight-article }}
