<div class="vm-featured-video {{ brand-class }}">
	{{> molecules-video-youtube(video-id: "Xkd6WBMqf5M", video-width: "853", video-height: "480") }}
  <a href="{{ url }}" class="vm-featured-video__body category-brand__background">
    <h3 class="vm-featured-video__title">{{ headline.medium }}</h3>
    <div class="vm-featured-video__meta">
      <span>{{> molecules-byline }}</span>
      <span>{{ month.long }} {{ day.long }}, {{ year.long }}</span>
    </div>
  </a>
</div>