/* Horizontal Carousel */
.carousel-horizontal {
	margin-bottom: $spacing-unit;
	overflow: hidden;
	position: relative;
}

.carousel-island-container {
	overflow: hidden;
}

.carousel-container {
	position: relative;
}

.carousel-list {

}

.carousel-controls {
	display: table;
	width: 100%;
	margin: (-$spacing-unit--small) 0 $spacing-unit;

	a, div {
		display: table-cell;
		padding: $spacing-unit--small;
	}

	.carousel-pagination {
		text-align: center;
	}

	.carousel-next {
		text-align: right;
	}

}