/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

// Alerts
.alert {
	text-align: center;
	padding: $spacing-unit;
	margin-bottom: $spacing-unit--small;
	border: 1px solid $gray;
	background: $gray-light;
}

.alert-error {
	color: $error;
	border-color: $error;
	background: #ffbebe;
}