&lt;!--&lt;div id=&quot;fb-root&quot;&gt;&lt;/div&gt;
&lt;script&gt;(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = &quot;//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.3&quot;;
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));&lt;/script&gt;--&gt;

&lt;section class=&quot;facebook-activity-container&quot;&gt;
  &lt;img src=&quot;../../images/sample/facebook-fake.png&quot; class=&quot;faker&quot;&gt;
  &lt;!--&lt;div class=&quot;fb-page&quot; data-href=&quot;https://www.facebook.com/ucdavis&quot; data-small-header=&quot;false&quot; data-adapt-container-width=&quot;true&quot; data-hide-cover=&quot;false&quot; data-show-facepile=&quot;true&quot; data-show-posts=&quot;true&quot;&gt;
    &lt;div class=&quot;fb-xfbml-parse-ignore&quot;&gt;
      &lt;blockquote cite=&quot;https://www.facebook.com/ucdavis&quot;&gt;
        &lt;a href=&quot;https://www.facebook.com/ucdavis&quot;&gt;UC Davis&lt;/a&gt;
      &lt;/blockquote&gt;
    &lt;/div&gt;
	&lt;/div&gt;
--&gt;
&lt;/section&gt;