&lt;!DOCTYPE html&gt;
&lt;html class=&quot;{{ htmlClass }}&quot;&gt;
	&lt;head&gt;
		&lt;title&gt;{{ title }}&lt;/title&gt;
		&lt;meta charset=&quot;UTF-8&quot;&gt;
		&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width&quot; /&gt;

	  &lt;link href=&quot;../../css/app.css&quot; media=&quot;screen, projector, print&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;

		&lt;script src=&quot;https://use.typekit.net/hob5nwu.js&quot;&gt;&lt;/script&gt;
		&lt;script&gt;try{Typekit.load({ async: true });}catch(e){}&lt;/script&gt;

		&lt;!-- Begin Pattern Lab (Required for Pattern Lab to run properly) --&gt;
		{% pattern-lab-head %}
		&lt;!-- End Pattern Lab --&gt;

	&lt;/head&gt;
	&lt;body class=&quot;{{ bodyClass }}&quot;&gt;
