{{&gt; molecules-primary-nav }}
&lt;div class=&quot;row align-center&quot;&gt;
	&lt;div class=&quot;login&quot;&gt;
		&lt;h2&gt;Admin Login&lt;/h2&gt;
		&lt;p&gt;In order to verify labels, you need to log in to the admin dashboard.&lt;/p&gt;
		&lt;label&gt;Email
			&lt;input type=&quot;email&quot; placeholder=&quot;name@email.com&quot;&gt;
		&lt;/label&gt;
		&lt;label&gt;Password
			&lt;input type=&quot;password&quot; placeholder=&quot;Type your Password&quot;&gt;
		&lt;/label&gt;
		&lt;div class=&quot;row align-center&quot;&gt;
			&lt;a class=&quot;large button&quot; href=&quot;{{ link.templates-admin-homepage }}&quot;&gt;&lt;img class=&quot;left-pointer&quot; src=&quot;../../images/left-pointer-knockout.svg&quot;/&gt;Log In&lt;img class=&quot;right-pointer&quot; src=&quot;../../images/right-pointer-knockout.svg&quot;/&gt;&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
{{&gt; organisms-footer }}
