&lt;div class=&quot;row small-up-2 medium-up-4 large-up-5&quot;&gt;
  {{&gt; molecules-verify-gallery-thumbnail }}
  {{&gt; molecules-verify-gallery-thumbnail }}
  {{&gt; molecules-verify-gallery-thumbnail }}
  {{&gt; molecules-verify-gallery-thumbnail }}
&lt;/div&gt;
