&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;l-footer footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;div class=&quot;l-container&quot;&gt;
    &lt;div class=&quot;pack pack--small footer__navs&quot;&gt;
      &lt;div class=&quot;pack__item&quot;&gt;
        {{&gt; molecules-footer-primary-nav }}
      &lt;/div&gt;
      &lt;div class=&quot;pack__item&quot;&gt;
        &lt;div class=&quot;footer-nav&quot;&gt;
          &lt;h2 class=&quot;footer-nav__title&quot;&gt;Students&lt;/h2&gt;
          &lt;ul class=&quot;menu&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;http://orientation.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Orientation&quot;&gt;New Students&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://studentlife.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Student-Life&quot;&gt;Undergraduates&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;https://gradstudies.ucdavis.edu/current-students?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Grad-Studies&quot;&gt;Graduate Students&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;https://icc.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-ICC&quot;&gt;Internship &amp;amp; Career Center&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;https://ucdavis.edu/jobs/student-jobs-internships/&quot;&gt;Jobs &amp;amp; Internships&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://alumni.ucdavis.edu/membership/parents/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-CAAA-Parents&quot;&gt;Parents&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;pack__item&quot;&gt;
        &lt;div class=&quot;footer-nav&quot;&gt;
          &lt;h2 class=&quot;footer-nav__title&quot;&gt;Alumni&lt;/h2&gt;
          &lt;ul class=&quot;menu&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;http://alumni.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-CAAA&quot;&gt;Cal Aggie Alumni Association&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://www.alumni.ucdavis.edu/benefits/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-CAAA-Benefits&quot;&gt;Member Benefits&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://www.alumni.ucdavis.edu/benefits/career-connections?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-CAAA-Career-Connections&quot;&gt;Career Connections&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://ucdavismagazine.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Magazine&quot;&gt;UC Davis Magazine&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;https://registrar.ucdavis.edu/records/transcripts/index.cfm?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Registrar-Transcripts&quot;&gt;Transcripts&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;pack__item&quot;&gt;
        &lt;div class=&quot;footer-nav&quot;&gt;
          &lt;h2 class=&quot;footer-nav__title&quot;&gt;Faculty&lt;/h2&gt;
          &lt;ul class=&quot;menu&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;http://academicaffairs.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Academic-Affairs&quot;&gt;Resources&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://ue.ucdavis.edu/faculty/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-UE-Teaching-Resources&quot;&gt;Teaching&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://research.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Office-of-Research&quot;&gt;Research&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://www.hr.ucdavis.edu/benefits/index.html?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-HR-Benefits-Faculty&quot;&gt;Benefits&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://academicsenate.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-Academic-Senate&quot;&gt;Faculty Governance&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;pack__item&quot;&gt;
        &lt;div class=&quot;footer-nav&quot;&gt;
          &lt;h2 class=&quot;footer-nav__title&quot;&gt;Staff&lt;/h2&gt;
          &lt;ul class=&quot;menu&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;https://ucdavis.edu/staff/&quot;&gt;Resources&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://sdps.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-SDPS
&quot;&gt;Training&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://www.hr.ucdavis.edu/benefits/index.html?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Link-to-HR-Benefits-Staff&quot;&gt;Benefits&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;https://ucdavis.edu/jobs/&quot;&gt;Jobs&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;http://staff.ucdavis.edu/?utm_source=UC-Davis-Homesite&amp;utm_medium=Footer&amp;utm_campaign=UC-Davis-Footer-Links-to-Staff-Assembly&quot;&gt;Staff Assembly&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;footer-spacer&quot;&gt;
      &lt;hr class=&quot;footer-spacer__hr hr-invert&quot;&gt;
      &lt;div class=&quot;footer-spacer__logo&quot;&gt;
        {{&gt; atoms-logo-c-horse }}
      &lt;/div&gt;
    &lt;/div&gt;

    {{&gt; molecules-info-copyright }}
  &lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;