&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;row&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div&gt;&lt;a href=&quot;https://www.lib.ucdavis.edu&quot;&gt;UC Davis Library&lt;/a&gt;&lt;/div&gt;
			&lt;div&gt;&lt;a href=&quot;https://www.lib.ucdavis.edu/dept/specol/&quot;&gt;Special Collections&lt;/a&gt;&lt;/div&gt;
			&lt;div&gt;&lt;a href=&quot;https://give.ucdavis.edu/ulib/&quot;&gt;Support the Library&lt;/a&gt;&lt;/div&gt;
		&lt;/div&gt;
		&lt;p&gt;University of California, Davis, One Shields Avenue, Davis, CA 95616 | 530-752-1011&lt;/p&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div&gt;&lt;a href=&quot;https://www.ucdavis.edu/help&quot;&gt;Help&lt;/a&gt;&lt;/div&gt;
			&lt;div&gt;&lt;a href=&quot;https://www.ucdavis.edu/contact&quot;&gt;Questions or comments?&lt;/a&gt;&lt;/div&gt;
			&lt;div&gt;&lt;a href=&quot;https://www.ucdavis.edu/privacy-and-accessibility&quot;&gt;Privacy &amp; Accessibility&lt;/a&gt;&lt;/div&gt;
			&lt;div&gt;&lt;a href=&quot;http://occr.ucdavis.edu/poc/&quot;&gt;Principles of Community&lt;/a&gt;&lt;/div&gt;
			&lt;div&gt;&lt;a href=&quot;http://www.universityofcalifornia.edu/&quot;&gt;University of California&lt;/a&gt;&lt;/div&gt;
		&lt;/div&gt;
		&lt;p&gt;Copyright &copy; The Regents of the University of California, Davis campus. All rights reserved.&lt;/p&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;
