&lt;!-- Begin Footer --&gt;
&lt;footer&gt;
	&lt;nav class=&quot;&quot;&gt;
		&lt;div class=&quot;secondary-menu&quot;&gt;
			&lt;ul class=&quot;menu&quot;&gt;
				&lt;li class=&quot;menu-item&quot;&gt;
					&lt;a target=&quot;_blank&quot; href=&quot;{{ link.templates-login }}&quot;&gt;Admin login&lt;/a&gt;
				&lt;/li&gt;
				&lt;li class=&quot;menu-item&quot;&gt;
					&lt;a href=&quot;{{ link.templates-about }}&quot;&gt;Questions or Comments?&lt;/a&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/nav&gt;
	&lt;section class=&quot;row align-left&quot;&gt;
		&lt;div&gt;&lt;img src=&quot;../../images/uc-logo-white.png&quot;&gt;&lt;/a&gt;&lt;/div&gt;
		&lt;p&gt;This site was built for the &lt;a href=&quot;https://www.lib.ucdavis.edu/dept/specol/&quot;&gt;Special Collections Department&lt;/a&gt; at the &lt;a href=&quot;https://www.lib.ucdavis.edu&quot;&gt;UC Davis Library&lt;/a&gt;.&lt;/p&gt;
		&lt;p&gt; Help us make this and other projects possible&mdash;&lt;a href=&quot;https://give.ucdavis.edu/ulib/&quot;&gt;support the Library.&lt;/a&gt;&lt;/p&gt;
	&lt;/section&gt;
	&lt;section&gt;
		&lt;p&gt;&lt;small&gt;&lt;a href=&quot;https://www.ucdavis.edu&quot;&gt;University of California, Davis&lt;/a&gt;, One Shields Avenue, Davis, CA 95616 | 530-752-1011&lt;/small&gt;&lt;/p&gt;
		&lt;p&gt;&lt;small&gt;Copyright &copy; The Regents of the &lt;a href=&quot;http://www.universityofcalifornia.edu/&quot;&gt;University of California&lt;/a&gt;, Davis campus. All rights reserved.&lt;/small&gt;&lt;/p&gt;
		&lt;section class=&quot;row align-spaced&quot;&gt;
			&lt;div&gt;&lt;small&gt;&lt;a href=&quot;https://www.ucdavis.edu/privacy-and-accessibility&quot;&gt;Privacy &amp; Accessibility&lt;/a&gt;&lt;/small&gt;&lt;/div&gt;
			&lt;div&gt;&lt;small&gt;&lt;a href=&quot;http://occr.ucdavis.edu/poc/&quot;&gt;Principles of Community&lt;/a&gt;&lt;/small&gt;&lt;/div&gt;
		&lt;/section&gt;
	&lt;/section&gt;
&lt;/footer&gt;
&lt;nav id=&quot;small-menu&quot;&gt;
	&lt;ul class=&quot;sm-menu&quot;&gt;
		&lt;li class=&quot;sm-menu-item close-button&quot;&gt;
			&lt;a href=&quot;#large-menu&quot;&gt;&amp;times;&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a href=&quot;{{ link.templates-homepage }}&quot;&gt;Label This&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a href=&quot;{{ link.templates-browse }}&quot;&gt;Browse&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a href=&quot;{{ link.templates-mark-flow-start }}&quot;&gt;Mark&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a href=&quot;{{ link.templates-transcribe-flow-start }}&quot;&gt;Transcribe&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a href=&quot;{{ link.templates-homepage }}&quot;&gt;Search&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a href=&quot;{{ link.templates-about }}&quot;&gt;About the Project&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a target=&quot;_blank&quot; href=&quot;{{ link.templates-blog-main-page }}&quot;&gt;Blog&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a target=&quot;_blank&quot; href=&quot;{{ link.templates-blog-main-page }}&quot;&gt;Questions or Comments?&lt;/a&gt;
		&lt;/li&gt;
		&lt;li class=&quot;sm-menu-item&quot;&gt;
			&lt;a target=&quot;_blank&quot; href=&quot;{{ link.templates-login }}&quot;&gt;Admin login&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;
&lt;/body&gt;
&lt;!-- End Footer --&gt;
