&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;column&quot;&gt;
    &lt;p&gt;Please tell us what the highlighted text says.&lt;a href=&quot;FIXME&quot;&gt;Need help?&lt;/a&gt;&lt;/p&gt;
    &lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;Next Label&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
