&lt;section class=&quot;row align-spaced align-middle&quot;&gt;
  &lt;div&gt;
    &lt;small&gt;Please tell us what the highlighted text says. &lt;a href=&quot;FIXME&quot;&gt;Need help?&lt;/a&gt;&lt;/small&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;Next Label&lt;/a&gt;
  &lt;/div&gt;
&lt;/section&gt;
