&lt;section class=&quot;row align-center callout&quot;&gt;
  &lt;div class=&quot;medium-5 column&quot;&gt;
    &lt;small&gt;Please tell us what the highlighted text says. &lt;a href=&quot;{{ link.pages-transcribe-help }}&quot;&gt;Need help?&lt;/a&gt;&lt;/small&gt;
  &lt;/div&gt;
  &lt;div class=&quot;shrink column&quot;&gt;
    &lt;a class=&quot;button&quot; href=&quot;{{ link.templates-transcribe-flow-start }}&quot;&gt;Next Label&lt;/a&gt;
  &lt;/div&gt;
&lt;/section&gt;
