&lt;ul class=&quot;pagination pagination-reverse text-center small-12 columns&quot; role=&quot;navigation&quot;&gt;
  &lt;li class=&quot;pagination-previous disabled &quot;&gt;
    &lt;span&gt;
      &lt;span&gt;&lt;img class=&quot;left-pointer&quot; src=&quot;../../images/left-pointer-red.svg&quot;/&gt;Previous post&lt;/span&gt;
    &lt;/span&gt;
  &lt;/li&gt;
  &lt;li class=&quot;pagination-next undefined&quot;&gt;
    &lt;a class=&quot;&quot; href=&quot;#/browse/2&quot;&gt;
      &lt;span&gt;Next post&lt;img class=&quot;right-pointer&quot; src=&quot;../../images/right-pointer-red.svg&quot;/&gt;&lt;/span&gt;
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
