&lt;!-- Use molecules-media-list-article for lists --&gt;
&lt;section class=&quot;pane-title--icon pane-title--flask&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;Research&lt;/span&gt; News&lt;/h2&gt;
  {{# research-news }}
    {{&gt; molecules-media-list-article:category-brand--sunny-grass }}
  {{/ research-news }}
&lt;/section&gt;
