<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<h2 class="heading--primary">.heading--primary</h2>
<h2 class="heading--secondary">.heading--secondary</h2>
<h2 class="heading--highlight">.heading--highlight</h2>
<h2 class="heading--pane">.heading--pane</h2>
<h2 class="heading--auxiliary">.heading--auxiliary</h2>
<h2 class="heading--underline">.heading--underline</h2>
<h2 class="heading--weighted"><span class="heading--weighted--weighted">Heading</span> .heading--weighted</h2>
<h2 class="heading--weighted-underline"><span class="heading--weighted--weighted">Heading</span> .heading--weighted-underline</h2>
<h2 class="heading--social-follow">.heading--social-follow</h2>
<h2 class="heading--feature-block">.heading--feature-block</h2>
<h2 class="heading--focus-box">.heading--<span class="heading--weighted--strong">focus-box</span></h2>
<h2 class="heading--invert">.heading--invert</h2>
