&lt;ul class=&quot;nav-footer&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Library home&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Special Collections&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Support the Library&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class=&quot;nav-footer legalese&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Help&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Questions or comments?&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Privacy &amp; Accessibility&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Principles of Community&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;University of California&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
