&lt;form method=&quot;post&quot; action=&quot;{{ url }}&quot; class=&quot;comment-form wine-transcription-form&quot;&gt;
	&lt;h2&gt;Transcribe this Label&lt;/h2&gt;
	&lt;p&gt;Help us transcribe the information on the label image by filling in the fields below:&lt;/p&gt;
	&lt;fieldset&gt;
		&lt;div class=&quot;field-container&quot;&gt;
			&lt;label for=&quot;comment-name&quot;&gt;Producer&lt;/label&gt;
			&lt;input id=&quot;comment-name&quot; type=&quot;text&quot; placeholder=&quot;Name of the winery or producer&quot; /&gt;
		&lt;/div&gt;
		&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn--secondary&quot;&gt;This text is illegible&lt;/a&gt;&lt;/p&gt;
		&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Submit&lt;/a&gt;&lt;/p&gt;
	&lt;/fieldset&gt;
&lt;/form&gt;
