{{# cat-filter }}
  &lt;ul class=&quot;category-filter {{ styleModifier }}&quot;&gt;
    {{# cat-filter-list }}
      &lt;li class=&quot;category-filter__list-item {{# is-active-link }}category-filter__list-item--active {{/ is-active-link }}{{ cat-filter-brand-color }}&quot;&gt;
          &lt;a href=&quot;{{ url }}&quot; class=&quot;category-filter__link category-brand__circle-icon&quot;&gt;&lt;span&gt;{{ cat-filter-text }}&lt;/span&gt;&lt;/a&gt;
      &lt;/li&gt;
    {{/ cat-filter-list }}
  &lt;/ul&gt;
{{/ cat-filter }}