&lt;!-- Begin .header --&gt;
&lt;header class=&quot;l-header header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;header__img-bg--collection&quot;&gt;
    &lt;a href=&quot;#nav&quot; class=&quot;nav-toggle js-nav-toggle&quot;&gt;
      &lt;span class=&quot;nav-toggle__icon nav-toggle__icon--menu&quot;&gt;Menu&lt;/span&gt;
    &lt;/a&gt;
    &lt;div class=&quot;l-container&quot;&gt;
      {{&gt; atoms-logo-library:site-logo }}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;l-navbar navbar menu--closed&quot;&gt;
    &lt;div class=&quot;l-container--navigation off-canvas off-canvas--left&quot;&gt;
      &lt;div class=&quot;off-canvas__container&quot;&gt;
       {{&gt; molecules-special-collections-primary-nav }}
        &lt;div class=&quot;l-quick-links&quot;&gt;
          {{&gt; molecules-library-quick-links }}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;