&lt;div class=&quot;gallery {{ styleModifier }}&quot;&gt;
{{# gallery }}
  &lt;div class=&quot;gallery__item&quot;&gt;
    &lt;a data-size=&quot;{{ img.full.width }}x{{ img.full.height }}&quot; href=&quot;{{ img.full.src }}&quot; title=&quot;{{ caption }}&quot;&gt;
      &lt;img src=&quot;{{ img.thumb.src }}&quot; alt=&quot;{{ img.thumb.alt }}&quot; /&gt;
    &lt;/a&gt;
  &lt;/div&gt;
{{/ gallery }}
  &lt;div class=&quot;gallery__title&quot;&gt;
    &lt;h2 class=&quot;heading--primary&quot;&gt;{{ headline.short }}&lt;/h2&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Root element of PhotoSwipe. Must have class pswp. --&gt;
&lt;div class=&quot;pswp&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-hidden=&quot;true&quot;&gt;

  &lt;!-- Background of PhotoSwipe.
       It's a separate element as animating opacity is faster than rgba(). --&gt;
  &lt;div class=&quot;pswp__bg&quot;&gt;&lt;/div&gt;

  &lt;!-- Slides wrapper with overflow:hidden. --&gt;
  &lt;div class=&quot;pswp__scroll-wrap&quot;&gt;

    &lt;!-- Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on. --&gt;
    &lt;div class=&quot;pswp__container&quot;&gt;
      &lt;div class=&quot;pswp__item&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;pswp__item&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;pswp__item&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. --&gt;
    &lt;div class=&quot;pswp__ui pswp__ui--hidden&quot;&gt;

      &lt;div class=&quot;pswp__top-bar&quot;&gt;

        &lt;!--  Controls are self-explanatory. Order can be changed. --&gt;

        &lt;div class=&quot;pswp__counter&quot;&gt;&lt;/div&gt;

        &lt;button class=&quot;pswp__button pswp__button--close&quot; title=&quot;Close (Esc)&quot;&gt;&lt;/button&gt;

        &lt;button class=&quot;pswp__button pswp__button--share&quot; title=&quot;Share&quot;&gt;&lt;/button&gt;

        &lt;button class=&quot;pswp__button pswp__button--fs&quot; title=&quot;Toggle fullscreen&quot;&gt;&lt;/button&gt;

        &lt;button class=&quot;pswp__button pswp__button--zoom&quot; title=&quot;Zoom in/out&quot;&gt;&lt;/button&gt;

        &lt;!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR --&gt;
        &lt;!-- element will get class pswp__preloader--active when preloader is running --&gt;
        &lt;div class=&quot;pswp__preloader&quot;&gt;
          &lt;div class=&quot;pswp__preloader__icn&quot;&gt;
            &lt;div class=&quot;pswp__preloader__cut&quot;&gt;
              &lt;div class=&quot;pswp__preloader__donut&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class=&quot;pswp__share-modal pswp__share-modal--hidden pswp__single-tap&quot;&gt;
        &lt;div class=&quot;pswp__share-tooltip&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;

      &lt;button class=&quot;pswp__button pswp__button--arrow--left&quot; title=&quot;Previous (arrow left)&quot;&gt;
      &lt;/button&gt;

      &lt;button class=&quot;pswp__button pswp__button--arrow--right&quot; title=&quot;Next (arrow right)&quot;&gt;
      &lt;/button&gt;

      &lt;div class=&quot;pswp__caption&quot;&gt;
        &lt;div class=&quot;pswp__caption__center&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;

    &lt;/div&gt;

  &lt;/div&gt;

&lt;/div&gt;