&lt;div class=&quot;tags&quot;&gt;
  &lt;h3 class=&quot;tags__title&quot;&gt;{{ headline.short }}&lt;/h3&gt;
  {{# tag-list }}
    &lt;a href=&quot;{{ url }}&quot; class=&quot;tags__tag&quot;&gt;{{ link-title }}&lt;/a&gt;
  {{/ tag-list }}
&lt;/div&gt;