&lt;div class=&quot;wysiwyg-feature-block {{ styleModifier }}&quot;&gt;
  &lt;h3 class=&quot;wysiwyg-feature-block__title&quot;&gt;{{ wysiwyg-feature-block.title }}&lt;/h3&gt;
  &lt;div class=&quot;wysiwyg-feature-block__body&quot;&gt;
    {{{ wysiwyg-feature-block.text }}}
  &lt;/div&gt;
&lt;/div&gt;
