&lt;ol class=&quot;breadcrumbs {{ styleModifier }}&quot;&gt;
  {{# breadcrumbs  }}
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ link-title }}&lt;/a&gt;&lt;/li&gt;
  {{/ breadcrumbs}}
&lt;/ol&gt;