&lt;section class=&quot;row align-justify toolbar&quot;&gt;
  &lt;div class=&quot;&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;columns align-center label-title&quot;&gt;
    &lt;div class=&quot;browse-instructions small-12&quot;&gt;
      &lt;h1&gt;Help us uncork a piece of history&lt;/h1&gt;
      &lt;p&gt;&lt;small&gt;You can currently browse labels at random. Before we can create a searchable database, we need to transcribe the labels. That&rsquo;s where you come in!&lt;/small&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;a class=&quot;secondary button next-label&quot; href=&quot;{{ link.templates-mark-flow-start }}&quot;&gt;Get started&lt;img class=&quot;right-pointer&quot; src=&quot;../../images/right-pointer-red.svg&quot;/&gt;&lt;/a&gt;
&lt;/section&gt;
