&lt;fieldset class=&quot;fieldset&quot;&gt;
    &lt;select&gt;
      &lt;option value=&quot;husker&quot;&gt;Husker&lt;/option&gt;
      &lt;option value=&quot;starbuck&quot;&gt;Starbuck&lt;/option&gt;
      &lt;option value=&quot;hotdog&quot;&gt;Hot Dog&lt;/option&gt;
      &lt;option value=&quot;apollo&quot;&gt;Apollo&lt;/option&gt;
    &lt;/select&gt;
&lt;/fieldset&gt;
