{{&gt; molecules-primary-nav }}
{{&gt; molecules-admin-toolbar }}
	&lt;div class=&quot;modal-position&quot;&gt;
		{{&gt; molecules-verify-modal }}
&lt;/div&gt;
&lt;div class=&quot;vignette-overlay&quot;&gt;&lt;/div&gt; &lt;!-- this overlay should extend all the way to the bottom of the screen. It should go over the label metadata (if any) and the footer. You might need to break it up into two pieces, since it looks like react adds the overlay inside an svg element.--&gt;
&lt;section&gt;
	{{&gt; atoms-hero-image }}
&lt;/section&gt;
{{&gt; organisms-footer }}
