&lt;!-- Use molecules-media-list-article for lists --&gt;
&lt;section class=&quot;pane-title--weighted-underline&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;Associated&lt;/span&gt; Articles&lt;/h2&gt;
  {{# articles-associated }}
    {{&gt; molecules-teaser-article }}
  {{/ articles-associated }}
&lt;/section&gt;