&lt;a href=&quot;{{ url }}&quot; class=&quot;focal-link {{ styleModifier }}&quot;&gt;
  &lt;div class=&quot;focal-link__figure&quot;&gt;
    {{&gt; atoms-square }}
  &lt;/div&gt;
  &lt;div class=&quot;focal-link__body&quot;&gt;
    &lt;strong&gt;{{ action-text }}&lt;/strong&gt;
  &lt;/div&gt;
&lt;/a&gt;
