<div class="herocard row">
	<div class="column small-8">
		{{> atoms-landscape-16x9 }}
		<p><a href="https://labelthis.lib.ucdavis.edu/images/labels/2048x/2/Amerine-2262.jpg">Download Image</a></p>
	</div>
	<div class="column">
		<h1>Label #1234</h1>
		<p><a href="https://labelthis.lib.ucdavis.edu/view/2262">Direct Link to Mark</a></p>
		<h3>Category</h3>
		<p>North Africa Folder</p>
		<h3>Last modified:</h3>
		<p>Sept. 12, 2016, 8:39 a.m.</p>
		<p>Marks: 6</p>
	</div>
</div>
