<div class="column minicard mark-detail">
	<div class="small-12">
		<h3>Type: Image Description</h3>
		<img src="http://managethis.library.ucdavis.edu/media/2387-image-577c001dfb38413cef000004.jpg" class="mark">
		<h3>Created on:</h3> <p>Aug. 22, 2016, 6:42 p.m.</p>
	</div>
	<div class="column row align-middle ">
		<div class="field-container small-8">
				<label class="trans-type" for="textarea">Human Description 1:</label>
				<textarea id="textarea" rows="1" cols="48" placeholder="Chateau and vineyard"></textarea>
		</div>
		<button type="button" class="button small-3" href="FIXME">Accept</button>
		<div class="field-container small-8">
				<label class="trans-type" for="textarea">Human Description 2:</label>
				<textarea id="textarea" rows="1" cols="48" placeholder="WINE VINE"></textarea>
		</div>
		<button type="button" class="button small-3" href="FIXME">Accept</button>
		<div class="field-container small-8">
				<label class="trans-type" for="textarea">Human Description 3:</label>
				<textarea id="textarea" rows="1" cols="48" placeholder="Vineyard Landscape"></textarea>
		</div>
		<button type="button" class="button small-3" href="FIXME">Accept</button>
		<div class="field-container small-8">
				<label class="trans-type" for="textarea">Human Description 4:</label>
				<textarea id="textarea" rows="1" cols="48" placeholder="vineyard with two buildings"></textarea>
		</div>
		<button type="button" class="button small-3" href="FIXME">Accept</button>
		<div class="field-container small-8">
				<label class="trans-type" for="textarea">Human Description 5:</label>
				<textarea id="textarea" rows="1" cols="48" placeholder="crop field"></textarea>
		</div>
		<button type="button" class="button small-3" href="FIXME">Accept</button>
		<div class="field-container small-8">
				<label class="trans-type" for="textarea">Human Description 6:</label>
				<textarea id="textarea" rows="2" cols="48" placeholder="black and white drawing of the chateau"></textarea>
		</div>
		<button type="button" class="button small-3" href="FIXME">Accept</button>
		<div class="field-container small-8">
				<label class="trans-type" for="textarea">Human Description 7:</label>
				<textarea id="textarea" rows="1" cols="48" placeholder="House with vineyard"></textarea>
		</div>
		<button type="button" class="button small-3" href="FIXME">Accept</button>
		<div class="field-container small-8">
				<label class="trans-type" for="textarea">Human Description 8:</label>
				<textarea id="textarea" rows="1" cols="48" placeholder="Villa and vineyard engraving"></textarea>
		</div>
		<button type="button" class="button small-3" href="FIXME">Accept</button>
	</div>
	<button type="button" class="button secondary small-12" href="FIXME">None of these are good</button>
</div>
