&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;small-4 columns&quot;&gt;
    {{&gt; atoms-toggle }}
    {{&gt; molecules-image-zoom-controls }}
  &lt;/div&gt;
  &lt;div class=&quot;column&quot;&gt;
    &lt;p&gt;Draw a box around an area of interest on this label. Then tell us whether what you&rsquo;ve marked is an image or text. Mark as many elements as you want. &lt;a href=&quot;FIXME&quot;&gt;Need help?&lt;/a&gt;&lt;/p&gt;
    &lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;Next Label&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
