&lt;section class=&quot;row align-center align-middle callout &quot;&gt;
  &lt;div class=&quot;shrink columns&quot;&gt;
    {{&gt; atoms-toggle }}
  &lt;/div&gt;
  &lt;div class=&quot;shrink columns&quot;&gt;
    {{&gt; molecules-image-zoom-controls }}
  &lt;/div&gt;
  &lt;div class=&quot;medium-5 columns&quot;&gt;
    &lt;small&gt;Draw a box around an area of interest on this label. Then tell us whether what you&rsquo;ve marked is an image or text. Mark as many elements as you want.&lt;a href=&quot;{{ link.pages-mark-help }}&quot;&gt;Need help?&lt;/a&gt;&lt;/small&gt;
  &lt;/div&gt;
  &lt;div class=&quot;columns-2&quot;&gt;
    &lt;a class=&quot;button&quot; href=&quot;{{ link.template-mark-flow-start }}&quot;&gt;Next Label&lt;/a&gt;
  &lt;/div&gt;
&lt;/section&gt;
