// The box object simply boxes off content.
// adapted from Inuit CSS
// https://github.com/inuitcss/objects.box/blob/master/_objects.box.scss

// 1. So we can apply the `.box` class to naturally-inline elements.
.box,
%box {
  @include clearfix();
  display: block; // [1]
  padding: $fixed-spacing-unit;

  > :last-child {
    margin-bottom: 0;
  }
}

// Flush (i.e. no padding) box.
.box--flush,
%box--flush {
  padding: 0;
}

// Small box.
.box--small,
%box--small {
  padding: $fixed-spacing-unit--small;
}

// Large box.
.box--large,
%box--large {
  padding: $fixed-spacing-unit--large;
}
