// Media Object using flexbox with a legacy fallback

.media,
%media {
  display: flex;
  align-items: flex-start;

  .no-flexbox & {
    @include clearfix();
    display: block;
  }
}

// Figure (image)
.media__figure,
%media__figure {
  margin-right: $spacing-unit;

  .no-flexbox & {
    float: left;
  }
}

// Body (content)
.media__body,
%media__body {
  display: block;
  flex: 1;

  .no-flexbox & {
    overflow: hidden;
  }

  &,
  > :last-child {
    margin-bottom: 0;
  }
}

// Reverse
.media--rev,
%media--rev {
  flex-direction: row-reverse;

  > .media__figure,
  > %media__figure {
    margin-right: 0;
    margin-left: $spacing-unit;

    .no-flexbox & {
      float: right;
    }
  }
}

// Small
.media--small,
%media--small {

  > .media__figure,
  > %media__figure {
    margin-right: $spacing-unit--small;
  }

  &.media--rev,
  &%media--rev {

    > .media__figure,
    > %media__figure {
      margin-right: 0;
      margin-left: $spacing-unit--small;
    }

  }

}

// Large
// Small
.media--large,
%media--large {

  > .media__figure,
  > %media__figure {
    margin-right: $spacing-unit--large;
  }

  &.media--rev,
  &%media--rev {

    > .media__figure,
    > %media__figure {
      margin-right: 0;
      margin-left: $spacing-unit--large;
    }

  }

}
