&lt;div class=&quot;footer-nav&quot;&gt;
  &lt;h2 class=&quot;footer-nav__title&quot;&gt;Title: Lorem ipsum&lt;/h2&gt;
  &lt;ul class=&quot;menu&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;First Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Second Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Third Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Fourth Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Fifth Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Sixth Link&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;