&lt;section class=&quot;list--bordered pane-title--icon pane-title--alerts&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;Campus&lt;/span&gt; Notice&lt;/h2&gt;
    {{&gt; molecules-simple-list-article }}
&lt;/section&gt;