<div class="draggable-modal  draggable" style="left: 340px; top: 110px; -webkit-user-select: none;">
	<div class="modal-header">Transcibe/Describe</div>
	<div class="modal-body">
		<p>Please tell us what the highlighted text says. Please tell us what this image is depicting, using one or two words.</p>
	</div>
	<fieldset>
		<div class="field-container">
			<label for="textarea">Textarea</label>
			<textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
		</div>
    <div class="field-container">
        <label for="select">Select</label>
        <select id="select">
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
	</fieldset>
	<div class="modal-buttons">
		<button class=" minor-button" data-reactid=".0.0.1.1.0.1.4.0">This text is illegible</button>
		<button class=" minor-button" data-reactid=".0.0.1.1.0.1.4.0">Next</button>
	</div>
</div>
