<div class="draggable-modal draggable fieldset" unselectable="on">
		<h2>How to Mark this label</h2>
		<p>Before we can transcribe the labels, we need to know which sections need transcription.</p>
		<p>You can help us by marking up the labels — draw a box around each area of interest on the label, and log it as an image or as a piece of text. Mark as many areas as you want.</p>
		<p>Try to keep phrases or groups of words that look like they belong together in one box.</p>
		<figure>
			<img src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" />
		</figure>
		<div class="button-group align-right">
			<button class="button">OK, got it!</button>
		</div>
</div>
