<div class="draggable-modal help-dialogue draggable" unselectable="on">
	<label>
		<h2>How to Transcribe this label</h2>
		<p>Please tell us what the highlighted text says. Try to include any diacritics, like accents ( ` ) or umlauts ( ¨ ), as well as upper and lower case letters.</p>
		<p>If something is illegible, that is important information for us to know as well, so please mark it as illegible.</p>
		<figure>
			<img src="../../images/image-step-2.gif" alt="Animated depiction of transcribing a text element on a label" />
		</figure>
		<p>If the area highlighted is an image, please use on or two words to describe the image.</p>
		<figure>
			<img src="../../images/image-step-3.gif" alt="Animated depiction of transcribing an image element on a label" />
		</figure>
		<div class="button-group align-center">
			<a href="{{ link.pages-transcribe-flow-01 }}" class="button">OK, got it!</a>
		</div>
	</label>
</div>
