&lt;div class=&quot;article-body body-text&quot;&gt;
  {{&gt; molecules-video-youtube:responsive-iframe--16x9(video-id: &quot;mKbwOv7eQKc&quot;, video-width: &quot;853&quot;, video-height: &quot;480&quot;) }}
  {{&gt; molecules-social-share }}
  {{&gt; molecules-quick-summary:align-right width-half }}
  &lt;p class=&quot;intro&quot;&gt;{{{ excerpt.long }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-01.heading }}}&lt;/h2&gt;
  &lt;div class=&quot;align-right image-half&quot;&gt;
    {{&gt; atoms-landscape-4x3 }}
  &lt;/div&gt;
  {{&gt; molecules-feature-block:align-right width-half }}
  &lt;p&gt;{{{ page-copy.section-01.text }}}&lt;/p&gt;
  {{# figures.first }}
    &lt;div class=&quot;image-full&quot;&gt;
      {{&gt; molecules-figure-with-caption }}
    &lt;/div&gt;
  {{/ figures.first }}
  &lt;h2&gt;{{{ page-copy.section-02.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-02.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-03.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-03.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-04.heading }}}&lt;/h2&gt;
  {{# pullquotes.first }}
    {{&gt; molecules-pullquote:align-left width-half }}
  {{/ pullquotes.first }}
  &lt;p&gt;{{{ page-copy.section-04.text }}}&lt;/p&gt;
  {{# figures.second }}
    &lt;div class=&quot;image-full&quot;&gt;
      {{&gt; molecules-figure-with-caption }}
    &lt;/div&gt;
  {{/ figures.second }}
  &lt;h2&gt;{{{ page-copy.section-05.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-05.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-06.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-06.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-07.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-07.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-08.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-08.text }}}&lt;/p&gt;
  {{# figures.third }}
    &lt;div class=&quot;image-full&quot;&gt;
      {{&gt; molecules-figure-with-caption }}
    &lt;/div&gt;
  {{/ figures.third }}
  &lt;h2&gt;{{{ page-copy.section-09.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-09.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-10.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-10.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-11.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-11.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-12.heading }}}&lt;/h2&gt;
  {{# pullquotes.second }}
    {{&gt; molecules-pullquote:align-left width-half }}
  {{/ pullquotes.second }}
  &lt;p&gt;{{{ page-copy.section-12.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-13.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-13.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-14.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-14.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-15.heading }}}&lt;/h2&gt;
  {{# person-feature }}
    {{&gt; molecules-person-feature:align-right width-half }}
  {{/ person-feature }}
  &lt;p&gt;{{{ page-copy.section-15.text }}}&lt;/p&gt;
  &lt;h2&gt;{{{ page-copy.section-16.heading }}}&lt;/h2&gt;
  &lt;p&gt;{{{ page-copy.section-16.text }}}&lt;/p&gt;
  &lt;h2 class=&quot;heading--auxiliary&quot;&gt;Related Images:&lt;/h2&gt;
  {{&gt; molecules-image-gallery }}
&lt;/div&gt;

&lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;

{{# tags }}
  {{&gt; molecules-tags }}
{{/ tags }}
