{{&gt; molecules-primary-nav }}
{{&gt; molecules-transcribe-instructions }}
&lt;section&gt;
	{{&gt; atoms-hero-image }}
&lt;/section&gt;
&lt;section class=&quot;row&quot;&gt;
	&lt;div class=&quot;column&quot;&gt;
		&lt;h1&gt;Label #32435&lt;/h1&gt;
		{{&gt; atoms-definition }}
	&lt;/div&gt;
	{{&gt; organisms-label-info-sidebar }}
&lt;/section&gt;
{{&gt; organisms-footer }}
&lt;/div&gt;
