&lt;p&gt;Primary font: &quot;alverata-pe&quot;, Georgia, serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic:  &quot;alverata-pe&quot;, Georgia, serif;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold:  &quot;alverata-pe&quot;, Georgia, serif;&lt;/strong&gt;&lt;/p&gt;
