.header {
	background: $color__white;
	padding: 0;
	border-bottom: 1px solid $ucd-blue;
	@extend .lc;
}

.logo {
	float: left;
	max-width: 7rem;
	margin: 1em .5rem;
	@media all and (min-width: $bp-med) {
		max-width: 9rem;
		margin: 1rem;
	}
}

.nav-toggle {
	float: right;
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid #dbdbdb;

	@media all and (min-width: $bp-med) {
		display: none;
	}

	@media all and (max-width: 17em) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}

.search-form {
	overflow: hidden;
	max-height: 0;

	@media all and (min-width: $bp-med) {
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}

// Header
// Header for collections sites
.header__img-bg--collection {
  background: url("../images/global-header-bg--alt.svg") center top/cover no-repeat;

  .no-svg & {
    background: url("../images/global-header-bg--alt.png") center top repeat;
  }
}

.site-logo {
  display: inline-block;
  height: $header-height--sm;
  transition: all .2s ease-in-out;

  @media ($media-small $media-medium-max) {
    height: $header-height--md;
  }

  @media ($bp-medium--up, true) {
    height: $header-height;

    .l-header--fixed.is-scrolling & {
      height: $header-height--scrolling;
    }
  }

  .logo {
    //@include vertical-center();
    height: 40%;
    vertical-align: baseline;
    transition: all .2s ease-in-out;

    .l-header--fixed.is-scrolling & {
      @media ($bp-medium--up, true) {
        height: 55%;
      }
    }

    .lt-ie9 & {
      margin-top: 12%;
      top: 0;
    }
  }
}

// Navbar
.navbar {
  background-color: $menu-background-color;
  box-shadow: 0 2px 1px rgba($ucd-blue, .15);

  .primary-nav {
    @media ($bp-medium--up, true) {
      margin-right: 100px;
    }
  }
}