&lt;div class=&quot;focus-box {{ styleModifier }} {{ brandModifier}}&quot;&gt;
  &lt;div class=&quot;focus-box__image&quot;&gt;
    {{&gt; atoms-focus }}
  &lt;/div&gt;
  &lt;h3 class=&quot;focus-box__title category-brand__text category-brand__text--knock-out&quot;&gt;{{{ focus-box-title }}}&lt;/h3&gt;
  &lt;div class=&quot;focus-box__body body-text&quot;&gt;
    {{{ focus-box-text }}}
  &lt;/div&gt;
&lt;/div&gt;