{{&gt; molecules-primary-nav }}
&lt;div class=&quot;row homepage&quot;&gt;
		&lt;section class=&quot;small-12 medium-12 large-10 large-offset-1 columns title&quot;&gt;
			&lt;img class=&quot;large-title&quot; src=&quot;../../images/label-this-title-image.svg&quot; alt=&quot;Label This Project title image&quot;&gt;
			&lt;img class=&quot;small-title&quot; src=&quot;../../images/label-this-title-image-sm.svg&quot; alt=&quot;&quot;&gt;
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;p class=&quot;lead&quot;&gt;Maynard Amerine, a professor of viticulture and enology at UC Davis for nearly four decades, is widely considered to be the driving force behind the post-Prohibition wine industry in California. The over 5,000 labels he collected tell a story of the global wine industry from the 1800s through the 1950s.&lt;/p&gt;
			&lt;p class=&quot;lead&quot;&gt;The Amerine wine label collection provides a meaningful window into the history of both winemaking and winemakers during a pivotal time in the industry. Our goal is to make these labels, and this history, searchable and accessible to wine lovers everywhere.&lt;/p&gt;
			&lt;p class=&quot;lead&quot;&gt;To accomplish this, we need help marking, transcribing and describing the labels to create a searchable database. That&rsquo;s where you come in! Help us uncork a piece of history.&lt;/p&gt;
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-12 large-10 large-offset-1 columns&quot;&gt;
			&lt;h1&gt;Here's how you can help:&lt;/h1&gt;
			{{&gt; organisms-step-by-step-instructions }}
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 columns&quot;&gt;
			&lt;div class=&quot;row align-center&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;large button&quot; href=&quot;{{ link.templates-mark-flow-start }}&quot;&gt;&lt;img class=&quot;left-pointer&quot; src=&quot;../../images/left-pointer-knockout.svg&quot;/&gt;Get Started&lt;img class=&quot;right-pointer&quot; src=&quot;../../images/right-pointer-knockout.svg&quot;/&gt;&lt;/button&gt;
			&lt;/div&gt;
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;h2&gt;Just want to explore?&lt;/h2&gt;
			&lt;p&gt;Until the labels are transcribed and a searchable database created, they&rsquo;re just ordered randomly. That&rsquo;s why we need your help. As more labels are transcribed, we&rsquo;ll be able to gather more information about them. That will help us organize how we present them to you.&lt;/p&gt;
			&lt;p&gt;In the meantime, you can browse through the labels at random below. [FIXME add link to Mailchimp] Sign up for our newsletter to be notified when stories about the labels and the ability to search the database become available.&lt;/p&gt;
			{{&gt; molecules-pagination }}
			{{&gt; organisms-gallery }}
			{{&gt; molecules-pagination }}
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;h2&gt;Do you know one of these wines?&lt;/h2&gt;
			&lt;p&gt;If you know the story behind one of these wines &mdash; the winemaker, the winery, the art on the label &mdash; please &lt;a href=&quot;mailto:labelthis@ucdavis.edu&quot;&gt;contact us&lt;/a&gt; so we can share your story on the site.&lt;/p&gt;
		&lt;/section&gt;
&lt;/div&gt;
{{&gt; organisms-footer }}
