{{&gt; molecules-primary-nav }}
&lt;div class=&quot;row&quot;&gt;
		&lt;section class=&quot;intro small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;h1 class=&quot;title&quot;&gt;&lt;/h1&gt;
			&lt;p class=&quot;lead&quot;&gt;The labels in the Maynard Amerine Collection at the UC Davis Libary tell the story of the growing wine industry in California. Many of them are meaningful windows into the fabric of both winemaking and winemakers and should be searchable in a way that is accessible.&lt;/p&gt;
			&lt;p class=&quot;lead&quot;&gt;Before we can create a searchable database, we need to transcribe the labels. That&rsquo;s where you come in! Help us uncork a piece of history.&lt;/p&gt;
			&lt;div class=&quot;row align-center&quot;&gt;
				&lt;a class=&quot;button large&quot; href=&quot;{{ link.templates-mark-flow-start }}&quot;&gt;Get Started&lt;/a&gt;
			&lt;/div&gt;
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;h2&gt;Just want to look at the pretty labels?&lt;/h2&gt;
			&lt;p&gt;Since the labels aren&rsquo;t transcribed yet, they&rsquo;re just ordered randomly. That&rsquo;s why we need your help. As we transcribe more labels, we&rsquo;ll be able to gather more information about them. That will help us organize how we present them to you.&lt;/p&gt;
			&lt;p&gt;In the meantime, you can look through the labels at random below, or search for terms within the labels we&rsquo;ve transcribed so far.&lt;/p&gt;
			{{&gt; organisms-gallery }}
			&lt;div class=&quot;row align-center&quot;&gt;
				&lt;a class=&quot;small secondary button&quot; href=&quot;{{ link.templates-browse }}&quot;&gt;Browse More Labels&lt;/a&gt;
			&lt;/div&gt;
		&lt;/section&gt;
&lt;/div&gt;
{{&gt; organisms-footer }}
