{{&gt; molecules-primary-nav }}
&lt;div class=&quot;row homepage&quot;&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns title&quot;&gt;
			&lt;h4&gt;The Maynard Amerine Collection&lt;/br&gt;at the UC Davis Library&lt;/br&gt;&lt;span&gt;presents&lt;/span&lt;/h4&gt;
			&lt;img class=&quot;large-title&quot; src=&quot;../../images/label-this-title-image.svg&quot; alt=&quot;Label This Project title image&quot;&gt;
			&lt;img class=&quot;small-title&quot; src=&quot;../../images/label-this-title-image-sm.svg&quot; alt=&quot;&quot;&gt;
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns intro&quot;&gt;
			&lt;p&gt;Maynard Amerine, a professor of viticulture and enology at UC Davis for nearly four decades, is widely considered to be the driving force behind the post-Prohibition wine industry in California. The over 5,000 labels he collected tell a story of the global wine industry from the 1800s through the 1950s.&lt;/p&gt;
			&lt;p&gt;The Amerine wine label collection provides a meaningful window into the history of both winemaking and winemakers during a pivotal time in the industry. Our goal is to make these labels, and this history, searchable and accessible to wine lovers everywhere.&lt;/p&gt;
			&lt;p&gt;To accomplish this, we need help marking, transcribing and describing the labels to create a searchable database. That&rsquo;s where you come in! Help us uncork a piece of history.&lt;/p&gt;
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns step-by-step&quot;&gt;
					&lt;h1&gt;Here's how you can help:&lt;/h1&gt;
					&lt;h2&gt;Mark&lt;/h2&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;p class=&quot;small-12 medium-6 columns&quot;&gt;The first thing we need is to mark the areas on each label that will eventually need transcribing or describing.&lt;/p&gt;
						&lt;img class=&quot;small-12 medium-6 columns step-image&quot; src=&quot;../../images/image-step-1.png&quot; alt=&quot;Animated depiction of step 1: marking an area on a label&quot;/&gt;
					&lt;/div&gt;
					&lt;h2&gt;Transcribe &amp; Describe&lt;/h2&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;p class=&quot;small-12 columns&quot;&gt;Once all the areas of interest on a label have been marked, we need to figure out what they actually say. For that, we need you to transcribe and describe:&lt;/p&gt;
						&lt;img class=&quot;small-12 medium-6 columns step-image&quot; src=&quot;../../images/image-step-2.png&quot; alt=&quot;Animated depiction of step 1: marking an area on a label&quot;/&gt;
						&lt;p class=&quot;small-12 medium-6 columns&quot;&gt;Transcribe the text or handwriting on each label as accurately as you can.  Use your best judgement when deciding whether to use capital letters, or when trying to decipher Amerine&rsquo;s handwriting.&lt;/p&gt;
						&lt;p class=&quot;small-12 medium-6 columns&quot;&gt;or write a description for the images that have been marked by other people. Again, use your best judgement&mdash;there is no wrong answer!&lt;/p&gt;
						&lt;img class=&quot;small-12 medium-6 columns step-image&quot; src=&quot;../../images/image-step-3.png&quot; alt=&quot;Animated depiction of step 1: marking an area on a label&quot;/&gt;
					&lt;/div&gt;
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;div class=&quot;row align-center&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;large button&quot; href=&quot;{{ link.templates-mark-flow-start }}&quot;&gt;&lt;img class=&quot;left-pointer&quot; src=&quot;../../images/left-pointer-knockout.svg&quot;/&gt;Get Started&lt;img class=&quot;right-pointer&quot; src=&quot;../../images/right-pointer-knockout.svg&quot;/&gt;&lt;/button&gt;
			&lt;/div&gt;
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;h1&gt;Just want to explore?&lt;/h1&gt;
			&lt;p&gt;Until the labels are transcribed and a searchable database created, they&rsquo;re just ordered randomly. That&rsquo;s why we need your help. As more labels are transcribed, we&rsquo;ll be able to gather more information about them. That will help us organize how we present them to you.&lt;/p&gt;
			&lt;p&gt;In the meantime, you can browse through the labels at random below. &lt;a href=&quot;FIXME add link to Mailchimp&quot;&gt;Sign up for our newsletter&lt;/a&gt; to be notified when stories about the labels and the ability to search the database become available.&lt;/p&gt;
			{{&gt; molecules-pagination }}
			{{&gt; organisms-gallery }}
			{{&gt; molecules-pagination }}
		&lt;/section&gt;
		&lt;section class=&quot;small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;h2&gt;Do you know one of these wines?&lt;/h2&gt;
			&lt;p&gt;If you know the story behind one of these wines &mdash; the winemaker, the winery, the art on the label &mdash; please &lt;a href=&quot;mailto:labelthis@ucdavis.edu&quot;&gt;contact us&lt;/a&gt; so we can share your story on the site.&lt;/p&gt;
		&lt;/section&gt;
&lt;/div&gt;
{{&gt; organisms-footer }}
