{{&gt; molecules-primary-nav }}
{{&gt; molecules-label-toolbar }}
&lt;section&gt;
	{{&gt; atoms-hero-image }}
&lt;/section&gt;
&lt;section class=&quot;label-card medium-10 medium-offset-1 medium-unstack&quot;&gt;
	&lt;h5&gt;About this label&lt;/h5&gt;
	&lt;section class=&quot;row&quot;&gt;
		&lt;div&gt;
			 Category: Spain
		&lt;/div&gt;
		&lt;div&gt;
			This label still needs your help. Mark the elements on this label for transcription.
			&lt;button type=&quot;button&quot; class=&quot;small button&quot; href=&quot;#&quot;&gt;Mark This Label&lt;/button&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;section&gt;
		&lt;h6&gt;THE STORY BEHIND THIS LABEL&lt;/h6&gt;
		&lt;p&gt;&lt;a href=&quot;&quot;&gt;Amerine and the Bohemian Club&lt;/a&gt;&lt;/p&gt;
	&lt;/section&gt;
	&lt;section class=&quot;row&quot;&gt;
		&lt;div&gt;
			&lt;h6&gt;THE STORY BEHIND THIS LABEL&lt;/h6&gt;
			&lt;p&gt;&lt;a href=&quot;&quot;&gt;Amerine and the Bohemian Club&lt;/a&gt;&lt;/p&gt;
		&lt;/div&gt;
		&lt;div&gt;
			{{&gt; molecules-social-share }}
		&lt;/div&gt;
	&lt;/section&gt;
&lt;/section&gt;
{{&gt; organisms-footer }}
