	{{&gt; molecules-primary-nav }}
	{{&gt; molecules-mark-toolbar }}
	{{# vignette }}
		&lt;div class=&quot;vignette-overlay&quot;&gt;&lt;/div&gt;
	{{/ vignette }}
	&lt;section&gt;
		{{&gt; atoms-hero-image }}
	&lt;/section&gt;
	{{&gt; organisms-label-info-card }}
	{{&gt; organisms-footer }}
