// Forms
form ol,
form ul {
  @include reset-list;
}

fieldset {
  border: 1px solid $brand--gray;
  border-top: 3px solid $ucd-blue;
  margin: $spacing-unit 0;
  padding: $spacing-unit;

  > legend {
    @include font-size(18px);
    padding: $spacing-unit--tiny;
  }
}

label {
  display: block;
  padding-bottom: $spacing-unit--tiny;
  font-weight: bold;
}

input,
select,
textarea,
%form-input {
  border: 1px solid $input-border-color;
  border-radius: 0;
  padding: $spacing-unit--tiny ($spacing-unit--small + $spacing-unit--tiny);
  background-color: $input-bg;
  background-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: $input-color;
  font-family: inherit;
  margin: 0;
  outline: 0;

  &:focus {
    @include set-focus("form");
  }

  &:active {
    transform: scale(1);
  }
}

input,
select {
  height: $input-height--base;
}

input,
textarea {
  width: 100%;
}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;

  &:focus {
    @include set-focus("default");
  }
}

input[type="checkbox"],
input[type="radio"] {
  height: auto;
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
}
