// Media Elements

// Flexible images and media already set via toolkit in 0_utilities/_reset.scss

// Override max-width 100% for ie8
.ie8 img {
  max-width: none;
}

iframe {
  margin-bottom: $spacing-unit;
  max-width: 100%;
}

// http://stackoverflow.com/questions/10264463/can-a-figcaption-be-restricted-to-the-width-of-a-responsively-sized-image
figure {
  display: table;
  margin: 0 0 $spacing-unit;

  // Force an immediate child so that it doesn't break stuff in ckeditor
  > img {
    margin-bottom: $spacing-unit--small;
    width: 100%; // Needed for firefox bug
  }
}

figcaption {
  @include font-size(12px, 18px);
  display: table-caption;
  caption-side: bottom;
  color: darken($gray-light, 10%);
  font-style: italic;
}

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
