&lt;section class=&quot;row align-justify&quot;&gt;
  &lt;a class=&quot;secondary button previous-label&quot; href=&quot;{{ link.templates-single-label }}&quot;&gt;&lt;img class=&quot;left-pointer&quot; src=&quot;../../images/left-pointer-red.svg&quot;/&gt;Previous Label&lt;/a&gt;
  &lt;div class=&quot;columns align-self-middle label-title&quot;&gt;Label Title&lt;/div&gt;
  &lt;a class=&quot;secondary button next-label&quot; href=&quot;{{ link.templates-single-label }}&quot;&gt;Next Label&lt;img class=&quot;right-pointer&quot; src=&quot;../../images/right-pointer-red.svg&quot;/&gt;&lt;/a&gt;
&lt;/section&gt;
