&lt;a class=&quot;button&quot; href=&quot;{{ link.templates-single-label }}&quot;&gt;Previous Label&lt;/a&gt;
&lt;a class=&quot;button&quot; href=&quot;{{ link.templates-single-label }}&quot;&gt;Next Label&lt;/a&gt;
