&lt;section class=&quot;list--bordered pane-title--icon pane-title--feed&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;Aggie&lt;/span&gt; Voices Student Blog&lt;/h2&gt;
  {{# listItems-blog }}
    {{&gt; molecules-simple-list-article }}
  {{/ listItems-blog}}
&lt;/section&gt;