&lt;a href=&quot;{{ url }}&quot; class=&quot;marketing-highlight {{ brand-class }} {{ styleModifier }}&quot;&gt;
  &lt;div class=&quot;marketing-highlight__image&quot;&gt;
    {{&gt; atoms-landscape-4x3 }}
  &lt;/div&gt;
  &lt;div class=&quot;marketing-highlight__body&quot;&gt;
    {{# highlight-label }}
      &lt;h3 class=&quot;marketing-highlight__type category-brand__text--knock-out&quot;&gt;&lt;span&gt;{{ highlight-label }}&lt;/span&gt;&lt;/h3&gt;
    {{/ highlight-label }}
    &lt;h3 class=&quot;marketing-highlight__title category-brand__text {{# hightlight-title-horizontal }}category-brand__text--knock-out{{/hightlight-title-horizontal}}&quot;&gt;{{ headline.short }}&lt;/h3&gt;
    {{# highlight-content }}
      &lt;p&gt;{{{ excerpt.short }}}&lt;/p&gt;
    {{/ highlight-content }}
    {{# cta-text }}
      &lt;span class=&quot;marketing-highlight__cta category-brand__arrow&quot;&gt;{{ cta-text }}&lt;/span&gt;
    {{/cta-text}}
  &lt;/div&gt;
&lt;/a&gt;