{{# is-admin-drag-table }}
  <table class="table--draggable table--admin {{ styleModifier }}">
    <thead>
    <tr>
      <th>Table Heading 1</th>
      <th>Table Heading 2</th>
      <th colspan="2">Table Heading 3</th>
    </tr>
    </thead>

    <tbody>
    {{# listRows }}
      <tr class="{{ listRow-classes }}">
        <td>
          {{# is-indented }}<div style="float: left; width: 20px;">&nbsp;</div>{{/is-indented}}
          <a style="float: left; margin-right: 1em;" href="{{ url }}"><div><img src="../../images/sample/draggable.png"/></div></a><a href="{{ url }}">{{ row-title }}</a>
        </td>
        <td><div><input checked="checked" type="checkbox" value="1"></div></td>
        <td><a href="{{ url }}">{{ action-one }}</a></td>
        <td><a href="{{ url }}">{{ action-two }}</a></td>
      </tr>
    {{/ listRows }}
    </tbody>
    <tfoot>
      <tr>
        <th>Table Footer 1</th>
        <th>Table Footer 2</th>
        <th colspan="2">Table Footer 3</th>
      </tr>
    </tfoot>
  </table>
{{/is-admin-drag-table}}