&lt;div class=&quot;person-feature clearfix {{ styleModifier }}&quot;&gt;
  &lt;div class=&quot;person-feature__image&quot;&gt;
    &lt;img src=&quot;{{ img.thumbnail.src }}&quot; alt=&quot;{{ img.thumbnail.alt }}&quot;/&gt;
  &lt;/div&gt;
  &lt;h2 class=&quot;person-feature__name&quot;&gt;{{{ name }}}&lt;/h2&gt;
  &lt;h3 class=&quot;person-feature__title&quot;&gt;{{{ title }}}&lt;/h3&gt;
  &lt;div class=&quot;person-feature__body&quot;&gt;
    {{{ text }}}
  &lt;/div&gt;
  &lt;div class=&quot;person-feature__link&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;{{{ url-label }}}&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
