{{# is-admin-drag-table }}
  &lt;table class=&quot;table--draggable table--admin {{ styleModifier }}&quot;&gt;
    &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Table Heading 1&lt;/th&gt;
      &lt;th&gt;Table Heading 2&lt;/th&gt;
      &lt;th colspan=&quot;2&quot;&gt;Table Heading 3&lt;/th&gt;
    &lt;/tr&gt;
    &lt;/thead&gt;

    &lt;tbody&gt;
    {{# listRows }}
      &lt;tr class=&quot;{{ listRow-classes }}&quot;&gt;
        &lt;td&gt;
          {{# is-indented }}&lt;div style=&quot;float: left; width: 20px;&quot;&gt;&amp;nbsp;&lt;/div&gt;{{/is-indented}}
          &lt;a style=&quot;float: left; margin-right: 1em;&quot; href=&quot;{{ url }}&quot;&gt;&lt;div&gt;&lt;img src=&quot;../../images/sample/draggable.png&quot;/&gt;&lt;/div&gt;&lt;/a&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ row-title }}&lt;/a&gt;
        &lt;/td&gt;
        &lt;td&gt;&lt;div&gt;&lt;input checked=&quot;checked&quot; type=&quot;checkbox&quot; value=&quot;1&quot;&gt;&lt;/div&gt;&lt;/td&gt;
        &lt;td&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ action-one }}&lt;/a&gt;&lt;/td&gt;
        &lt;td&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ action-two }}&lt;/a&gt;&lt;/td&gt;
      &lt;/tr&gt;
    {{/ listRows }}
    &lt;/tbody&gt;
    &lt;tfoot&gt;
      &lt;tr&gt;
        &lt;th&gt;Table Footer 1&lt;/th&gt;
        &lt;th&gt;Table Footer 2&lt;/th&gt;
        &lt;th colspan=&quot;2&quot;&gt;Table Footer 3&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/tfoot&gt;
  &lt;/table&gt;
{{/is-admin-drag-table}}