{{> molecules-manage-this-nav }}
<div class="admin-body">
	<div class="small-12 medium-8 medium-offset-2 greeting">
			<h1>Manage This</h1>
			<p>As an admin, you can help us make sure that the transcription work of the crowds is up to snuff.</p>
	</div>
	{{> molecules-refine-search }}
	<div>
		<h1>Results</h1>
		{{> molecules-pagination }}
		{{> organisms-manage-this-card-grid }}
		{{> molecules-pagination }}
	</div>
</div>
{{> organisms-admin-footer }}
