{{&gt; molecules-manage-this-nav }}
&lt;div class=&quot;admin-body&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
			&lt;h1&gt;Manage This&lt;/h1&gt;
			&lt;p&gt;As an admin, you can help us make sure that the transcription work of the crowds is up to snuff.&lt;/p&gt;
			{{&gt; molecules-refine-search }}
	&lt;/div&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;h2&gt;Results&lt;/h2&gt;
		{{&gt; molecules-pagination }}
		&lt;div class=&quot;row small-up-1 medium-up-2 large-up-3&quot;&gt;
			{{# browsegallery }}
			{{&gt; molecules-label-minicard }}
			{{/ browsegallery }}
		&lt;/div&gt;
		{{&gt; molecules-pagination }}
	&lt;/div&gt;
&lt;/div&gt;
{{&gt; organisms-admin-footer }}
