&lt;div class=&quot;small-4 columns&quot;&gt;
  {{&gt; molecules-social-share }}
  &lt;h5&gt;Status: Needs transcribing&lt;/h5&gt;
  &lt;p&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;button&quot;&gt;Mark this Label&lt;/a&gt;&lt;/p&gt;
  &lt;h5&gt;Get the story behind this label:&lt;/h5&gt;
  &lt;h6&gt;&lt;a href=&quot;{{ link.pages-wine-article }}&quot;&gt;Who was Maynard Amerine?&lt;/a&gt;&lt;/h6&gt;
  &lt;h5&gt;Tell us your story&lt;/h5&gt;
  &lt;p&gt;Are you a wine expert? Do you have family history with this label? &lt;a href=&quot;#&quot;&gt;Send us your story&lt;/a&gt;!&lt;/p&gt;
&lt;/div&gt;
