<div class="small-4 columns">
  {{> molecules-social-share }}
  <h5>Status: Needs transcribing</h5>
  <p><a href="{{ url }}" class="button">Mark this Label</a></p>
  <h5>Get the story behind this label:</h5>
  <h6><a href="{{ link.pages-wine-article }}">Who was Maynard Amerine?</a></h6>
  <h5>Tell us your story</h5>
  <p>Are you a wine expert? Do you have family history with this label? <a href="#">Send us your story</a>!</p>
</div>
