&lt;nav id=&quot;wine-nav-home&quot; class=&quot;wine-nav&quot;&gt;
	&lt;ul class=&quot;nav-list nav-list--main&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.templates-wine-homepage }}&quot;&gt;Browse&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.templates-mark-wine-label }}&quot;&gt;Mark&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.templates-transcribe-wine-label }}&quot;&gt;Transcribe&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.templates-wine-homepage }}&quot;&gt;Search&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
	&lt;ul class=&quot;nav-list nav-list--secondary&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.templates-wine-about }}&quot;&gt;About the Project&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.templates-wine-blog-main-page }}&quot;&gt;Blog&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
