&lt;nav id=&quot;wine-nav&quot; class=&quot;nav wine-nav&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;About the Collection&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;The Aggie Oenophile Blog&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
