<a href="{{ link.templates-blog-article }}" class="b-inner">
  <div class="row align-spaced">
    <div class="small-2">
      {{> atoms-square }}
    </div>
    <div class="small-8">
      <h2>{{ headline.short }}</h2>
      <p>{{ excerpt.medium }}</p>
    </div>
  </div>
</a>
