<div class="featured-headline">
  <a href="{{ url }}">
    <div class="featured-headline__thumb">
      {{> atoms-landscape-16x9 }}
    </div>
    <h2 class="featured-headline__title">{{ headline.short }}</h2>
    <h3 class="featured-headline__sub-title">{{ headline.medium }}</h3>
  </a>
</div>