{{&gt; molecules-primary-nav }}
	&lt;section class=&quot;row align-center&quot;&gt;
		{{# latest-posts}}
		{{&gt; molecules-post-river-item }}
		{{/ latest-posts}}
	&lt;/section&gt;
	{{&gt; molecules-pagination }}
{{&gt; organisms-footer }}
