<!-- Use molecules-teaser-article for lists -->
<section class="latest-news pane-title--weighted-underline">
  <h2 class="pane-title"><span class="pane-title--weighted">Latest</span> News</h2>
  {{# latest-news }}
    {{> molecules-teaser-article }}
  {{/ latest-news }}

  {{# news-featured }}
    {{> molecules-featured-article }}
  {{/ news-featured }}

  {{# latest-news-2 }}
    {{> molecules-teaser-article }}
  {{/ latest-news-2 }}

  {{# featured-video }}
    {{> molecules-featured-video }}
  {{/ featured-video }}

  {{# latest-news-3 }}
    {{> molecules-teaser-article }}
  {{/ latest-news-3 }}

  {{> molecules-pagination }}
</section>
