<!-- Use molecules-media-list-article for lists -->
<section class="pane-title--weighted-underline">
  <h2 class="pane-title"><span class="pane-title--weighted">Related</span> Stories</h2>
  {{# stories-related }}
    {{> molecules-media-list-article }}
  {{/ stories-related }}
</section>