	<!--Grid 3up-->
	<div class="row">
		<div class="columns step-by-step">
			<h6>Step 1: Mark</h6>
			<img class="step-image" src="../../images/image-step-1.png"/>
			<small>Mark the areas on each label that will need transcribing or describing.</small>
		</div>
		<div class="columns step-by-step">
			<h6>Step 2: Transcribe</h6>
			<img class="step-image" src="../../images/image-step-2.png"/>
			<small>Mark the areas on each label that will need transcribing or describing.</small>
		</div>
		<div class="columns step-by-step">
			<h6>Step 3: Describe</h6>
			<img class="step-image" src="../../images/image-step-3.png"/>
			<small>Mark the areas on each label that will need transcribing or describing.</small>
		</div>
	</div>
	<!--End grid 2up-->
