<!-- Use molecules-simple-list-article for lists -->
<section class="pane-title--weighted-underline">
  <h2 class="pane-title"><span class="pane-title--weighted">Top</span> Stories</h2>
  {{# stories-top }}
    {{> molecules-simple-list-article }}
  {{/ stories-top }}
</section>