<!-- Use molecules-simple-list-article for lists -->
<section class="pane-title--weighted-underline">
  <h2 class="pane-title"><span class="pane-title--weighted">UC Davis</span> In the News</h2>
  {{# in-the-news }}
    {{> molecules-simple-list-article }}
  {{/ in-the-news }}
</section>
