<div class="row small-up-2 medium-up-4 large-up-5">
  {{> molecules-verify-gallery-thumbnail }}
  {{> molecules-verify-gallery-thumbnail }}
  {{> molecules-verify-gallery-thumbnail }}
  {{> molecules-verify-gallery-thumbnail }}
</div>
