<!-- Use molecules-simple-list-event for lists -->
<section class="pane-title--icon pane-title--bullhorn">
  <h2 class="pane-title"><span class="pane-title--weighted">Events</span></h2>
  {{# listItems-events }}
    {{> molecules-simple-list-event }}
  {{/ listItems-events}}
  <a href="{{ url }}" class="view-all">see all >></a>
</section>
