<!-- Use molecules-media-list-event for lists -->
<section class="pane-title--weighted-underline">
  <h2 class="pane-title"><span class="pane-title--weighted">Campus</span> Events</h2>
  {{# campus-events }}
    {{> molecules-media-list-event }}
  {{/ campus-events }}
</section>
