<!-- Use molecules-simple-list-article for lists -->
<section class="pane-title--weighted-underline">
  <h2 class="pane-title"><span class="pane-title--weighted">Campus</span> Blogs</h2>
  {{# campus-blogs }}
    {{> molecules-simple-list-article }}
  {{/ campus-blogs }}
</section>
