<!-- Use molecules-simple-list-event for lists -->
<section class="pane-title--icon pane-title--bullhorn">
  <h2 class="pane-title"><span class="pane-title--weighted">Student</span> Events</h2>
  {{# listItems.three }}
    {{> molecules-simple-list-event }}
  {{/ listItems.three}}
  <a href="{{ url }}" class="view-all">see all >></a>
</section>
