<section class="list--bordered pane-title--icon pane-title--feed">
  <h2 class="pane-title"><span class="pane-title--weighted">Aggie</span> Voices Student Blog</h2>
  {{# listItems-blog }}
    {{> molecules-simple-list-article }}
  {{/ listItems-blog}}
</section>