<!-- Use molecules-media-list-article for lists -->
<section class="pane-title--icon pane-title--line-chart">
  <h2 class="pane-title"><span class="pane-title--weighted">Trending</span></h2>
  {{# listItems-news }}
    {{> molecules-media-list-article }}
  {{/ listItems-news }}
</section>
