<section class="list--bordered pane-title--icon pane-title--mustang">
  <h2 class="pane-title"><span class="pane-title--weighted">UC Davis</span> Athletics</h2>
  {{# listItems-athletics }}
    {{> molecules-simple-list-event }}
  {{/ listItems-athletics }}
</section>