<!-- Use molecules-media-list-article for lists -->
<section class="pane-title--icon pane-title--flask">
  <h2 class="pane-title"><span class="pane-title--weighted">Research</span> News</h2>
  {{# research-news }}
    {{> molecules-media-list-article:category-brand--sunny-grass }}
  {{/ research-news }}
</section>
