<section class="pane-title--icon pane-title--twitter">
  <h2 class="pane-title"><span class="pane-title--weighted">Follow the chancellor on twitter</span></h2>
    <div class="twitter-container">
      <a class="twitter-timeline"  href="https://twitter.com/ucdavis" data-widget-id="618832200495054848">Tweets by @ucdavis</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      
    </div>
</section>
