<!-- Use molecules-media-list-article for lists -->
<section class="pane-title--weighted-underline">
  <h2 class="pane-title"><span class="pane-title--weighted">Associated</span> Articles</h2>
  {{# articles-associated }}
    {{> molecules-teaser-article }}
  {{/ articles-associated }}
</section>