<section class="pane-title--icon pane-title--instagram">
  <h2 class="pane-title"><span class="pane-title--weighted">Follow UC Davis on Instagram</span></h2>
    <div class="instagram-container">
      <div class="instagram-container__brand-image"><a href="https://instagram.com/anthorn305/" target="_blank"><img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/11909359_866115046799578_927920303_a.jpg" alt=""></a></div>
      <div class="instagram-container__user-name"><a href="https://instagram.com/anthorn305/" target="_blank">anthorn305</a></div>
      <div class="instagram-container__date-published"><em class="placeholder">1 month 3 weeks</em> ago</div>
      <div class="instagram-container__featured-image"><a href="https://instagram.com/p/6q02WSTGGT/" target="_blank"><img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11950745_1600222680240961_568164778_n.jpg" alt=""></a></div>
      <div class="instagram-container__description">Narcissism</div>
      <div class="instagram-container__likes-container">
        <div class="instagram-container__likes">Likes: 8</div>
        <div class="instagram-container__insta-button"><a href="http://instagram.com/anthorn305?ref=badge" class="ig-b- ig-b-v-24" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram"></a></div>
      </div>
    </div>
</section>
