<section class="list--bordered pane-title--icon pane-title--initiatives">
  <h2 class="pane-title"><span class="pane-title--weighted">Campus Initiatives</span></h2>
  {{# listItems-initiatives }}
    {{> molecules-simple-list-event }}
  {{/ listItems-initiatives }}
</section>
