<!-- homepage alert take over -->
<section class="campus-alert-home">
  <h2 class="campus-alert-home__title">Campus Alert:</h2>
  <p class="campus-alert-home__description">Large wildfire approaching the south edge of the UC Davis main campus, evacuate immediately</p>
  <a href="#" class="btn">Evacuation Routes</a>
</section>
