&lt;form action=&quot;/&quot; method=&quot;GET&quot;&gt;
  &lt;div class=&quot;row small-12 medium-10 align-justify&quot;&gt;
    &lt;div class=&quot;column small-12 medium-5 quick-search&quot;&gt;
      &lt;h1 for=&quot;id_identifier&quot;&gt;Quick find &lt;br/&gt;by label number: &lt;/h1&gt;&lt;input id=&quot;id_identifier&quot; name=&quot;identifier&quot; type=&quot;text&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;column small-12 medium-7 refine-search&quot;&gt;
      &lt;h2&gt;Refine your search&lt;/h2&gt;
      &lt;p&gt;Use these controls to find what you're looking for. As the corpus gets bigger, this functionality will improve.&lt;/p&gt;
      &lt;label for=&quot;id_sort_by&quot;&gt;Sort results by:
        &lt;select id=&quot;id_sort_by&quot; name=&quot;sort_by&quot; required=&quot;&quot;&gt;
          &lt;option value=&quot;source_modified&quot;&gt;Date&lt;/option&gt;
          &lt;option value=&quot;identifier&quot; selected=&quot;selected&quot;&gt;Label ID&lt;/option&gt;
          &lt;option value=&quot;num_marks&quot;&gt;# of marks&lt;/option&gt;
          &lt;option value=&quot;num_transcriptions&quot;&gt;# of transc&lt;/option&gt;
        &lt;/select&gt;
      &lt;/label&gt;
      &lt;label&gt;Show me
        &lt;select id=&quot;id_limit&quot; name=&quot;limit&quot; required=&quot;&quot;&gt;
          &lt;option value=&quot;10&quot;&gt;10&lt;/option&gt;
          &lt;option value=&quot;50&quot;&gt;50&lt;/option&gt;
          &lt;option value=&quot;100&quot; selected=&quot;selected&quot;&gt;100&lt;/option&gt;
        &lt;/select&gt;
        &lt;span for=&quot;id_limit&quot;&gt;results per page&lt;/span&gt;
        in &lt;select id=&quot;id_order&quot; name=&quot;order&quot; required=&quot;&quot;&gt;
          &lt;option value=&quot;-&quot;&gt;Descending&lt;/option&gt;
          &lt;option value=&quot;+&quot; selected=&quot;selected&quot;&gt;Ascending&lt;/option&gt;
        &lt;/select&gt;
        &lt;span for=&quot;id_order&quot;&gt;order&lt;/span&gt;.
      &lt;/label&gt;
      &lt;input checked=&quot;checked&quot; id=&quot;id_modified_only&quot; name=&quot;modified_only&quot; type=&quot;checkbox&quot;&gt;&lt;label for=&quot;id_modified_only&quot;&gt;&amp;nbsp;&amp;nbsp;Only show labels with marks and transcriptions.&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;submit-button small-12&quot;&gt;
      &lt;input class=&quot;button large&quot; type=&quot;submit&quot; value=&quot;Search&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
