<div class="social-media-container">
	<ul class="social-share-list">
		<li><a href="{{ url }}"><i class="fa fa-facebook-square">Like</i></a></li>
		<li><a href="{{ url }}"><i class="fa fa-twitter-square">Tweet</i></a></li>
		<li><a href="{{ url }}"><i class="fa fa-pinterest-square">Pin</i></a></li>
	</ul>
</div>
