<section class="row align-center align-middle callout ">
  <div class="shrink columns">
    {{> atoms-toggle }}
  </div>
  <div class="shrink columns">
    {{> molecules-image-zoom-controls }}
  </div>
  <div class="medium-5 columns">
    <small>Draw a box around an area of interest on this label. Then tell us whether what you’ve marked is an image or text. Mark as many elements as you want.<a href="{{ link.pages-mark-help }}">Need help?</a></small>
  </div>
  <div class="columns-2">
    <a class="button" href="{{ link.template-mark-flow-start }}">Next Label</a>
  </div>
</section>
