<section class="row align-spaced align-middle">
  <div class="medium-1">
    {{> atoms-toggle }}
  </div>
  <div class="medium-1">
    {{> molecules-image-zoom-controls }}
  </div>
  <div class="medium-5">
    <small>Draw a box around an area of interest on this label. Then tell us whether what you’ve marked is an image or text. Mark as many elements as you want.<a href="FIXME">Need help?</a></small>
  </div>
  <div class="medium-2">
    <a class="button" href="#">Next Label</a>
  </div>
</section>
