<div class="row">
  <div class="small-4 columns">
    {{> atoms-toggle }}
    {{> molecules-image-zoom-controls }}
  </div>
  <div class="column">
    <p>Draw a box around an area of interest on this label. Then tell us whether what you’ve marked is an image or text. Mark as many elements as you want. <a href="FIXME">Need help?</a></p>
    <a class="button" href="#">Next Label</a>
  </div>
</div>
