<div class="social-follow">
  <h3 class="pane-title">Follow UC Davis</h3>
  <ul class="pack">
    <li class="pack__item">
      <a class="social-follow__icon social-follow--facebook" title="Follow UC Davis on Facebook" href="{{ url }}">Follow UC Davis on Facebook</a>
      <div class="social-follow__title"><a title="Follow UC Davis on Facebook" href="{{ url }}">Facebook</a></div>
    </li>
    <li class="pack__item">
      <a class="social-follow__icon social-follow--twitter" title="Follow UC Davis on Twitter" href="{{ url }}">Follow UC Davis on Twitter</a>
      <div class="social-follow__title"><a title="Follow UC Davis on Twitter" href="{{ url }}">Twitter</a></div>
    </li>
    <li class="pack__item">
      <a class="social-follow__icon social-follow--instagram" title="Follow UC Davis on Instagram" href="{{ url }}">Follow UC Davis on Instagram</a>
      <div class="social-follow__title"><a title="Follow UC Davis on Instagram" href="{{ url }}">Instagram</a></div>
    </li>
    <li class="pack__item">
      <a class="social-follow__icon social-follow--youtube" title="YouTube" href="{{ url }}">Follow UC Davis on YouTube</a>
      <div class="social-follow__title"><a title="Follow UC Davis on YouTube" href="{{ url }}">YouTube</a></div>
    </li>
    <li class="pack__item">
      <a class="social-follow__icon social-follow--googleplus" title="Follow UC Davis on Google Plus" href="{{ url }}">Follow UC Davis on Google Plus</a>
      <div class="social-follow__title"><a title="Follow UC Davis on Google Plus" href="{{ url }}">Google Plus</a></div>
    </li>
  </ul>
</div>