<section class="row align-center">
  <div class="medium-5 column">
    <small>Please tell us what the highlighted text says. <a href="FIXME">Need help?</a></small>
  </div>
  <div class="shrink column">
    <a class="button" href="#">Next Label</a>
  </div>
</section>
