<section class="row align-spaced align-middle">
  <div>
    <small>Please tell us what the highlighted text says. <a href="FIXME">Need help?</a></p>
  </div>
  <div>
    <a class="button" href="#">Next Label</a>
  </div>
</section>
