<div class="social-follow-small">
  <h3 class="pane-title">Follow UC Davis</h3>
  <ul>
    <li><a class="social-follow-small__facebook" title="Facebook" href="{{ url }}">Follow on Facebook</a></li>
    <li><a class="social-follow-small__twitter" title="Twitter" href="{{ url }}">Follow on Twitter</a></li>
    <li><a class="social-follow-small__instagram" title="Instagram" href="{{ url }}">Follow on Instagram</a></li>
    <li><a class="social-follow-small__youtube" title="YouTube" href="{{ url }}">Follow on YouTube</a></li>
    <li><a class="social-follow-small__googleplus" title="Google Plus" href="{{ url }}">Follow on Google Plus</a></li>
  </ul>
</div>