<div class="row tools">
	<img class="zoom-button" src="../../images/zoom-button.svg">
	<div class="switch">
		{{> atoms-toggle }}
	</div>
</div>


<div class="pan-zoom-area pan-zoom pane active" data-reactid=".0.1.1.1.0.0.0.0.1">
	<div class="subject-zoom-pan" data-reactid=".0.1.1.1.0.0.0.0.1.0">
		<button class="zoom out disabled" title="zoom out" data-reactid=".0.1.1.1.0.0.0.0.1.0.0"></button>
		<button class="zoom in undefined" title="zoom in" data-reactid=".0.1.1.1.0.0.0.0.1.0.1"></button>
		<button class="pan up disabled" title="pan up" data-reactid=".0.1.1.1.0.0.0.0.1.0.2"></button>
		<button class="pan right undefined" title="pan right" data-reactid=".0.1.1.1.0.0.0.0.1.0.3"></button>
		<button class="pan left disabled" title="pan left" data-reactid=".0.1.1.1.0.0.0.0.1.0.4"></button>
		<button class="pan down undefined" title="pan down" data-reactid=".0.1.1.1.0.0.0.0.1.0.5"></button>
		<button class="reset" data-reactid=".0.1.1.1.0.0.0.0.1.0.6">reset</button>
	</div>
</div>
