<section class="row align-center toolbar admin">
  <a class="secondary button" href="{{ link.templates-single-label }}">Admin Dashboard</a>
  <a class="secondary button" href="{{ link.templates-single-label }}">Catalogue</a>
  <a class="secondary button" href="{{ link.templates-single-label }}">Log Out {username}</a>
</section>
