<section class="row align-center toolbar admin">
  <a class="secondary button" href="{{ link.templates-admin-homepage }}">Admin Dashboard</a>
  <a class="secondary button" href="{{ link.templates-browse }}">Catalogue</a>
  <a class="secondary button" href="{{ link.templates-homepage }}">Log Out {username}</a>
</section>
