<section class="row align-justify toolbar">
  <div class="">
    {{> molecules-image-zoom-controls }}
    {{> atoms-toggle }}
  </div>
  </div>
  <div class="columns align-center label-title">
    <div class="mark-instructions small-12">
      <h1>Instructions:</h1>
      <p><small>Draw a box around an area of interest on this label. Then tell us whether what you’ve marked is an image or text.
        <br/><em>Need help? <a href="{{ link.pages-mark-help }}">Watch a tutorial.</em></small></p>
    </div>
  </div>
  <a class="secondary button next-label" href="{{ link.templates-single-label }}">Next Label<img class="right-pointer" src="../../images/right-pointer-red.svg"/></a>
</section>
