<section class="row align-justify toolbar">
  <div class="">
    {{> molecules-image-zoom-controls }}
  </div>
  <div class="columns align-self-middle label-title">INSTRUCTIONS:</div>
  <a class="secondary button next-label" href="{{ link.templates-single-label }}">Next Label<img class="right-pointer" src="../../images/right-pointer-red.svg"/></a>
</section>
