<section class="row align-justify toolbar">
  <div class="">
  </div>
  <div class="columns align-center label-title">
    <div class="transcribe-instructions small-12">
      <h1>Instructions:</h1>
      <p><small>Tell us what the highlighted text says, or describe the highlighted image.
        <br/><em>Need help? <a href="{{ link.pages-transcribe-help }}">Watch a tutorial.</em></small></p>
    </div>
  </div>
  <a class="secondary button next-label" href="{{ link.templates-single-label }}">Next Label<img class="right-pointer" src="../../images/right-pointer-red.svg"/></a>
</section>
