<a href="{{ url }}" class="focal-link {{ styleModifier }}">
  <div class="focal-link__figure">
    {{> atoms-square }}
  </div>
  <div class="focal-link__body">
    <strong>{{ action-text }}</strong>
  </div>
</a>
