<a href="{{ url }}" class="vertical-link {{ styleModifier }} {{ icon-class }}">
  <div class="vertical-link__figure">
    {{# has-figure }}{{> atoms-square }}{{/ has-figure }}
  </div>
  <div class="vertical-link__body">
    <strong>{{ action-text }}</strong>
  </div>
</a>
