<a href="{{ url }}" class="marketing-highlight {{ brand-class }} {{ styleModifier }}">
  <div class="marketing-highlight__image">
    {{> atoms-landscape-4x3 }}
  </div>
  <div class="marketing-highlight__body">
    {{# highlight-label }}
      <h3 class="marketing-highlight__type category-brand__text--knock-out"><span>{{ highlight-label }}</span></h3>
    {{/ highlight-label }}
    <h3 class="marketing-highlight__title category-brand__text {{# hightlight-title-horizontal }}category-brand__text--knock-out{{/hightlight-title-horizontal}}">{{ headline.short }}</h3>
    {{# highlight-content }}
      <p>{{{ excerpt.short }}}</p>
    {{/ highlight-content }}
    {{# cta-text }}
      <span class="marketing-highlight__cta category-brand__arrow">{{ cta-text }}</span>
    {{/cta-text}}
  </div>
</a>