<div class="copyright">
  <p>University of California, Davis, One Shields Avenue, Davis, CA 95616 | 530-752-1011</p>
  <ul class="list--pipe">
    <li><a href="{{url}}">Help</a> | <a href="{{url}}">Questions or comments?</a></li>
    <li><a href="{{url}}">Privacy & Accessibility</a></li>
    <li><a href="http://occr.ucdavis.edu/poc/">Principles of Community</a></li>
    <li><a href="http://www.universityofcalifornia.edu/">University of California</a></li>
    <li><a href="{{url}}">Sitemap</a></li>
    <li>Last update: July 14, 2015</li>
  </ul>
  <p>Copyright © The Regents of the University of California, Davis campus. All rights reserved.</p>
</div>
