<button class="search-popup__open js-search-popup__open">Open</button>

<form action="{{ url }}" method="post" class="search-popup">
  <button class="search-popup__close"><span class="search-popup__close-icon">Close</span></button>
  <div class="search-popup__container">
    <input type="text" name="search" class="search-popup__input" placeholder="Search" required="required">
    <label for="search" class="search-popup__label">Search</label>
    <div class="search-popup__buttons">
      <input type="submit" value="Pages" class="search-popup__submit">
      <input type="submit" value="People" class="search-popup__submit">
      <input type="submit" value="Departments" class="search-popup__submit">
    </div>
  </div>
</form>
