<div class="quick-summary {{ styleModifier }}">
  <h2 class="quick-summary__title">{{ headline.short }}</h2>
  <ul class="quick-summary__list">
    {{# quick-summary }}
      <li>{{ excerpt.short }}</li>
    {{/ quick-summary }}
  </ul>
</div>