<div class="collapse {{ brand-class }}">
  <h2 class="collapse__title collapse__title--closed category-brand__background">
    {{ headline.short }}
  </h2>
  <div class="collapse__content is-hidden--visually">
    {{{ excerpt.long }}}
  </div>
</div>
