<div class="responsive-iframe responsive-iframe--16x9 {{ styleModifier }}">
	<iframe src="https://www.youtube.com/embed/{{ video-id }}" width="{{video-width}}" height="{{video-height}}" frameborder="0" allowfullscreen></iframe>
</div>