// Homepage Campus Alert takeover
.campus-alert-home {
  min-height: 350px;
  padding: $spacing-unit--large;
  background: $unitrans-red;
  background-image: url("../images/emergency-icon.svg");
  background-repeat: no-repeat;
  background-position: 90% 80%;
  color: $white;

  @include breakpoint ($bp-medium--up) {
    min-height: 550px;
    padding: $spacing-unit--huge * 1.3 $spacing-unit--huge;
  }

  &__title {
    @include font-size(40px);
    color: $white;
    font-weight: $font-weight--bold;

    @include breakpoint ($bp-medium--up) {
      @include font-size(70px);
    }
  }

  &__description {
    @include font-size(20px);

    @include breakpoint ($bp-medium--up) {
      @include font-size(30px);
    }
  }

  .btn {
    @include font-size(20px);
    background: $white;
    border: 0;
    color: $unitrans-red;

    @include breakpoint ($bp-medium--up) {
      @include font-size(25px);
      margin-top: $spacing-unit--small;
    }
  }
}
