// Featured Links
.focal-link {
  @extend %media;
  align-items: center;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: $ucd-gold-10;
    text-decoration: none;
  }

  &__figure {
    @extend %media__figure;
    max-width: 25%;
  }

  &__body {
    @extend %media__body;
    @include font-size(17px);
  }

  // Reverse the image to the right side
  &--rev {
    @extend %media--rev;
  }

  // Sprite icons for when not using an <img> tag. Add this to the &__figure div
  &__icon {
    // Create responsive sprite icons
    $focal-link-icons: (
      "alumni",
      "clubs-orgs",
      "contact",
      "deadlines",
      "get-published",
      "giving",
      "jobs",
      "mailing-list",
      "menu",
      "org-chart",
      "orientation",
      "read-principles",
      "save",
      "undergrad-research",
      "vtour"
    );

    // Make sure that the sprite is 63x63 pixels
    @include horizontal-sprite("../images/icons-focal-links.svg", $focal-link-icons, 63px, 63px);

    .no-svg & {
      background-image: url(../images/icons-focal-links.png);
    }
  }
}
