// Featured Links
.hero-banner {
  position: relative;
  overflow: hidden;
  min-height: 185px;
  background: url("../images/bg-hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &--clean {
    min-height: inherit;
    background: none;
  }

  // Add a video-placeholder class to maintain the size when video is not there
  &__video-placeholder {
    height: 0;
    padding-bottom: 38.4615%; // 1872 × 720 or 13:5
    width: 100%;
  }

  &__video {
    width: 100%;
    height: auto;

    @include breakpoint($bp-small--down) {
      display: none;
    }
  }

  &__image {
    @include breakpoint($bp-small--down) {
      margin-left: -50%;
      width: 200%;

      .hero-banner--clean & {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  &__video-popup {
    position: relative;
    height: 0;
    margin: 0;
    padding-bottom: 56.25%; // 16:9

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      margin-bottom: 0;
      width: 100%;
    }
  }

  &__body {
    @include clearfix();
    position: absolute;
    left: 8.3%;
    top: 27%;
    width: auto;
    color: $white;
    text-align: left;
    text-shadow: $black 0 0 2px;

    .lt-ie9  & {
      width: 250px;
    }

    @include breakpoint($bp-wide--up) {
      left: 8.3%;
    }

    @include breakpoint($bp-medium--down) {
      top: 4%;
      left: 0;
      width: 75%;
      margin: 0 12.5% -2em;
      padding: $spacing-unit 0;
      text-align: center;
      bottom: 0;
    }
  }

  &__title {
    @include font-size(20px);
    color: $white;

    @include breakpoint($bp-small--down) {
      .no-flexbox & {
        float: left;
        margin-top: $spacing-unit--large;
      }
    }

    @include breakpoint($bp-small--up) {
      @include font-size(20px);
    }

    @include breakpoint($bp-narrow--up) {
      @include font-size(40px);
    }

    @include breakpoint($bp-wide--up, true) {
      @include font-size(60px);
    }

    &--top {
      display: block;
      line-height: 1;
      font-weight: $font-weight--bold;
    }

    &--bottom {
      display: block;
      line-height: .8;
      font-weight: $font-weight--bold;
    }

    &--top {
      font-size: 1em;

      .lt-ie9  & {
        font-size: .75em;
      }
    }

    &--bottom {
      font-size: 2em;

      .lt-ie9  & {
        font-size: 1.5em;
      }
    }
  }

  &__buttons {
    @include clearfix();
    margin-top: $spacing-unit;
    padding-top: $spacing-unit;
    text-align: center;

    @include breakpoint($bp-narrow--down) {
      margin-top: $spacing-unit--small;
    }

    .btn--invert {
      @include font-size(20px);
      float: left;
      margin-right: $spacing-unit;
      margin-bottom: 0;
      width: auto;

      .lt-ie9  & {
        width: auto;
        margin-bottom: 14px;
        background-color: darken($ucd-blue-60, 20);
      }

      @include breakpoint($bp-medium--down) {
        @include font-size(14px);
        float: none;
        margin-right: $spacing-unit--small;
        margin-bottom: $spacing-unit;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__horizontal-line {
    display: block;
    min-height: 2px;
    width: 100%;
    margin: $spacing-unit 0 (-$spacing-unit--small);
    background: $white;
  }

  // ==========================================================================
  // Alignment Option
  // ==========================================================================

  // Center alignment fixes
  @mixin center-align-format($position: null) {
    .hero-banner__body {
      @include breakpoint($bp-medium--down) {
        margin: 0;
        padding: $spacing-unit 0;
        width: 100%;
        text-align: center;
      }
    }

    .hero-banner__title {
      margin: auto;
    }

    .hero-banner__buttons {
      margin: $spacing-unit auto;

      .btn--invert {
        float: none;
      }
    }

    .hero-banner__horizontal-line {
      display: block;
      min-height: 2px;
      width: 60%;
      margin: $spacing-unit 20% -.5em;
      background: $white;
    }
  }

  // Top Left
  &--top-left &__body {
    top: 8%;
  }

  // Middle Left
  &--middle-left &__body {
    top: 27%;
  }

  // Bottom Left
  &--bottom-left &__body {
    bottom: 10%;
    top: auto;
  }

  // Top Center
  &--top-center {
    @include center-align-format("top");

    .hero-banner__body {
      left: auto;
      top: 8%;
      width: 100%;
      text-align: center;

      @include breakpoint($bp-small--down) {
        top: 8%;
      }
    }
  }

  // Middle Center
  &--middle-center {
    @include center-align-format();

    .hero-banner__body {
      left: auto;
      top: 30%;
      width: 100%;
      text-align: center;

      @include breakpoint($bp-small--down) {
        top: 8%;
        width: 100%;
      }
    }

  }

  // Bottom Center
  &--bottom-center {
    @include center-align-format();

    .hero-banner__body {
      bottom: 10%;
      left: auto;
      top: auto;
      width: 100%;
      text-align: center;

      @include breakpoint($bp-small--down) {
        top: 8%;
        width: 100%;
      }
    }
  }

  // Top Right
  &--top-right &__body {
    right: 10%;
    top: 8%;
    left: auto;

    @include breakpoint($bp-small--down) {
      right: 0;
    }
  }

  // Middle Right
  &--middle-right &__body {
    right: 10%;
    top: 27%;
    left: auto;

    @include breakpoint($bp-small--down) {
      right: 0;
      top: 0;
    }
  }

  // Bottom Right
  &--bottom-right &__body {
    bottom: 10%;
    right: 10%;
    top: auto;
    left: auto;

    @include breakpoint($bp-small--down) {
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  // ==========================================================================
  // Horizontal Line Option
  // ==========================================================================
  &--no-horizontal-line &__horizontal-line {
    display: none;
  }

  // ==========================================================================
  // Branding Options
  // ==========================================================================
  &--brand-blue &__title--bottom {
    color: $ucd-blue;
    text-shadow: none;

    @include breakpoint($bp-small--down) {
      color: $white;
      text-shadow: $black 0 0 2px;
    }
  }

  &--brand-gold &__title--bottom {
    color: $ucd-gold;

    @include breakpoint($bp-small--down) {
      color: $white;
    }
  }

  // ==========================================================================
  // Top Text Size Options
  // ==========================================================================
  @for $i from 1 through 10 {
    &--t-size-#{$i} &__title--top {
      font-size: ($i * .1) + .8em;
    }
  }

  // ==========================================================================
  // Bottom Text Size Options
  // ==========================================================================
  @for $i from 1 through 10 {
    &--b-size-#{$i} &__title--bottom {
      font-size: ($i * .1) + .8em;
    }
  }

}
