.ucd-major-minor,
.ucd-major {
  @extend %ir;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: $spacing-unit--small;
}

.ucd-major-minor {
  background: url("../images/icons/minor.svg") center center no-repeat $sky-blue;
  border-radius: 9px;
}

.no-svg .ucd-major-minor {
  background-image: url("../images/icons/minor.png");
}
