// alert message
.alert {
  @include font-size(16px);
  margin: 0 0 $spacing-unit;
  padding: $spacing-unit * 1.5;
  border-radius: 8px;
  background-color: lighten($rec-pool-blue, 60%);
  color: $rec-pool-blue;
  font-style: italic;

  &--success {
    background-color: lighten($sunny-grass, 40%);
    color: $brand--success;
  }

  &--warning {
    background-color: lighten($brand--warning, 45%);
    color: $brand--warning;
  }

  &--error {
    background-color: lighten($brand--danger, 50%);
    color: $brand--danger;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .button {
    margin-bottom: $spacing-unit--small;
  }

  li .button {
    margin-left: -$spacing-unit;
  }
}
