// Mobile Nav Toggle
.nav-toggle {
  @include hide-text;
  float: left;
  height: $header-height--sm;
  margin-right: $spacing-unit * .75;
  width: $header-height--sm;
  background: $white;

  @include breakpoint($bp-small--up) {
    height: $header-height--md;
    margin-right: $spacing-unit;
    width: $header-height--md;
  }

  @include breakpoint($bp-medium--up, true) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $ucd-gold-10;
    outline: none;
  }

  &__icon--menu {
    @include vertical-center();
    @include burger(($header-height--sm / 2), 2px, 4px, $sky-blue);
    left: 25%;
    margin: 0;

    .nav-toggle--active & {
      @include burger-to-cross();
    }

    @include breakpoint($bp-small--up) {
      @include burger(($header-height--md / 2), 4px, 7px, $sky-blue);
      margin: 0;

      .nav-toggle--active & {
        @include burger-to-cross();
      }
    }
  }

}
