// navigation tabs
.tabs {
  @include reset-list();
  margin-bottom: $spacing-unit;

  li {
    display: inline-block;
  }

  a {
    @extend %btn--alt;
    margin-right: $spacing-unit--tiny;
    background-color: $ucd-blue-20;
    transition: background-color .2s ease-in-out;

    &.active {
      background-color: $ucd-blue-80;
      color: $white;

      &:hover {
        background-color: $ucd-blue;
      }
    }
  }

  &--primary a {
    padding: $spacing-unit * .9 $spacing-unit;
  }

  &--secondary a {
    @include font-size(13px);
  }
}
