// Quick Navigation
$quick-links-title-height: 40px;
$quick-links-list-offset: $spacing-unit * 7.5;

.quick-links {
  clear: both;
  background-color: $white;

  @include breakpoint($bp-medium--up, true) {
    position: absolute;
    right: 0;
    top: $quick-links-title-height;
    width: 20em;
    box-shadow: 0 1px 1px rgba($ucd-blue, .3);
  }

  .lt-ie9 & {
    border: 1px solid $ucd-blue;
  }

  &__title {
    display: block;
    position: relative;
    margin: 0;
    padding-left: 1em;
    line-height: $menu-height;
    background-color: $ucd-blue-80;
    color: $white;
    cursor: pointer;
    transition: padding .2s ease-in-out;

    @include breakpoint($bp-medium--up, true) {
      @include clearfix();
      @include font-size(16px, $quick-links-title-height);
      float: right;
      padding: 0 $spacing-unit 0 $spacing-unit--small;
      background-color: $white;
      color: $ucd-blue;
      font-weight: $font-weight--base;

      &:before {
        @include triangle($white, $quick-links-title-height, 10px, 45);
        @include force-anti-alias();
        position: absolute;
        left: -10px;
        top: 0;
        height: $quick-links-title-height;
        width: 10px;
        content: "";
      }
    }

    &:hover {
      padding-left: $spacing-unit * 1.1;
    }

    &:hover,
    &:focus {
      background-color: $menu-background-color-active;
      color: $ucd-blue;
      font-weight: $font-weight--bold;
      text-decoration: none;

      @include breakpoint($bp-medium--up, true) {
        background-color: $white;
        color: $ucd-blue;
        font-weight: $font-weight--base;
        outline: none;
      }
    }

    .submenu-toggle {
      display: inherit;

      @include breakpoint($bp-medium--up, true) {
        width: $spacing-unit--small;
        height: $quick-links-title-height;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit--small;
        padding-top: $spacing-unit * .8;
        background-color: transparent;

        &--open .submenu-toggle__icon {
          transform: rotate(90deg) scale(1.5);
          transform-origin: 50% 50%;
        }
      }

      &__icon {

        @include breakpoint($bp-medium--up, true) {
          position: inherit;
          top: 36%;
          width: 5px;
          height: 10px;
          background: url("../images/chevron.svg") no-repeat;
          transform: rotate(180deg) scale(1.5);
          transform-origin: 50% 50%;
          transition: all .2s ease-in;
        }

        &:before {

          @include breakpoint($bp-medium--up, true) {
            display: none;
          }
        }
      }
    }

    @include breakpoint($bp-medium--up, true) {
      &:hover .submenu-toggle {
        background-color: $white;
      }
    }

  }

  @include breakpoint($bp-medium--down) {
    a {
      display: block;
      border-bottom: 1px solid $gray;
      padding-left: 1em;
      background: $white;
      color: $ucd-blue;
      font-weight: $font-weight--bold;
      line-height: $menu-height;
      text-decoration: none;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: $menu-background-color-active;
      }

      .active {
        background: $menu-background-color-active;
      }
    }
  }

  @include breakpoint($bp-medium--up, true) {
    .menu {
      position: relative;
      column-count: 2;
      column-gap: 0;
      padding: $quick-links-list-offset 0 $spacing-unit;

      .lt-ie9 & {
        padding: 0;
      }
    }

    a {
      break-inside: avoid;
      display: block;
      padding: $spacing-unit--tiny * 2 $spacing-unit;
      font-weight: $font-weight--base;
      line-height: 1.35;

    }

    li:first-child,
    li:nth-child(2),
    li:nth-child(3) {
      position: absolute;
      border-bottom: 1px solid $white;
      width: 100%;
      margin-top: -$quick-links-list-offset;
      background-color: $ucd-blue-10;

      a {
        font-weight: $font-weight--bold;
        display: block;
        padding: $spacing-unit--small $spacing-unit $spacing-unit--small $spacing-unit * 2.3;
        background-image: url("../images/user_icon.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 10%;

        &:hover {
          background-color: $ucd-gold-40;
          text-decoration: none;
        }

      }
    }

    li:nth-child(2) {
      margin-top: -($spacing-unit * 5.05);

      a {
        background-image: url("../images/checkbox_icon.svg");
      }
    }

    li:nth-child(3) {
      margin-top: -($spacing-unit * 2.6);

      a {
        background-image: url("../images/gift_icon.svg");
      }
    }
  }
}
