// Footer Navigation

.footer-nav {
  color: $white;

  &__title {
    @include heading--invert();
  }

  a {
    display: block;
    padding: $spacing-unit--tiny * 2 $fixed-spacing-unit;
    color: $white;
    font-weight: $font-weight--base;
    text-transform: capitalize;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: $ucd-blue-90;
      text-decoration: none;
    }
  }

  &__logo {
    margin-bottom: $spacing-unit;

    a {
      padding-top: 0;

      &:hover {
        background-color: transparent;
      }

    }

    img {
      width: 70%;
    }
  }
}
