.profile-highlight {

  &__image {
    position: relative;

    img {
      width: 100%;
    }

    a {
      display: block;

      &:after {
        position: absolute;
        right: $spacing-unit--large * 1.25;
        bottom: $spacing-unit--large;
        background-image: url("../images/video-play.svg");
        background-size: cover;
        width: 85px;
        height: 85px;
        content: "";
        opacity: 0.5;
        transition: all 0.4s ease;

        @include breakpoint($bp-wide--down) {
          right: $spacing-unit * 1.25;
          bottom: $spacing-unit;
          width: 60px; 
          height: 60px;
        }
      }

      &:hover:after {
        right: $spacing-unit--large * 0.75;
        opacity: 1;

        @include breakpoint($bp-wide--down) {
          right: $spacing-unit * 0.75;
        }
      }

    }

  }

  &__body {
    padding: $spacing-unit--large $spacing-unit--large $spacing-unit--small;
    background-color: $white;
    cursor: pointer;
  }

  &__title {
    font-weight: $font-weight--base;
    font-style: normal;
    text-transform: uppercase;
    color: $ucd-blue;
  }

  &__tags {
    @extend %list--pipe;
    margin-bottom: $spacing-unit;

    li {
      @include font-size($font-size--small);
      border-width: 2px;
      font-weight: $font-weight--bold;
      color: $gray;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    opacity: 1;
  }

  &__frontside {
    transition: all 0.5s ease;
    position: relative;
    z-index: 10;
    padding-bottom: 60px;
    color: $gray;
    line-height: 1.8;

    // State for when this content is hidden
    .profile-highlight__body--showflip & {
      z-index: 0;
      opacity: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__flipside {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    padding-top: $spacing-unit * 1.5;
    color: $black;
    font-weight: $font-weight--bold;
    letter-spacing: .01em;
    opacity: 0;
    transition: all 0.5s ease;

    // State for when this content is shown
    .profile-highlight__body--showflip & {
      z-index: 10;
      padding-top: $spacing-unit--tiny;
      opacity: 1;
    }

    h4 {
      @include font-size(12px);
      margin: $spacing-unit--small $spacing-unit 0 0;
      color: $gray;
      text-transform: uppercase; 
      line-height: 130%;
      font-weight: normal;

      &:first-child {
        margin-top: $spacing-unit--tiny;
      }
    }

    a {
      text-decoration: underline;

      &:hover {
        color: $brand--primary;
        text-decoration: none;
      }
    }
  }

  &__cta {
    @include font-size($font-size--small);
    position: absolute;
    bottom: 23px;
    left: 0;
    display: inline-block;
    margin-left: 30px;
    width: 70%;
    color: $gray;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.4s ease;

    .profile-highlight__body:hover & {
      margin-left: 45px;
    }

    &:before {
      display: inline-block;
      width: 30px;
      height: 17px;
      margin-left: -30px;
      background: url("../images/brand-arrows.svg") no-repeat;
      vertical-align: middle;
      content: " ";
    }
  }

}
