// Search PopUp
$search-popup-font-size: 60px;
$search-popup-submit-size: $search-popup-font-size;
$search-popup-close-size: $search-popup-submit-size / 1.5;
$search-popup-nav-icon-size: $menu-height - ($menu-height / 4);

// Create a placeholder for the basic search popup icon
%search-popup__icon {
  @include hide-text();
  border: 3px solid $ucd-blue-20;
  padding: 0;
  background: url(../images/icon-search.svg) no-repeat center center;
  background-size: 47%;
  border-radius: 50%;
  transition: all .2s ease-in-out;

  .no-svg & {
    background-image: url(../images/icon-search.png);
  }

  .lt-ie9 & {
    border: 0;
    outline: none;
  }

  &:hover {
    border: 3px solid $ucd-gold;
  }
}

.search-popup {
  @include breakpoint($bp-medium--down) {
    padding: $spacing-unit;
    background-color: $ucd-blue-80;
  }

  @include breakpoint($bp-medium--up, true) {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $zindex-popover;
    height: 100%;
    background-color: rgba($white, 0.97);
    opacity: 0;
    text-align: center;
    transition: opacity $transition-time;
    visibility: hidden;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  .lt-ie9 & {
    background-color: $white;
  }

  // Toggle on the main navbar to open up the search popup.
  &__open {
    @extend %search-popup__icon;
    display: none;
    height: $search-popup-nav-icon-size;
    width: $search-popup-nav-icon-size;
    margin-top: $menu-height / 8;

    @include breakpoint($bp-medium--up, true) {
      display: block;
    }
  }

  &__container {
    @include breakpoint($bp-medium--up, true) {
      @include vertical-center();
    }
  }

  &__input {
    border: 0;
    background-color: $white;

    @include breakpoint($bp-medium--up, true) {
      position: relative;
      z-index: 2;

      padding: 0 $search-popup-submit-size;
      background-color: transparent;
    }

    &:focus {
      @include set-focus("form");

      @include breakpoint($bp-medium--up, true) {
        background-color: transparent;
      }
    }

    .lt-ie9 & {
      border: 1px solid $gray;
    }
  }

  // A single search submit button with a magnify glass icon
  &__submit--icon {
    @extend %search-popup__icon;
    @include font-size($search-popup-font-size, $search-popup-submit-size);
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 3;
    height: $search-popup-submit-size;
    width: $search-popup-submit-size;
    box-shadow: none;

    @include breakpoint($bp-narrow--down) {
      top: -12%;
      height: $search-popup-submit-size * .8;
      width: $search-popup-submit-size * .8;
    }

    @include breakpoint($bp-wide--up) {
      height: $search-popup-submit-size * 1.4;
      width: $search-popup-submit-size * 1.4;
    }
  }

  &__buttons {
    display: flex;
    overflow: hidden;
    transition: max-height $transition-time;

    @include breakpoint($bp-medium--down) {
      justify-content: space-between;
      max-height: 0;
      overflow: hidden;
    }

    @include breakpoint($bp-medium--up, true) {
      margin: $spacing-unit auto;
      width: 50%;
    }

    &.is-open {
      max-height: 100px; // This is just a large number bigger than needed
    }
  }

  &__submit {
    @extend %btn;
    @extend %btn--lg;
    @extend %btn--block;

    @include breakpoint($bp-medium--down) {
      @include font-size(14px);
      margin-right: $spacing-unit--tiny;
      margin-top: $spacing-unit--tiny;
      padding: 0 5px;
      background-color: $white;
      border-color: $white;

      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint($bp-medium--up, true) {
      margin: $spacing-unit--tiny;
      width: 33.3%;
    }
  }

  // Close button to cancel out of the search popup overlay
  &__close {
    @include hide-text();
    position: absolute;
    right: $spacing-unit--large;
    top: $spacing-unit--large;
    background: none;
    border: 0;
    height: $search-popup-close-size;
    padding: 0;
    width: $search-popup-close-size;
    cursor: pointer;

    // Hide in Mobile
    @include breakpoint($bp-medium--down) {
      display: none;
    }

    .lt-ie9 & {
      text-indent: 0;
      overflow: visible;
      height: auto;
    }
  }

  &__close-icon {
    display: block;
    height: 3px;
    width: $search-popup-close-size;
    background-color: $gray-light;
    transform: rotate(45deg);

    &:before {
      left: 0;
      position: absolute;
      z-index: $zindex-navbar;
      height: 100%;
      width: 100%;
      background-color: $gray-light;
      content: "";
      transform: rotate(90deg);
    }
  }

  .no-flexbox & .search-popup__submit {
    float: left;
    width: 31.3%;
  }
}

.search-popup__input,
.search-popup__label,
%search-popup__label {
  @include breakpoint($bp-medium--up, true) {
    @include font-size($search-popup-font-size);
    height: auto;
    padding: 0;
    width: 100%;
    box-shadow: none;
    letter-spacing: 0.02em;
    text-align: center;
  }

  @include breakpoint($bp-wide--up) {
    @include font-size(80px);
  }
}

.search-popup__label,
%search-popup__label {
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.5;

  //
  .search-popup--show-label & {
    visibility: visible;
  }

  // Hide in Mobile
  @include breakpoint($bp-medium--down) {
    display: none;
  }

  .search-popup__input:hover + & {
    cursor: text;
    opacity: 1;
  }

  .search-popup__input:focus + & {
    opacity: 0.2;
  }

  .search-popup__input:valid + & {
    opacity: 0;
  }

  .lt-ie9 & {
    top: -1.5em;
  }
}
