$social-follow-small-icon-width: 43px;

.social-follow-small {
  background: transparent;

  @include breakpoint($bp-wide--up) {
    padding-top: $spacing-unit--small;
  }

  .pane-title {
    margin-bottom: $spacing-unit * .75;
    color: $ucd-blue-60;
    font-style: italic;
    font-weight: $font-weight--bold;
  }

  ul {
    @include reset-list;
  }

  li {
    float: left;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit * .75;

    &:last-child {
      margin-right: 0;
    }

    @include breakpoint(max-width 303px) {
      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint($bp-medium--up, true) {
      margin-right: $spacing-unit * 1.4;
    }
  }

  a {
    @include hide-text();
    display: inline-block;
    height: $social-follow-small-icon-width;
    width: $social-follow-small-icon-width;
    background-image: url("../images/social-follow-small.svg");
    background-repeat: no-repeat;
    transition: opacity .35s ease-in-out;
    opacity: 1;

    &:hover {
      opacity: .6;
    }

    .no-svg & {
      background-image: url("../images/social-follow-small.png");
    }
  }

  // Positioning for each icon's sprite
  &__facebook {
    background-position: 0 0;
  }

  &__twitter {
    background-position: -$social-follow-small-icon-width 0;
  }

  &__instagram {
    background-position: -$social-follow-small-icon-width * 2 0;
  }

  &__youtube {
    background-position: -$social-follow-small-icon-width * 3 0;
  }

  &__googleplus {
    background-position: -$social-follow-small-icon-width * 4 0;
  }
}
