// Social Follow Icons

$social-follow-size: 150px;
$social-follow-size--small: $social-follow-size / 1.5;
$social-follow-size--tiny: $social-follow-size / 3;

.social-follow {

  .pane-title {
    color: $ucd-blue-50;
    font-weight: $font-weight--bold;
  }

  ul {
    @include reset-list;
    @include clearfix();
    text-align: center;
  }

  &__title {
    display: none;

    @include breakpoint($bp-small--up, true) {
      display: block;
    }
  }

  &__icon {
    @include hide-text();
    display: inline-block;
    height: $social-follow-size--tiny;
    width: $social-follow-size--tiny;
    background-image: url("../images/icons-social-follow.svg");
    background-repeat: no-repeat;
    transition: opacity .35s ease-in-out;
    background-size: cover;
    opacity: 1;

    @include breakpoint($bp-small--up) {
      height: $social-follow-size--small;
      width: $social-follow-size--small;
    }

    @include breakpoint($bp-huge, true) {
      height: $social-follow-size;
      width: $social-follow-size;
    }

    .no-svg & {
      background-image: url("../images/icons-social-follow.png");
    }

    &:hover {
      opacity: .6;
    }
  }

  // Positioning for each icon's sprite
  &--facebook {
    background-position: 0 0;
  }

  &--twitter {
    background-position: -$social-follow-size--tiny 0;

    @include breakpoint($bp-small--up) {
      background-position: -$social-follow-size--small 0;
    }

    @include breakpoint($bp-huge, true) {
      background-position: -$social-follow-size 0;
    }
  }

  &--instagram {
    background-position: -$social-follow-size--tiny * 2 0;

    @include breakpoint($bp-small--up) {
      background-position: -$social-follow-size--small * 2 0;
    }

    @include breakpoint($bp-huge, true) {
      background-position: -$social-follow-size * 2 0;
    }
  }

  &--youtube {
    background-position: -$social-follow-size--tiny * 3 0;

    @include breakpoint($bp-small--up) {
      background-position: -$social-follow-size--small * 3 0;
    }

    @include breakpoint($bp-huge, true) {
      background-position: -$social-follow-size * 3 0;
    }
  }

  &--googleplus {
    background-position: -$social-follow-size--tiny * 4 0;

    @include breakpoint($bp-small--up) {
      background-position: -$social-follow-size--small * 4 0;
    }

    @include breakpoint($bp-huge, true) {
      background-position: -$social-follow-size * 4 0;
    }
  }
}
