// Achievement Badges
.tags {
  width: inherit;

  &__title {
    @include heading--auxiliary();
  }

  &__tag {
    display: block;
    float: left;
    margin-bottom: $spacing-unit--small / 1.5;
    margin-right: $spacing-unit--small / 1.5;
    padding: $spacing-unit--small $spacing-unit;
    width: auto;
    background: $ucd-gold-30;
    color: $ucd-blue;
    transition: all .2s ease-in-out;

    &:hover {
      background: $ucd-gold-20;
      text-decoration: none;
    }
  }
}
