// Teaser (view mode)
.vm-teaser {
  @include box-wrapper-negative-overflow();
  padding: $spacing-unit--small;
  transition: background .2s ease-in-out;
  border-bottom: 1px dotted #ccc;

  @include breakpoint($bp-small--up) {
    padding: $spacing-unit * 1.5;
  }
  @include breakpoint($bp-narrow--up) {
    border-bottom: 0;
  }

  &:hover {
    background: $ucd-gold-10;
    text-decoration: none;
  }

  &__figure {
    margin-right: $spacing-unit--small;
    max-width: calc(25% + 5px);
    overflow: hidden;

    @include breakpoint($bp-small--up) {
      margin-right: $spacing-unit;
    }
  }

  &__title {
    @include font-size($font-size--base, 1.1);
    font-weight: $font-weight--bold;

    @include breakpoint($bp-narrow--up) {
      @include font-size($font-size--large, $line-height-base);
    }
  }

  &__byline {

    span {
      @include font-size($font-size--small - 2, 1);

      @include breakpoint($bp-narrow--up) {
        @include font-size($font-size--base, 1.1);
      }
      border-right: 1px solid $gray-light;
      padding-right: $spacing-unit--small;
      margin-right: $spacing-unit--tiny;
      color: $gray;

      &:last-child {
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }

  &__categories {
    @extend %list--pipe;

    li {
      @include breakpoint($bp-narrow--down) {
        @include font-size($font-size--small - 2, 1.2);
        display: block;
        border-right: 0;
      }
    }
  }
}
