.media-link {
  text-decoration: none;

  &__wrapper {
    @extend %media;
    padding: $spacing-unit--small;
    transition: background-color .2s ease-in-out;

    @include breakpoint($bp-small--up) {
      margin: 0;
      padding: $spacing-unit * 1.5;
    }

    &:hover {
      background-color: $ucd-gold-10;
    }
  }

  &__figure {
    @extend %media__figure;
    max-width: 25%;
  }

  &__body {
    @extend %media__body;
  }

  &__title {
    @include heading--auxiliary();
  }

  // remove underlines even when wrapped with .body-text
  .body-text & {
    text-decoration: none;
  }
}
