// Person Feature Box
.person-feature {
  padding: $spacing-unit * 2;
  background: $ucd-blue-80;

  &__image {
    float: left;
    width: 25%;
    margin: 0 $spacing-unit $spacing-unit 0;
  }

  &__name {
    @include font-size($font-size--large);
    margin: 0;
    padding-top: 0;
    color: $white;
    font-weight: $font-weight--bold;
  }

  &__title {
    @include font-size($font-size--base + 2, .9);
    margin-top: $spacing-unit--small;
    color: $ucd-gold;
    font-weight: $font-weight--base;
    overflow: hidden; // forces everything to stay to right of image

    &:after {
      content: "";
      margin: $spacing-unit 0;
      height: 5px;
      width: 20px;
      display: block;
      background: $ucd-blue-60;

      @include breakpoint($bp-xsmall--down) {
        margin: $spacing-unit 0;
      }
    }
  }

  &__body {
    color: $white;
  }

  &__link a {
    @include font-size(16px);
    display: block;
    margin: $spacing-unit 0;
    padding-left: $spacing-unit;
    background: url("../images/chevron.svg") no-repeat 0 $spacing-unit--small;
    color: $white;
    font-weight: $font-weight--bold; 

    .no-svg & {
      background-image: url("../images/chevron.png");
    }

    &:hover {
      color: $ucd-gold;
    }
  }
}
