&lt;fieldset class=&quot;large-6 columns&quot;&gt;
  &lt;legend&gt;Choose Your Favorite&lt;/legend&gt;
  &lt;input type=&quot;radio&quot; name=&quot;pokemon&quot; value=&quot;Red&quot; id=&quot;pokemonRed&quot; required&gt;&lt;label for=&quot;pokemonRed&quot;&gt;Red&lt;/label&gt;
  &lt;input type=&quot;radio&quot; name=&quot;pokemon&quot; value=&quot;Blue&quot; id=&quot;pokemonBlue&quot;&gt;&lt;label for=&quot;pokemonBlue&quot;&gt;Blue&lt;/label&gt;
  &lt;input type=&quot;radio&quot; name=&quot;pokemon&quot; value=&quot;Yellow&quot; id=&quot;pokemonYellow&quot;&gt;&lt;label for=&quot;pokemonYellow&quot;&gt;Yellow&lt;/label&gt;
&lt;/fieldset&gt;
