&lt;div class=&quot;headline-stack&quot;&gt;
  &lt;div class=&quot;headline-stack__sub-feature&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-focus }}&lt;span&gt;{{ headline.long }}&lt;/span&gt;&lt;/a&gt;
  &lt;/div&gt;
  &lt;ul class=&quot;headline-stack__list&quot;&gt;
    {{# headline-stack }}
      &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/li&gt;
    {{/ headline-stack }}
  &lt;/ul&gt;
&lt;/div&gt;
