&lt;nav class=&quot;primary-nav&quot;&gt;
  &lt;ul class=&quot;menu&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;https://ucdavis.edu/about/&quot;&gt;About Us&lt;span class=&quot;submenu-toggle&quot;&gt;&lt;span class=&quot;submenu-toggle__icon&quot;&gt;+&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/about/&quot;&gt;Our Story&lt;span class=&quot;submenu-toggle&quot;&gt;&lt;span class=&quot;submenu-toggle__icon&quot;&gt;+&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/about/initiatives/&quot;&gt;Initiatives&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/about/facts/&quot;&gt;Facts &amp;amp; Rankings&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/about/location-parking/&quot;&gt;Locations &amp;amp; Maps&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/visit/&quot;&gt;Visit UC Davis&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/about/health/&quot;&gt;UC Davis Health&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/about/administration/&quot;&gt;Administration&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/admission/&quot;&gt;Admissions&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/admission/undergraduate/&quot;&gt;Undergraduate&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/admission/graduate-program/&quot;&gt;Graduate&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/admission/professional-program/&quot;&gt;Professional&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/admission/international-student/&quot;&gt;International&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/cost-tuition-fees/&quot;&gt;Tuition &amp;amp; Fees&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/financial-aid/&quot;&gt;Financial Aid&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/apply/&quot;&gt;Apply&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/academics/&quot;&gt;Academics&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/majors/&quot;&gt;Majors&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/colleges-schools/&quot;&gt;Colleges &amp;amp; Schools&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/graduate-programs/&quot;&gt;Graduate Programs&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/study-abroad/&quot;&gt;Study Abroad&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/continuing-education/&quot;&gt;Continuing Education&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/calendar/academic/&quot;&gt;Academic Calendar&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/research/&quot;&gt;Research&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/research/&quot;&gt;World Impact&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/research/student/&quot;&gt;Student Research&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/research/partnerships/&quot;&gt;Partnerships&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/library/&quot;&gt;Library&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/museums-collections/&quot;&gt;Museums &amp;amp; Collections&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/campus-life/&quot;&gt;Campus Life&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/campus-life/&quot;&gt;Student Life&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/features-hot-spots/&quot;&gt;Campus Features&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/housing/&quot;&gt;Housing&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/calendar/&quot;&gt;Events Calendar&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/athletics/&quot;&gt;Athletics&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/clubs-student-organizations/&quot;&gt;Clubs &amp;amp; Organizations&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/city-of-davis/&quot;&gt;City of Davis&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/news/&quot;&gt;News&lt;/a&gt;
      &lt;ul class=&quot;menu&quot;&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/news/&quot;&gt;Latest News&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/news/university-news/&quot;&gt;University News&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/news/environment/&quot;&gt;Environment&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/news/food-agriculture/&quot;&gt;Food &amp;amp; Agriculture&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/news/human-animal-health/&quot;&gt;Human &amp;amp; Animal Health&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/news/science-technology/&quot;&gt;Science &amp;amp; Technology&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;is-visible&quot;&gt;&lt;a href=&quot;https://ucdavis.edu/news/society-arts-culture/&quot;&gt;Society, Arts &amp;amp; Culture&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
