&lt;header&gt;
	&lt;nav class=&quot;top-bar&quot;&gt;
		&lt;div class=&quot;top-bar-left&quot;&gt;
			&lt;ul class=&quot;menu&quot;&gt;
				&lt;li&gt;
					&lt;a class=&quot;selected&quot; href=&quot;{{ link.templates-homepage }}&quot;&gt;Label This&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a class=&quot;&quot; href=&quot;{{ link.templates-browse }}&quot;&gt;Browse&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a class=&quot;&quot; href=&quot;{{ link.templates-mark-flow-start }}&quot;&gt;Mark&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a class=&quot;&quot; href=&quot;{{ link.templates-transcribe-flow-start }}&quot;&gt;Transcribe&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a class=&quot;&quot; href=&quot;{{ link.templates-homepage }}&quot;&gt;Search&lt;/a&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;div class=&quot;top-bar-right&quot;&gt;
			&lt;ul class=&quot;menu&quot;&gt;
				&lt;li&gt;
					&lt;a class=&quot;&quot; href=&quot;{{ link.templates-about }}&quot;&gt;About the Project&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a target=&quot;_blank&quot; href=&quot;{{ link.templates-blog-main-page }}&quot;&gt;Blog&lt;/a&gt;
				&lt;/li&gt;
				&lt;li&gt;
					&lt;a target=&quot;_blank&quot; href=&quot;{{ link.templates-login }}&quot;&gt;Log in&lt;/a&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
	&lt;/nav&gt;
&lt;/header&gt;
