&lt;div class=&quot;tabs&quot;&gt;
	&lt;ul class=&quot;tab-list&quot;&gt;
		{{# tabs }}
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;{{ class }}&quot;&gt;{{ name }}&lt;/a&gt;&lt;/li&gt;
		{{/ tabs }}
	&lt;/ul&gt;
&lt;/div&gt;