<ul class="sg-colors menu">
  <li>
    <span class="sg-swatch" style="background: #002855;"></span>
    <span class="sg-label">#002855</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #DAAA00;"></span>
    <span class="sg-label">#DAAA00</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">#FFFFFF</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #222222;"></span>
    <span class="sg-label">#222222</span>
  </li>
</ul>
<ul class="sg-colors menu">
  <li>
    <span class="sg-swatch" style="background: #1A3E68;"></span>
    <span class="sg-label">#1A3E68</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #335379;"></span>
    <span class="sg-label">#335379</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #4D688C;"></span>
    <span class="sg-label">#4D688C</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #667D9D;"></span>
    <span class="sg-label">#667D9D</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #7F93AE;"></span>
    <span class="sg-label">#7F93AE</span>
  </li>

  <li>
      <span class="sg-swatch" style="background: #99A9BF;"></span>
      <span class="sg-label">#99A9BF</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #B2BDCF;"></span>
      <span class="sg-label">#B2BDCF</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #CCD4E0;"></span>
      <span class="sg-label">#CCD4E0</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #E5E9EF;"></span>
      <span class="sg-label">#E5E9EF</span>
  </li>
</ul>
<ul class="sg-colors menu">
  <li>
      <span class="sg-swatch" style="background: #DEB31A"></span>
      <span class="sg-label">#DEB31A</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #E1BB33"></span>
      <span class="sg-label">#E1BB33</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #E5C44D"></span>
      <span class="sg-label">#E5C44D</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #E9CC66"></span>
      <span class="sg-label">#E9CC66</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #ECD47F"></span>
      <span class="sg-label">#ECD47F</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F0DD99"></span>
    <span class="sg-label">#F0DD99</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F4E5B2"></span>
    <span class="sg-label">#F4E5B2</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F8EECC"></span>
    <span class="sg-label">#F8EECC</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FBF6E5"></span>
    <span class="sg-label">#FBF6E5</span>
  </li>
</ul>

<h2>Category Brand Colors</h2>
<ul class="sg-colors menu">
  <li class="category-brand--unitrans-red">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#BA0C2F</span>
  </li>
  <li class="category-brand--western-redbud">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#C6007E</span>
  </li>
  <li class="category-brand--california-poppy">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#ED8B00</span>
  </li>
  <li class="category-brand--golden-lupine">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#FFCD00</span>
  </li>
  <li class="category-brand--sunny-grass">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#78BE20</span>
  </li>
  <li class="category-brand--sky-blue">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#00B5E2</span>
  </li>
  <li class="category-brand--rec-pool-blue">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#008EAA</span>
  </li>
  <li class="category-brand--wine-grape">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#642667</span>
  </li>
  <li class="category-brand--mu-brick">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#C26E60</span>
  </li>
  <li class="category-brand--hart-hall-stucco">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#E6A65D</span>
  </li>
  <li class="category-brand--sage-green">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#9CAF88</span>
  </li>
  <li class="category-brand--evergreen">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#00573F</span>
  </li>
  <li class="category-brand--winter-sky-gray">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#5B7F95</span>
  </li>
  <li class="category-brand--centennial-walk-gray">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#B1B3B3</span>
  </li>
  <li class="category-brand--cork-oak">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#ACA39A</span>
  </li>
  <li class="category-brand--south-hall-brown">
    <span class="sg-swatch category-brand__background"></span>
    <span class="sg-label">#4F2C1D</span>
  </li>
</ul>
