<h2>Label Dis Colors</h2>
<ul class="sg-colors menu">
  <li>
    <span class="sg-swatch" style="background: #4D0717;"></span>
    <span class="sg-label">#4D0717</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">#FFFFFF</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #642667;"></span>
    <span class="sg-label">#642667</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FFF7EC;"></span>
    <span class="sg-label">#FFF7EC</span>
  </li>
</ul>
<h2>Gradients</h2>
<ul class="sg-colors menu">
  <li>
    <span class="sg-swatch" style="background: #TKTKTK;"></span>
    <span class="sg-label">#TKTKTK</span>
  </li>
</ul>
