<p>Primary font: "proxima-nova", "Lucida Grande", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;</p>
<p><em>Primary font italic: "proxima-nova", "Lucida Grande", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;</em></p>
<p><strong>Primary font bold: "proxima-nova", "Lucida Grande", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;</strong></p>
<p class="font--secondary">Secondary font: Georgia, "Times New Roman", Times, serif;</p>
<p class="font--secondary"><em>Secondary font italic: Georgia, "Times New Roman", Times, serif;</em></p>
<p class="font--secondary"><strong>Secondary font bold: Georgia, "Times New Roman", Times, serif;</strong></p>
<p class="font--monospace">Monospace font: Georgia, "Times New Roman", Times, serif;</p>
