&lt;a href=&quot;{{ url }}&quot; class=&quot;vertical-link {{ styleModifier }} {{ icon-class }}&quot;&gt;
  &lt;div class=&quot;vertical-link__figure&quot;&gt;
    {{# has-figure }}{{&gt; atoms-square }}{{/ has-figure }}
  &lt;/div&gt;
  &lt;div class=&quot;vertical-link__body&quot;&gt;
    &lt;strong&gt;{{ action-text }}&lt;/strong&gt;
  &lt;/div&gt;
&lt;/a&gt;
