&lt;div class=&quot;responsive-iframe responsive-iframe--16x9 {{ styleModifier }}&quot;&gt;
	&lt;iframe src=&quot;https://www.youtube.com/embed/{{ video-id }}&quot; width=&quot;{{video-width}}&quot; height=&quot;{{video-height}}&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;
&lt;/div&gt;