<div class="wysiwyg-feature-block {{ styleModifier }}">
  <h3 class="wysiwyg-feature-block__title">{{ wysiwyg-feature-block.title }}</h3>
  <div class="wysiwyg-feature-block__body">
    {{{ wysiwyg-feature-block.text }}}
  </div>
</div>
