<div class="person-feature clearfix {{ styleModifier }}">
  <div class="person-feature__image">
    <img src="{{ img.thumbnail.src }}" alt="{{ img.thumbnail.alt }}"/>
  </div>
  <h2 class="person-feature__name">{{{ name }}}</h2>
  <h3 class="person-feature__title">{{{ title }}}</h3>
  <div class="person-feature__body">
    {{{ text }}}
  </div>
  <div class="person-feature__link">
    <a href="{{ url }}">{{{ url-label }}}</a>
  </div>
</div>
