{{&gt; molecules-primary-nav }}
		&lt;article class=&quot;medium-10 medium-offset-1 large-8 large-offset-2 columns&quot;&gt;
			&lt;header class=&quot;article-header&quot;&gt;
				{{&gt; molecules-headline }}
				{{&gt; molecules-byline }}
			&lt;/header&gt;
			{{# article-body }}
				&lt;p class=&quot;intro&quot;&gt;{{ intro }}&lt;/p&gt;
				&lt;p&gt;{{ main-text-p-1 }}&lt;/p&gt;
				{{&gt; atoms-landscape-16x9 }}
				&lt;p&gt;{{ main-text-p-2 }}&lt;/p&gt;
				{{&gt; atoms-blockquote }}
				&lt;p&gt;{{ main-text-p-3 }}&lt;/p&gt;
			{{/ article-body }}
		&lt;/article&gt;
		{{&gt; molecules-social-share }}
	{{&gt; organisms-footer }}
