&lt;!-- Use molecules-simple-list-event for lists --&gt;
&lt;section class=&quot;pane-title--icon pane-title--bullhorn&quot;&gt;
  &lt;h2 class=&quot;pane-title&quot;&gt;&lt;span class=&quot;pane-title--weighted&quot;&gt;Events&lt;/span&gt;&lt;/h2&gt;
  {{# listItems-events }}
    {{&gt; molecules-simple-list-event }}
  {{/ listItems-events}}
  &lt;a href=&quot;{{ url }}&quot; class=&quot;view-all&quot;&gt;see all &gt;&gt;&lt;/a&gt;
&lt;/section&gt;
