&lt;div class=&quot;social-follow-small&quot;&gt;
  &lt;h3 class=&quot;pane-title&quot;&gt;Follow UC Davis&lt;/h3&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a class=&quot;social-follow-small__facebook&quot; title=&quot;Facebook&quot; href=&quot;{{ url }}&quot;&gt;Follow on Facebook&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;social-follow-small__twitter&quot; title=&quot;Twitter&quot; href=&quot;{{ url }}&quot;&gt;Follow on Twitter&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;social-follow-small__instagram&quot; title=&quot;Instagram&quot; href=&quot;{{ url }}&quot;&gt;Follow on Instagram&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;social-follow-small__youtube&quot; title=&quot;YouTube&quot; href=&quot;{{ url }}&quot;&gt;Follow on YouTube&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class=&quot;social-follow-small__googleplus&quot; title=&quot;Google Plus&quot; href=&quot;{{ url }}&quot;&gt;Follow on Google Plus&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;