{{> molecules-primary-nav }}
{{> molecules-label-toolbar }}
<section>
	<div class="verify-overlay">
		<span>This is what the marked text says. I checked it myself.</span>
	</div>
	{{> atoms-hero-image }}
</section>
{{> organisms-admin-label-info-card }}
{{> organisms-footer }}
